<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="shortcut icon" href="__IMG__/favicon.ico" />
	<link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
	<title>登录</title>
	<link rel="stylesheet" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/chat-index.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
	<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<style>
		#verify_img{position: relative;top: -6px;left: 2px;}
		.code{cursor: pointer;}
	</style>
</head>
<body>
<div class="login_top"></div>
<div class="login_main">
	<form id="form_login" action="{:url('')}" method="post">
	<div class="form_box">
		<div class="form_main">
			<div><img src="__IMG__/logo.png" alt="" /></div>
			<p><img src="__IMG__/icon_l01.png" alt="" /><input type="text" name="username" placeholder="请输入用户名" onkeydown="KeyDown()"/></p>
			<p><img src="__IMG__/icon_l02.png" alt="" /><input type="password" name="password" placeholder="请输入密码" onkeydown="KeyDown()"/></p>
			<p class="code_box"><img src="__IMG__/icon_l03.png" alt="" /><input name="verifyCode" type="text" placeholder="请输入验证码" onkeydown="KeyDown()"/><i class="code"><img id="verify_img" src="{:captcha_src()}" alt="验证码" onclick="refreshVerify()"></i></p>
			<!--<h4	 class="clearfix padding_lr10">-->
				<!--<a href="{:url('reg')}" class="left">立即注册</a><a href="" class="right" style="padding-right: 30px;">忘记密码?</a>-->
			<!--</h4>-->
			<div class="clearfix padding_10">
				<a href="javascript:void(0);" class="login_a " onclick="login()">登录</a>
				<!--<a href="javascript:void(0);" class="login_a " onclick="freeTry()">免费试玩</a>-->
			</div>
		</div>
	</div>
	</form>
</div>
<script>
    function KeyDown(){
        if (event.keyCode == 13)  {
            event.returnValue=false;
            event.cancel = true;
            login()
        }
    }
    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        $('#verify_img').attr("src", "/captcha?id="+ts);
    }
    function login() {
        var self = $('#form_login'),
            rules = {
                username : {
                    required : true,
                    stringCheck : true
                },
                password : {
                    required : true,
                    rangelength : [6,10],
                    stringCheck : true
                },
                verifyCode : {
                    required : true,
                    rangelength : [4,4]
                }
            },
            messages = {
                username : {
                    required : '请输入登陆账号',
                    stringCheck : '账号不存在'
                },
                password : {
                    required : '请输入密码',
                    rangelength : '密码错误',
                    stringCheck : '密码错误'
                },
                verifyCode : {
                    required : '请输入验证码',
                    rangelength : '验证码不正确'
                }
            };
        if(!check_validate(self,rules,messages).form()){
            return false;
        }
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;
        function success(data) {
            if (data.code == 1) {
                pop(data.msg,data.url,1);
            } else {
                pop(data.msg);
                refreshVerify();
            }
        }
    }
    var freeTryCheck = true;
    function freeTry(){
        if(!freeTryCheck){
            return;
		}
        freeTryCheck = false;
        $.post("{:url('freeTry')}", {}, success, "json");
        return false;
        function success(data) {
            if (data.code == 1) {
                pop('登陆成功',data.url,1);
            } else {
                pop(data.msg);
                freeTryCheck = true;
            }
        }
	}
</script>
</body>
</html>