{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
<style>
    .table td{
        height: 42px;
        font-size: 2ch;
    }
</style>
{/block}
{block name="main"}
<!--body wrapper start-->
<!--<div class="wrapper">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--&lt;!&ndash;breadcrumbs start &ndash;&gt;-->
            <!--<ul class="breadcrumb panel">-->
                <!--<li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>-->
                <!--<li><a href="{:url('index')}">首页</a></li>-->
            <!--</ul>-->
            <!--<form class="form-inline" action="{:url('')}">-->
                <!--<div class="form-group">-->
                    <!--<div class="col-md-5">-->
                        <!--<div class="input-group  custom-date-range">-->
                            <!--<input type="text" class="form-control form_datetime" value="{$_GET['from'] ??  ''}" name="from" placeholder="开始时间">-->
                            <!--<span class="input-group-addon">到</span>-->
                            <!--<input type="text" class="form-control form_datetime" value="{$_GET['to'] ?? ''}" name="to" placeholder="结束时间">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>-->
                <!--</div>-->
            <!--</form>-->
            <!--&lt;!&ndash;breadcrumbs end &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12 " style="text-align: center">
                        <div class="form-group">
                            <h4 style="text-align: center">今日统计</h4>
                        </div>
                </header>
                <div class="panel-body">
                    <form class="ids" action="{:url('')}" method="post">
                        <table class="table" style="text-align: center;" float="left">
                            <tbody>
                            <tr >
                                <td>总盈利统计</td>
                                <td>用户金额：{$all.balance|default="0.00"}</td>
                                <td>今日盈利：{$all.win|default="0.00"}</td>
                                <td>昨日盈利：{$all.win_2|default="0.00"}</td>
                            </tr>
                            {volist name="halls" id="vo"}
                            <tr >
                                <td>{$vo.cate_name}-{$vo.name}</td>
                                <td>今日盈亏：{$vo.win|default="0.00"}</td>
                                <td>今日下注数：{$vo.bet_num|default="0.00"}</td>
                                <td>今日下注总额：{$vo.bet|default="0.00"}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </form>
                </div>
            </section>
        </div>
    </div>
<!--</div>-->
<!--body wrapper end-->
<!-- Modal -->
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}


