<div class="show">
    <a href="{:url('index/index')}"><span>首页</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Pcdd/index',['cate'=>1,'hall'=>1])}" {if $controllerName eq 'pcdd'}class="selected"{/if}><span>PC蛋蛋</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Jndeb/index',['cate'=>2,'hall'=>1])}" {if $controllerName eq 'jndeb'}class="selected"{/if}><span>加拿大28</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Car/index',['cate'=>5,'hall'=>1])}" {if $controllerName eq 'car'}class="selected"{/if}><span>北京赛车(PK10)</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Xyft/index',['cate'=>7,'hall'=>1])}" {if $controllerName eq 'xyft'}class="selected"{/if}><span>幸运飞艇</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Cqssc/index',['cate'=>3,'hall'=>1])}" {if $controllerName eq 'cqssc'}class="selected"{/if}><span>重庆时时彩</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Xglhc/index',['cate'=>8,'hall'=>1])}" {if $controllerName eq 'xglhc'}class="selected"{/if}><span>香港六合彩</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Mssc/index',['cate'=>6,'hall'=>1])}" {if $controllerName eq 'mssc'}class="selected"{/if}><span>极速赛车</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Msssc/index',['cate'=>4,'hall'=>1])}"  {if $controllerName eq 'msssc'}class="selected"{/if}><span>极速时时彩</span> <i class="editbtn" style="display: none;"></i></a>
</div>