<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item {eq name='controllerName' value='index'}mui-active{/eq}" href="{:url('Index/index')}">
        <span class="mui-icon"><img src="__IMG__/ico01.png"/></span>
        <span class="mui-tab-label">大厅</span>
    </a>
    <a class="mui-tab-item {eq name='controllerName' value='refill'}mui-active{/eq}" href="{:url('Refill/index')}">
        <span class="mui-icon"><img src="__IMG__/ico02.png"/></span>
        <span class="mui-tab-label">充值</span>
    </a>
    <a class="mui-tab-item {eq name='controllerName' value='withdrawals'}mui-active{/eq}" href="{:url('Withdrawals/index')}">
        <span class="mui-icon "><img src="__IMG__/ico03.png"/></span>
        <span class="mui-tab-label">提现</span>
    </a>
    <a class="mui-tab-item {eq name='controllerName' value='center'}mui-active{/eq}" href="{:url('Center/index')}">
        <span class="mui-icon "><img src="__IMG__/ico04.png" alt="" /></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>