<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>PC蛋蛋</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
</head>
<body style="background: #E5BCC3;">
<div class="mui-inner-wrap mui-transitioning main">
	<header class="">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mg_top10 color_ff"></a>
		<h1 class="mui-title mui-pull-left color_ff">
			<span class="left">PC蛋蛋 <a href="javascript:void(0);"><img class="menu_img" src="__IMG__/wap/muen.png" alt="" /></a></span>
		</h1>
		{include file="common/top_list" /}
	</header>
	<div class="mui-content">
		<ul class="mui-clearfix game_box1">
			<li class="active"><a href="javascript:void(0);">投注区</a></li>
			<li><a href="javascript:void(0);">聊天室</a></li>
		</ul>
		<div class="game_box2 padding_tb10 bor_bd7">
			<div class="clearfix ">
				<p class="left game_B2L cur_turn_num"></p>
				<div id="result_balls"  class="left game_B2R">
					<p>
						<i class="round1">0</i>
						<i class="round1">0</i>
						<i class="round1">0</i>
						<span class="color_ff">=</span>
						<i class="round1">0</i>
					</p>
				</div>
			</div>
		</div>
		<div class="game_box2 padding_tb10 bor_bd7">
			<div class="clearfix ">
				<p class="left game_B2L" id="next_turn_num"></p>
				<div class="left game_B2R">
					<div class="clearfix left">
						<span class="left lin_30">封盘：</span>
						<div class="colockbox clearfix left" id="bet-date">
							<span class="minute"></span>
							<span class="second"></span>
						</div>
						</span>
					</div>
					<div class="clearfix left">
						<span class="left lin_30 mg_left10">开奖：</span>
						<div class="colockbox clearfix left" id="open-date">
							<span class="minute"></span>
							<span class="second"></span>
						</div>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="game_box3 mui-clearfix">
			<ul class="left game_B3L">
				<li class="active"><a href="javascript:void(0);"><i class="round_small"></i> 混合</a></li>
				<li><a href="javascript:void(0);"><i class="round_small"></i> 特码</a></li>
			</ul>
			<div class="game_tab left">
				<div class="tab_box active">
					<h4 class="mui-text-center padding_10 bor_bd7">混合</h4>
					<ul class="mui-clearfix two" data-target-type="1" data-target-num="混合">
						<li data-num="大"><a href="javascript:void(0);">大<i data-id="62" class="odds"></i></a></li>
						<li data-num="小"><a href="javascript:void(0);">小<i data-id="62" class="odds"></i></a></li>
						<li data-num="单"><a href="javascript:void(0);">单<i data-id="62" class="odds"></i></a></li>
						<li data-num="双"><a href="javascript:void(0);">双<i data-id="62" class="odds"></i></a></li>
					</ul>
					<ul class="mui-clearfix three" data-target-type="1" data-target-num="混合">
						<li data-num="极大"><a href="javascript:void(0);">极大<i data-id="64" class="odds"></i></a></li>
						<li data-num="极小"><a href="javascript:void(0);">极小<i data-id="64" class="odds"></i></a></li>
						<li data-num="豹子"><a href="javascript:void(0);">豹子<i data-id="65" class="odds"></i></a></li>
					</ul>
					<ul class="mui-clearfix three" data-target-type="2" data-target-num="波色">
						<li data-num="红波"><a href="javascript:void(0);">红波<i data-id="66" class="odds"></i></a></li>
						<li data-num="绿波"><a href="javascript:void(0);">绿波<i data-id="66" class="odds"></i></a></li>
						<li data-num="蓝波"><a href="javascript:void(0);">蓝波<i data-id="66" class="odds"></i></a></li>
					</ul>
				</div>
				<div class="tab_box">
					<h4 class="mui-text-center padding_10 bor_bd7">特码</h4>
					<ul class="mui-clearfix three" data-target-type="3" data-target-num="特码">
						<li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="67" class="odds"></i></a></li>
						<li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="68" class="odds"></i></a></li>
						<li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="69" class="odds"></i></a></li>
						<li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="70" class="odds"></i></a></li>
						<li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="71" class="odds"></i></a></li>
						<li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="72" class="odds"></i></a></li>
						<li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="73" class="odds"></i></a></li>
						<li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="74" class="odds"></i></a></li>
						<li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="75" class="odds"></i></a></li>
						<li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="76" class="odds"></i></a></li>
						<li data-num="10"><a href="javascript:void(0);"><span class="round1">10</span><i data-id="77" class="odds"></i></a></li>
						<li data-num="11"><a href="javascript:void(0);"><span class="round1">11</span><i data-id="78" class="odds"></i></a></li>
						<li data-num="12"><a href="javascript:void(0);"><span class="round1">12</span><i data-id="79" class="odds"></i></a></li>
						<li data-num="13"><a href="javascript:void(0);"><span class="round1">13</span><i data-id="80" class="odds"></i></a></li>
						<li data-num="14"><a href="javascript:void(0);"><span class="round1">14</span><i data-id="80" class="odds"></i></a></li>
						<li data-num="15"><a href="javascript:void(0);"><span class="round1">15</span><i data-id="79" class="odds"></i></a></li>
						<li data-num="16"><a href="javascript:void(0);"><span class="round1">16</span><i data-id="78" class="odds"></i></a></li>
						<li data-num="17"><a href="javascript:void(0);"><span class="round1">17</span><i data-id="77" class="odds"></i></a></li>
						<li data-num="18"><a href="javascript:void(0);"><span class="round1">18</span><i data-id="76" class="odds"></i></a></li>
						<li data-num="19"><a href="javascript:void(0);"><span class="round1">19</span><i data-id="75" class="odds"></i></a></li>
						<li data-num="20"><a href="javascript:void(0);"><span class="round1">20</span><i data-id="74" class="odds"></i></a></li>
						<li data-num="21"><a href="javascript:void(0);"><span class="round1">21</span><i data-id="73" class="odds"></i></a></li>
						<li data-num="22"><a href="javascript:void(0);"><span class="round1">22</span><i data-id="72" class="odds"></i></a></li>
						<li data-num="23"><a href="javascript:void(0);"><span class="round1">23</span><i data-id="71" class="odds"></i></a></li>

					</ul>
					<ul class="mui-clearfix two">
						<li data-num="24"><a href="javascript:void(0);"><span class="round1">24</span><i data-id="81" class="odds"></i></a></li>
						<li data-num="25"><a href="javascript:void(0);"><span class="round1">25</span><i data-id="69" class="odds"></i></a></li>
						<li data-num="26"><a href="javascript:void(0);"><span class="round1">26</span><i data-id="68" class="odds"></i></a></li>
						<li data-num="27"><a href="javascript:void(0);"><span class="round1">27</span><i data-id="82" class="odds"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav class="foot ">
		<div class="clearfix">
			<div class="left FootL">
				已选中<span class="red" id="betTotalNum">0</span>注
				<input type="number" class="bet-money" oninput="changeVale(this)" value="1" placeholder="输入金额" />
			</div>
			<div class="right FootR">
				<a href="javascript:void(0);" class="bet_a betTab">下注</a>
				<a href="javascript:void(0);" class="betReset">重置</a>
			</div>
		</div>
	</nav>
	<div class="rule_box">
		<h4 class="mui-h4 mui-text-center mui-clearfix">PC蛋蛋  <a class="mui-pull-right" href="javascript:void(0);"><img class="close" src="__IMG__/wap/close.png"/></a></h4>
		<p>
			大：三个位置的数值相加和大于等于14,15,16,17,18,19,20,21,22,23,24,25,26,27为大。<br />
			小：三个位置的数值相加和小于等于00,01,02,03,04,05,06,07,08,09,10,11,12,13为小。<br />
			单：三个位置的数值相加和为单就为单。<br />
			双：三个位置的数值相加和为双就为双。<br />
			极大（三个数值和）：23,24,25,26,27为极大。<br />
			极小（三个数值和）：00,01,02,03,04为极小。<br />
			红波（三个数值和）：03,06,09,12,15,18,21,24为红波。<br />
			绿波（三个数值和）：01,04,07,10,16,19,22,25为绿波。<br />
			蓝波（三个数值和）：02,05,08,11,17,20,23,26为蓝波。<br />
			注:当开奖结果为：0,13,14,27(所有买的波色皆输)视为全部不中奖！<br />
			豹子：當期開出三個數字相同即為豹子<br />
			特码（三个数值和）：單選取一個數字投注。<br />
		</p>
	</div>
	{include file="common/bet_list" /}
	<div class="overlay"></div>
</div>
{include file="common/menu" /}
{include file="pcdd/js" /}
</body>
</html>
