<!--<div class="count-wrap">-->
	<!--<table id="stat_qiu" class="u-table2">-->
		<!--<thead>-->
		<!--<tr>-->
			<!--<th class="u-tb3-th2 select">冠军</th>-->
			<!--<th class="u-tb3-th2">亚军</th>-->
			<!--<th class="u-tb3-th2">第三名</th>-->
			<!--<th class="u-tb3-th2">第四名</th>-->
			<!--<th class="u-tb3-th2">第五名</th>-->
			<!--<th class="u-tb3-th2">第六名</th>-->
			<!--<th class="u-tb3-th2">第七名</th>-->
			<!--<th class="u-tb3-th2">第八名</th>-->
			<!--<th class="u-tb3-th2">第九名</th>-->
			<!--<th class="u-tb3-th2">第十名</th>-->
		<!--</tr>-->
		<!--</thead>-->
	<!--</table>-->
	<!--<table class="u-table4">-->
		<!--<tbody>-->
		<!--<tr>-->
			<!--<td class="f1 fwb">1</td>-->
			<!--<td class="f1 fwb">2</td>-->
			<!--<td class="f1 fwb">3</td>-->
			<!--<td class="f1 fwb">4</td>-->
			<!--<td class="f1 fwb">5</td>-->
			<!--<td class="f1 fwb">6</td>-->
			<!--<td class="f1 fwb">7</td>-->
			<!--<td class="f1 fwb">8</td>-->
			<!--<td class="f1 fwb">9</td>-->
			<!--<td class="f1 fwb">10</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td>6</td>-->
			<!--<td>5</td>-->
			<!--<td>9</td>-->
			<!--<td>10</td>-->
			<!--<td>13</td>-->
			<!--<td>14</td>-->
			<!--<td>6</td>-->
			<!--<td>12</td>-->
			<!--<td>14</td>-->
			<!--<td>10</td>-->
		<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
	<!--<table class="u-table2 mt5">-->
		<!--<thead>-->
		<!--<tr id="stat_type">-->
			<!--<th class="u-tb3-th2 select"> 冠军 </th>-->
			<!--<th class="u-tb3-th2"> 大小 </th>-->
			<!--<th class="u-tb3-th2"> 单双 </th>-->
			<!--<th class="u-tb3-th2"> 冠、亚军和 </th>-->
			<!--<th class="u-tb3-th2"> 冠、亚军和 大小 </th>-->
			<!--<th class="u-tb3-th2"> 冠、亚军和 单双 </th>-->
		<!--</tr>-->
		<!--</thead>-->
	<!--</table>-->
	<!--<div>-->
		<!--<table class="u-table4 table-td-valign-top">-->
			<!--<tbody>-->
			<!--<tr class="stattd" v-html="stat_html">-->
				<!--<td>3</td>-->
				<!--<td>8</td>-->
				<!--<td>6</td>-->
				<!--<td>5</td>-->
				<!--<td>7</td>-->
				<!--<td>3</td>-->
				<!--<td>10</td>-->
				<!--<td>3</td>-->
				<!--<td>10</td>-->
				<!--<td>2</td>-->
				<!--<td>6</td>-->
				<!--<td>8<br />8</td>-->
				<!--<td>1</td>-->
				<!--<td>4</td>-->
				<!--<td>9</td>-->
				<!--<td>6</td>-->
				<!--<td>1</td>-->
				<!--<td>6</td>-->
				<!--<td>8<br />8</td>-->
				<!--<td>7</td>-->
				<!--<td>5</td>-->
				<!--<td>2</td>-->
				<!--<td>6</td>-->
				<!--<td>5</td>-->
				<!--<td>9</td>-->
			<!--</tr>-->
			<!--</tbody>-->
		<!--</table>-->
	<!--</div>-->
<!--</div>-->