<script>
    var cate={$cate},hall={$hall};
    var timeCountDown = {
        getWinMessage : true,
        longPollingCheck : true,
        timeLapse : '',
        getCountDown:function(t,ts){
            var hour = Math.floor(t / 1000 / 60 / 60 % 24); //计算时
            var min = Math.floor(t / 1000 / 60 % 60); //计算分
            var sec = Math.floor(t / 1000 % 60);      //计算秒
            var ts_hour = Math.floor(ts / 1000 / 60 / 60 % 24); //计算时
            var ts_min = Math.floor(ts / 1000 / 60 % 60); //计算分
            var ts_sec = Math.floor(ts / 1000 % 60);      //计算秒
            if (t >= 3600000) {
                banBet('ban');return;
                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                if (ts_hour < 10) {
                    ts_hour = "0" + ts_hour;
                }
                if (ts_min < 10) {
                    ts_min = "0" + ts_min;
                }
                if (ts_sec < 10) {
                    ts_sec = "0" + ts_sec;
                }
                $('#open-date .minute').html(min);
                $('#open-date .second').html(sec);
                $('#bet-date .minute').html(ts_min);
                $('#bet-date .second').html(ts_sec);
            } else if (t >= 0) {
                if (t <= 30000) {    //30s后封盘
                    $('#fd').html('已封单').css('visibility', 'inherit');
                }
                if(t>300000){
                    banBet('ban');return;
                }
                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                if (ts_hour < 10) {
                    ts_hour = "0" + ts_hour;
                }
                if (ts_min < 10) {
                    ts_min = "0" + ts_min;
                }
                if (ts_sec < 10) {
                    ts_sec = "0" + ts_sec;
                }
                $('#open-date .minute').html(min);
                $('#open-date .second').html(sec);
                $('#bet-date .minute').html(ts_min);
                $('#bet-date .second').html(ts_sec);
            } else {
                var s = $('#next_turn_num').html().substr(0,$('#next_turn_num').html().length-1);
                clearInterval(timeCountDown.timeLapse);
                $('#lastBets .bets').html('');
                timeCountDown.getTime();
                timeCountDown.longPolling(s);
            }
        },
        getTime:function (s,n) {
            $.ajax({
                url: "{:url('Pcdd/getStage')}",
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (textStatus == "timeout") { // 请求超时
                        setTimeout(function(){
                            timeCountDown.getTime();
                        },3000); // 递归调用
                    }
                },
                success: function (data, textStatus) {
                    if (data) {
                        if(s,n){
                            var openStage = Number(s);
                            var stage = Number(data.stage_next)-1;
                            if(openStage != stage){
                                timeCountDown.longPolling(stage);
                            }
                            var sumV = 0;
                            $.each(n.split(','),function(k,v){
                                $('#result_balls i:eq('+k+')').html(v);
                                sumV = accAdd(sumV,v);
                            })
                            $('#result_balls i:eq(3)').html(sumV);
                            $('#result_balls i.squal1:eq(0)').html(dxJudgment(14,sumV));
                            $('#result_balls i.squal1:eq(1)').html(dsJudgment(sumV));
                            $('.cur_turn_num').html(openStage+'期');
                        }
                        $('#next_turn_num').html(data.stage_next+'期');
                        var t = data.dateline * 1000;
                        var ts = (data.dateline - 30) * 1000;
                        if(data.stage_next){
                            banBet();
                            timeCountDown.timeLapse = setInterval(function () {
                                timeCountDown.getCountDown(t,ts);
                                t = t - 1000;
                                if (ts <= 0) {
                                    ts = 0;
                                    banBet('ban');
                                } else {
                                    ts = ts - 1000;
                                }
                            }, 1000);
                        }else{
                            setTimeout(function(){
                                banBet('ban');
                                timeCountDown.getCountDown(-1,-1);
                            },30000);
                        }
                    } else {
                        setTimeout(function(){
                            timeCountDown.getTime();
                        },3000);
                    }
                }
            });
        },
        longPolling:function (stage) {
            if (timeCountDown.longPollingCheck) {
                timeCountDown.longPollingCheck = false;
            } else {
                return;
            }
            $.ajax({
                url: "{:url('Api/checkOpenPcdd')}",
                data: {stage: stage},
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    setTimeout(function () {
                        timeCountDown.longPollingCheck = true;
                        timeCountDown.longPolling(stage);
                    }, 3000);
                },
                success: function (data, textStatus) {
                    if (data.status == 1) { // 请求成功
                        var sumV = 0;
                        $.each(data.number.split(','),function(k,v){
                            $('#result_balls i:eq('+k+')').html(v);
                            sumV = accAdd(sumV,v);
                        })
                        $('#result_balls i:eq(3)').html(sumV);
                        $('#result_balls i.squal1:eq(0)').html(dxJudgment(14,sumV));
                        $('#result_balls i.squal1:eq(1)').html(dsJudgment(sumV));
                        $('.cur_turn_num').html(data.stage+'期');
                        setTimeout(function () {
                            timeCountDown.longPollingCheck = true;
                        }, 3000);
                    } else {
                        setTimeout(function () {
                            timeCountDown.longPollingCheck = true;
                            timeCountDown.longPolling(stage);
                        }, 3000);
                    }
                }
            });
        },
        getWinMessage : function(){
            $.ajax({
                url: "{:url('Api/checkWinMessage')}",
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                },
                success: function (data, textStatus) {
                    if (data.status == 1) { // 请求成功
                        var str = '';
                        $.each(data.data,function(k,v){
                            str += v.content+'<br>';
                        });
                        var type = 'rb',
                            text = str;
                        layer.open({
                            title:'<span class="win_message_alert_title">中奖信息</span>'
                            ,type: 1
                            ,offset: type
                            ,area:['308px','auto']
                            ,time:3000
                            ,id: 'layerDemo'+type
                            ,content: '<div class="win_message_alert">'+ text +'</div>'
                            ,btnAlign: 'c'
                            ,shade: 0
                            ,yes: function(){
                                layer.closeAll();
                            }
                        });
                        lotteryBetController.fresh();
                    }
                }
            });
        }
    }
    var lotteryBetController = {
        setOrderCheck : true,
        freshCheck : true,
        betTab : function(){
            if($('#stageStatus').attr('data-status')=='off'){
                pop('该期已封单，不能下单');
                return;
            }
            if(!$('.game_tab .tab_box li.active').length){
                pop('下注内容不正确，请重新下注单');
                return;
            }
            var str = '';
            var totalMoney = 0;
            var totalBet = 0;
            $.each($('.game_tab .tab_box li.active'),function(){
                var title = $(this).parent().attr('data-target-num');
                var titleType = $(this).parent().attr('data-target-type');
                var type = $(this).attr('data-num');
                var unitPrice = $(this).find('i.odds').html();
                var money = $('.bet-money').val();
                str += '<p data-target-type="'+titleType+'" data-target-odds="'+unitPrice+'" data-target-money="'+money+'" data-target-num="'+type+'" class="mg_top10 color_55">【'+title+'-'+type+'】'+unitPrice+'*'+money+'</p>';
                totalMoney = totalMoney*1 + money*1;
                totalBet ++;
            })
            $('#bcountVal').html(totalBet);
            $('#btotalVal').html(totalMoney);
            $('#betModalList').html(str);

            $(".Bet_list").fadeIn(200);
            $(".overlay").show();
            $(".overlay").css("height",$(document).height());
        },
        betReset : function(){
            $('.game_tab .tab_box li').removeClass('active');
            $('#betTotalNum').html(0);
            $("input.bet-money").val('');
        },
        setOrder : function (){
            if(!lotteryBetController.setOrderCheck){
                return;
            }
            var betData = {};
            var betDataArr = new Array();
            var check = true;
            if($('.Bet_list #betModalList p').length == 0){
                layer.closeAll();
                pop('下注内容不正确，请重新下注');
                return;
            }
            $.each($('.Bet_list #betModalList p'),function(k,v){
                betData = {};
                var t = $(v).attr('data-target-type');
                var n = $(v).attr('data-target-num');
                var o = $(v).attr('data-target-odds');
                var m = $(v).attr('data-target-money');
                if(t && n && o && m){
                    var value = parseInt(m);
                    if(value>0 && value == m){
                        betData['type'] = t;
                        betData['num'] = n;
                        betData['odds'] = o;
                        betData['money'] = m;
                        betDataArr.push(betData);
                    }else{
                        pop('投注金额错误');
                        check = false;
                    }
                }else{
                    layer.closeAll();
                    pop('数据异常');
                    check = false;
                }
            })
            if(check){
                $.ajax({
                    url: "{:url('betting')}",
                    data:  {'data':betDataArr,'cate':cate,'hall':hall},
                    type:'POST',
                    dataType: "json",
                    beforeSend:function(){ //触发ajax请求开始时执行
                        lotteryBetController.setOrderCheck = false;
                        $('.layui-layer-content .bet-loading').css('display','block');
                    },
                    success: function(data){
                        if(data.code == 1){
                            $('.Bet_list .cancel').click();
                            $('.betReset').click();
                            pop(data.msg);
                            lotteryBetController.fresh();
                        } else {
                            $('.cancel').click();
                            pop(data.msg);
                        }
                    },
                    error: function (textStatus) {
                        pop('服务器繁忙，请稍后再试');
                    },
                    complete: function(){
                        setTimeout(function(){
                            lotteryBetController.setOrderCheck = true;
                        },3000); // 递归调用
                    }
                });
            }else{
                return;
            }
        },
        oddsSet : function(){
            var pl = {:json_encode($oddsList)};
            var userPl = {:json_encode($mem)};
            var oddsArr = oddsCalculation(pl,userPl);
            $.each($('.game_tab .tab_box').find('i.odds'),function(k,v){
                var play_id = $(v).attr('data-id');
                // console.log(oddsArr);
                if(play_id) {
                    $(v).html(oddsArr[cate][play_id]['rate']);
                }
            })
        },
        fresh : function(){
            if(lotteryBetController.freshCheck == false){
                return;
            }
            $.ajax({
                url: "{:url('refresh')}",
                type:'POST',
                dataType: "json",
                beforeSend:function(){ //触发ajax请求开始时执行
                    lotteryBetController.freshCheck = false;
                },
                success: function(data){
                    if(data.code == 1){
                        $('#memMoney').html(data.data.money);
                        $('#memUnMoney').html(data.data.unpaid_money);
                    }
                },
                error: function (textStatus) {
                    setTimeout(function(){
                        lotteryBetController.freshCheck = true;
                        lotteryBetController.fresh();
                    },1000); // 递归调用
                },
                complete: function(){
                    setTimeout(function(){
                        lotteryBetController.freshCheck = true;
                    },3000); // 递归调用
                }
            });
        },
    }
    function banBet(data){
        if(data){
            $("#fen").show();
            $('#stageStatus').attr('data-status','off');
            $('.cont-col3-bd .amount input').attr('readonly',true);
            $('.cont-col3-bd .amount input').addClass('fengpan');
            $('.cont-col3-bd .u-table2 td.odds span').html('--');
            $('.cont-col3-bd .u-table2 td.amount input').val('封盘');
            $('.cont-col3-bd .u-table2 td').removeClass('bg_yellow');
        }else{
            $("#fen").hide();
            $('#stageStatus').attr('data-status','on');
            $('.cont-col3-bd .amount input').attr('readonly',false);
            $('.cont-col3-bd .amount input').removeClass('fengpan');
            $('.cont-col3-bd .u-table2 td.amount input').val('');
            lotteryBetController.oddsSet();
        }
    }
    $(function () {
        $('#stat_qiu .u-tb3-th2').click(function(){
            $('#stat_qiu .u-tb3-th2').removeClass('select');
            $(this).addClass('select');
            $('#stat_type th:eq(0)').html($(this).html());
            $('#stat_type th').removeClass('select');
            $('#stat_type th:eq(0)').addClass('select');
        });
        $('#stat_type .u-tb3-th2').click(function(){
            $('#stat_type .u-tb3-th2').removeClass('select');
            $(this).addClass('select');
        });
        setTimeout(function () {
            timeCountDown.getTime("{$openStage}","{$openNum}");
            $('#stat_qiu .u-tb3-th2:eq(0)').click();
        },300)
        $('.betTab').click(lotteryBetController.betTab);
        $('.betReset').click(lotteryBetController.betReset);
        setInterval(function(){
            // timeCountDown.getWinMessage();
            lotteryBetController.fresh();
        },10000)
    });
    function changeVale(_this){
        var val = $(_this).val();
        if(val.length<=6){
            $('.bet-money').val(val);
        }else{
            $('.bet-money').val(val.slice(0,6));
        }
    }
</script>