<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta HTTP-EQUIV="Expires" CONTENT="-1"> 
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <link rel="shortcut icon" href="__IMG__/favicon.ico" />
        <link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
        <title>鑫辉</title>
        <link rel="stylesheet" href="__CSS__/common.css">
        <link rel="stylesheet" type="text/css" href="__CSS__/chat-index.css"/>
        <link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
	</head>
	<body>
		<div class="main-body skin_red">
			{include file="common/index_top" /}
		    <div class="">
		    	<img class="width100" src="__IMG__/dtop.png" alt="" />
		    </div>
		    <div class="content" style="width: 800px;margin: 0 auto;">
		    	<ul class="clearfix code_ul">
		    		<li><a href="javascript:;"><img src="__IMG__/code_a.png" width=210 alt="" /><p>安卓客户端</p></a></li>
		    		<li><a href="javascript:;"><img src="__IMG__/code_e.png" width=210 alt="" /><p>苹果客户端</p></a></li>
		    	</ul>
		    </div>
		</div>   
		<footer class="text-center">
			<div class="mg_top10">
				<span>	联系方式：0063-09198888880 </span>  
				<span> E-mail： yf888com@gmail.com</span>
			</div>
			<div class="mg_top10"> Copyright  2017 鑫辉娱乐 版权所有 All Right Reserved</div>
			<div class="mg_top10">鑫辉娱乐郑重提示：彩票有风险，投注需谨慎，未满18周岁的青少年请自觉离开</div>
		</footer>
		<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			$(".lottery_box_one").hover(function(){
					$("#lottery_list").fadeIn(200);
				},function(){
					$("#lottery_list").fadeOut(200);
				})
			$(".agent").hover(function(){
					$("#agent_list").fadeIn(200);
				},function(){
					$("#agent_list").fadeOut(200);
				})
		</script>
	</body>
</html>
