
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="shortcut icon" href="__IMG__/favicon.ico" />
    <link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
    <title>生米国际</title>
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/chat-index.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
    <script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/layer.js" ></script>
</head>

<body>
	<div class="index-top">
	    <div class="text-right nav-top">
	   	  <input type="text" name="" id="" value=""  placeholder="用户账号"/>
	   	  <input type="password" name="" id="" value="" placeholder="密码" />
	   	  <span class="code-box">
	   	  	 <input type="text" name="" id="" value="" placeholder="验证码"/>
	   	  	 <img class="codeimg" src="" alt="" />
	   	  </span>
	   	  <a href="javascript:void(0);" class="login-a">登录</a>
	   	  <a href="javascript:void(0);" class="reg-a">注册</a>
	   	  <a href="javascript:void(0);" class="forget-psd-a">忘记密码？</a>
	    </div>
	</div>   
    <div class="nav">
	   	<div class="nav-list">
		   	<div class="clearfix">
		   	 	<img class="left" src="__IMG__/logo.png"/>
		   	 	<ul class="right clearfix nav-li">
		   	 		<li><a href="{:url('Index/index')}">彩票游戏<br />LOTTERY</a></li>
		   	 		<li class="active"><a href="{:url('Download/index')}">手机APP<br />ACTIVITY</a></li>
		   	 		<li><a href="javascript:void(0);">幸运抽奖<br />ANNOUNCEMENT</a></li>
		   	 		<li><a href="javascript:void(0);">游戏规则<br />GAMEINFORMATION</a></li>
		   	 		<li><a href="javascript:void(0);">在线服务<br />MOBILE</a></li>
		   	 	</ul>
		   	 </div>
	   </div>
   </div>
   <div class="bg_downlode">
   	  <div class="downlode-box">
   	  	<h3>手机APP</h3>
   	  	<p>多元化移动娱乐平台、警察随时随地、一切尽在掌握之中!</p>
   	  	<div class="clearfix code-dowon">
   	  		<div class="left">
   	  			<a href="javascript:void(0);">
   	  				<p class="code-box1"><img src="__IMG__/code-wechat.jpg" alt="" /> </p>
   	  				<p><img src="__IMG__/dwonlodeios.png" alt="" /></p>
   	  			</a>
   	  		</div>
   	  		<div class="left">
   	  			<a href="javascript:void(0);">
   	  				<p class="code-box1"><img src="__IMG__/code-wechat.jpg" alt="" /> </p>
   	  				<p><img src="__IMG__/dwonlodeaz.png" alt="" /></p>
   	  			</a>
   	  		</div>
   	  	</div>
   	  </div>
   </div>
    
    <div class="game-foot">
    	<img src="__IMG__/footer.png" alt="" />
    </div>
</body>
</html>




