<!DOCTYPE html>
<html lang="zh_ch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="__CSS__/style.css" rel="stylesheet">
    <link href="__CSS__/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.__JS__ IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">
    <form id="form" class="form-signin" action="{:url('login')}">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">生 米 后 台 管 理 系 统</h1>
            <img src="__IMG__/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder="用户名" autofocus>
            <input type="password" name="password" class="form-control" placeholder="密码">
            <button class="btn btn-lg btn-login btn-block" >
                <i class="fa fa-check"></i>
            </button>
            <span class="check-tips"></span>

        </div>
    </form>

</div>

<!-- Placed __JS__ at the end of the document so the pages load faster -->

<!-- Placed __JS__ at the end of the document so the pages load faster -->
<script src="__JS__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/modernizr.min.js"></script>
<script>
    $(function() {
        $("#form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(),success,"json");
            return false;

            function success(data){
                if(data.code){
                    window.location.href = data.url;
                } else {
                    self.find(".check-tips").text(data.msg);
                }
            }
        });
    })
</script>
</body>
</html>
