<script>
    var cate={$cate},hall={$hall};
    var timeCountDown = {
        longPollingCheck : true,
        timeLapse : '',
        getCountDown:function(t,ts){
            var hour = Math.floor(t / 1000 / 60 / 60 % 24); //计算时
            var min = Math.floor(t / 1000 / 60 % 60); //计算分
            var sec = Math.floor(t / 1000 % 60);      //计算秒
            var ts_hour = Math.floor(ts / 1000 / 60 / 60 % 24); //计算时
            var ts_min = Math.floor(ts / 1000 / 60 % 60); //计算分
            var ts_sec = Math.floor(ts / 1000 % 60);      //计算秒
            if (t >= 3600000) {
                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                if (ts_hour < 10) {
                    ts_hour = "0" + ts_hour;
                }
                if (ts_min < 10) {
                    ts_min = "0" + ts_min;
                }
                if (ts_sec < 10) {
                    ts_sec = "0" + ts_sec;
                }
                $('#open-date').html(min + ':' + sec);
                $('#bet-date').html(ts_min + ':' + ts_sec);
            } else if (t >= 0) {
                if (t <= 30000) {    //30s后封盘
                    $('#fd').html('已封单').css('visibility', 'inherit');
                }
                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                if (ts_hour < 10) {
                    ts_hour = "0" + ts_hour;
                }
                if (ts_min < 10) {
                    ts_min = "0" + ts_min;
                }
                if (ts_sec < 10) {
                    ts_sec = "0" + ts_sec;
                }
                $('#open-date').html(min + ':' + sec);
                $('#bet-date').html(ts_min + ':' + ts_sec);
            } else {
                var s = $('#next_turn_num').html();
                clearInterval(timeCountDown.timeLapse);
                $('#lastBets .bets').html('');
                timeCountDown.getTime();
                timeCountDown.longPolling(s);
            }
        },
        getTime:function (s,n) {
            $.ajax({
                url: "{:url('Xyft/getStage')}",
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (textStatus == "timeout") { // 请求超时
                        setTimeout(function(){
                            timeCountDown.getTime();
                        },3000); // 递归调用
                    }
                },
                success: function (data, textStatus) {
                    if (data) {
                        if(s,n){
                            var openStage = Number(s);
                            var stage = Number(data.stage_next)-1;
                            if(openStage != stage){
                                timeCountDown.longPolling(stage);
                            }
                            $.each(n.split(','),function(k,v){
                                $('#result_balls span:eq('+k+') b').attr('class','b'+parseInt(v));
                                $('#result_balls span:eq('+k+') b').html(v);
                            })
                            $('.cur_turn_num').html(openStage);
                        }
                        $('#next_turn_num').html(data.stage_next);
                        var t = data.dateline * 1000;
                        var ts = (data.dateline - 30) * 1000;
                        if(data.stage_next){
                            banBet();
                            timeCountDown.timeLapse = setInterval(function () {
                                timeCountDown.getCountDown(t,ts);
                                t = t - 1000;
                                if (ts <= 0) {
                                    ts = 0;
                                    banBet('ban');
                                } else {
                                    ts = ts - 1000;
                                }
                            }, 1000);
                        }else{
                            setTimeout(function(){
                                banBet('ban');
                                timeCountDown.getCountDown(-1,-1);
                            },30000);
                        }
                    } else {
                        setTimeout(function(){
                            timeCountDown.getTime();
                        },3000);
                    }
                }
            });
        },
        longPolling:function (stage) {
            if (timeCountDown.longPollingCheck) {
                timeCountDown.longPollingCheck = false;
            } else {
                return;
            }
            $.ajax({
                url: "{:url('Api/checkOpenXyft')}",
                data: {stage: stage},
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    setTimeout(function () {
                        timeCountDown.longPollingCheck = true;
                        timeCountDown.longPolling(stage);
                    }, 3000);
                },
                success: function (data, textStatus) {
                    if (data.status == 1) { // 请求成功
                        $.each(data.number.split(','),function(k,v){
                            $('#result_balls span:eq('+k+') b').attr('class','b'+parseInt(v));
                            $('#result_balls span:eq('+k+') b').html(v);
                        })
                        $('.cur_turn_num').html(data.stage);
                        setTimeout(function () {
                            timeCountDown.longPollingCheck = true;
                        }, 3000);
                    } else {
                        setTimeout(function () {
                            timeCountDown.longPollingCheck = true;
                            timeCountDown.longPolling(stage);
                        }, 3000);
                    }
                }
            });
        },
        getWinMessage : function(){
            $.ajax({
                url: "{:url('Api/checkWinMessage')}",
                type: 'POST',
                dataType: "json",
                timeout: 20000,//20秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                },
                success: function (data, textStatus) {
                    if (data.status == 1) { // 请求成功
                        var str = '';
                        $.each(data.data,function(k,v){
                            str += v.content+'<br>';
                        });
                        var type = 'rb',
                            text = str;
                        layer.open({
                            title:'<span class="win_message_alert_title">中奖信息</span>'
                            ,type: 1
                            ,offset: type
                            ,area:['308px','auto']
                            ,time:3000
                            ,id: 'layerDemo'+type
                            ,content: '<div class="win_message_alert">'+ text +'</div>'
                            ,btnAlign: 'c'
                            ,shade: 0
                            ,yes: function(){
                                layer.closeAll();
                            }
                        });
                        lotteryBetController.fresh();
                    }
                }
            });
        }
    }
    var lotteryBetController = {
        setOrderCheck : true,
        freshCheck : true,
        betTab : function(){
            if($('#stageStatus').attr('data-status')=='off'){
                pop('该期已封单，不能下单');
                return;
            }
            if(!$('.cont-col3-bd .amount.bg_yellow').length){
                pop('下注内容不正确，请重新下注单');
                return;
            }
            var str = '';
            var totalMoney = 0;
            var totalBet = 0;
            $.each($('.cont-col3-bd .amount.bg_yellow input'),function(){
                var title = $(this).parent().parent().parent().prev().find('tr th').html();
                var titleType =$(this).parent().parent().parent().prev().find('tr th').attr('data-target-type');
                var type = $(this).parent().prev().prev().attr('data-num');
                var unitPrice = $(this).parent().prev().find('span').html();
                var money = $(this).val();
                str += '<tr><td class="multiple" data-target-type="'+titleType+'" data-target-num="'+type+'" style="text-align: left; padding-left: 5px;">'+title+'  '+type+' </td>';
                str += '<td><span class="c-txt3">'+unitPrice+'</span></td>';
                str += '<td><input type="number" oninput="lotteryBetController.betTabChangeVale(this)" onpropertychange="lotteryBetController.betTabChangeVale(this)" class="el-tooltip" value="'+money+'" style="width: 85%;"></td>';
                str += '<td><input type="checkbox" onclick="lotteryBetController.betTabCheck(this)" checked></td></tr>';
                totalMoney = totalMoney*1 + money*1;
                totalBet ++;
            })
            $('#bcountVal').html(totalBet);
            $('#btotalVal').html(totalMoney);
            $('#betModalList').html(str);
            layer.open({
                type: 1,
                title:false,
                closeBtn: 0,
                shadeClose: true,
                resize:false,
                scrollbar:false,
                skin: 'layui-layer-rim', //加上边框
                area: ['500px',$('#betModal').height()], //宽高
                content: $('#betModal').html()
            });
        },
        betTabCheck : function (_this){
            var money = $(_this).parent().prev().find('input').val();
            var btotalVal = $('.layui-layer-content #btotalVal').html();
            var bcountVal = $('.layui-layer-content #bcountVal').html();
            if($(_this).attr('checked')){
                $('.layui-layer-content #bcountVal').html(bcountVal*1 + 1*1);
                $('.layui-layer-content #btotalVal').html(btotalVal*1+money*1);
            }else{
                $('.layui-layer-content #bcountVal').html(bcountVal - 1);
                $('.layui-layer-content #btotalVal').html(btotalVal*1-money*1);
            }
        },
        betTabChangeVale : function(_this){
            var val = $(_this).val();
            if(val.length<=6){
                $(_this).val(val);
            }else{
                $(_this).val(val.slice(0,6));
            }
            var totalNum = 0;
            $.each($(_this).parent().parent().siblings().find('td:eq(2) input'),function(){
                totalNum = totalNum*1 + $(this).val()*1;
            })
            $('.layui-layer-content #btotalVal').html(totalNum*1+val*1);
        },
        betReset : function(){
            $('.cont-col3-bd .amount input').val('');
            $('.cont-col3-bd table tr td').removeClass('bg_yellow');
        },
        setOrder : function (){
            if(!lotteryBetController.setOrderCheck){
                console.log(22);
                return;
            }
            var betData = {};
            var betDataArr = new Array();
            var check = true;
            if($('.layui-layer-content #betModalList tr').length == 0){
                layer.closeAll();
                pop('下注内容不正确，请重新下注');
                return;
            }
            $.each($('.layui-layer-content #betModalList tr'),function(k,v){
                betData = {};
                if($(v).find('td:eq(3) input').attr('checked')){
                    var t = $(v).find('td:eq(0)').attr('data-target-type');
                    var n = $(v).find('td:eq(0)').attr('data-target-num');
                    var o = $(v).find('td:eq(1) span').html();
                    var m = $(v).find('td:eq(2) input').val();
                    if(t && n && o && m){
                        var value = parseInt(m);
                        if(value>0 && value == m){
                            betData['type'] = t;
                            betData['num'] = n;
                            betData['odds'] = o;
                            betData['money'] = m;
                            betDataArr.push(betData);
                        }else{
                            pop('投注金额错误');
                            check = false;
                        }
                    }else{
                        layer.closeAll();
                        pop('数据异常');
                        check = false;
                    }
                }
            })
            if(check){
                $.ajax({
                    url: "{:url('betting')}",
                    data:  {'data':betDataArr,'cate':cate,'hall':hall},
                    type:'POST',
                    dataType: "json",
                    beforeSend:function(){ //触发ajax请求开始时执行
                        lotteryBetController.setOrderCheck = false;
                        $('.layui-layer-content .bet-loading').css('display','block');
                    },
                    success: function(data){
                        if(data.code == 1){
                            layer.closeAll();
                            pop(data.msg);
                            $('.betReset').click();
                            lotteryBetController.showList(data.data,betDataArr);
                            lotteryBetController.fresh();
                        } else {
                            pop(data.msg);
                        }
                    },
                    error: function (textStatus) {
                        pop('服务器繁忙，请稍后再试');
                    },
                    complete: function(){
                        lotteryBetController.setOrderCheck = true;
                    }
                });
            }else{
                return;
            }
        },
        oddsSet : function(){
            var pl = {:json_encode($oddsList)};
            var userPl = {:json_encode($mem)};
            var oddsArr = oddsCalculation(pl,userPl);
            $.each($('.cont-col3-bd .u-table2').find('td.odds'),function(k,v){
                var play_id = $(v).attr('data-id');
                if(play_id) {
                    $(v).find('span').html(oddsArr[cate][play_id]['rate']);
                }
            })
        },
        showList : function(data){
            var str = '';
            $.each(data,function(k,v){
                str += '<li>';
                str += '<p>期号：<span class="bid">'+v.stage+'</span></p>';
                str += '<p> 内容：<span class="text">'+v.typeName+' '+v.number+'</span>@ <span class="odds">'+v.odds+'</span></p>';
                str += '<p>金额：￥'+v.money+'</p>';
                str += '</li>';
            });
            $('#lastBets .bets').prepend(str);
        },
        fresh : function(){
            if(lotteryBetController.freshCheck == false){
                return;
            }
            $.ajax({
                url: "{:url('refresh')}",
                type:'POST',
                dataType: "json",
                beforeSend:function(){ //触发ajax请求开始时执行
                    lotteryBetController.freshCheck = false;
                },
                success: function(data){
                    if(data.code == 1){
                        $('#memMoney').html(data.data.money);
                        $('#memUnMoney').html(data.data.unpaid_money);
                    }
                },
                error: function (textStatus) {
                    setTimeout(function(){
                        lotteryBetController.freshCheck = true;
                        lotteryBetController.fresh();
                    },1000); // 递归调用
                },
                complete: function(){
                    setTimeout(function(){
                        lotteryBetController.freshCheck = true;
                    },3000); // 递归调用
                }
            });
        }
    }
    function banBet(data){
        if(data){
            $('.cont-col3-bd .amount input').attr('readonly',true);
            $('.cont-col3-bd .amount input').addClass('fengpan');
            $('.cont-col3-bd .u-table2 td.odds span').html('--');
            $('.cont-col3-bd .u-table2 td.amount input').val('封盘');
            $('#stageStatus').attr('data-status','off');
            $('.cont-col3-bd .u-table2 td').removeClass('bg_yellow');
        }else{
            $('#stageStatus').attr('data-status','on');
            $('.cont-col3-bd .amount input').attr('readonly',false);
            $('.cont-col3-bd .amount input').removeClass('fengpan');
            $('.cont-col3-bd .u-table2 td.amount input').val('');
            lotteryBetController.oddsSet();
        }
    }
    $(function () {
        dataIntegrationFun.setDataIntegration();
        $('#stat_qiu .u-tb3-th2').click(function(){
            $('#stat_qiu .u-tb3-th2').removeClass('select');
            $(this).addClass('select');
            $('#stat_type th:eq(0)').html($(this).html());
            // $('#stat_type th').removeClass('select');
            // $('#stat_type th:eq(0)').addClass('select');
            dataIntegrationFun.getDataIntegration();
        });
        $('#stat_type .u-tb3-th2').click(function(){
            $('#stat_type .u-tb3-th2').removeClass('select');
            $(this).addClass('select');
            dataIntegrationFun.getDataIntegration();
        });
        setTimeout(function () {
            timeCountDown.getTime("{$openStage}","{$openNum}");
            //lotteryBetController.oddsSet();
            $('#stat_qiu .u-tb3-th2:eq(0)').click();
            dataIntegrationFun.getCl();
        },1000)
        $('.betTab').click(lotteryBetController.betTab);
        $('.betReset').click(lotteryBetController.betReset);
        setInterval(function(){
            timeCountDown.getWinMessage();
        },10000)
    });
    function changeVale(_this){
        var val = $(_this).val();
        if(val.length<=6){
            $('.bet-money').val(val);
            $('.cont-col3-bd .amount.bg_yellow input').val(val);
        }else{
            $('.bet-money').val(val.slice(0,6));
            $('.cont-col3-bd .amount.bg_yellow input').val(val.slice(0,6));
        }
    }
    function aArrCreate(){
        var arr = [];
        arr[0] = [];
        arr[0] = arrCreate(10,0);
        arr[1] = [];
        arr[2] = [];
        arr[3] = [];
        return arr;
    }
    var dataIntegrationFun = {
        openList : {:json_encode($openList)},
        list : '',
        listTs : '',
        setDataIntegration : function(_this){
        var data = dataIntegrationFun.openList;
        var list = new Array(10);
        for(var i=0;i<10;++i){
            list[i] = aArrCreate();
        }
        var listTs = new Array(3);
        listTs[0] = [];
        listTs[1] = [];
        listTs[2] = [];
        $.each(data,function(k,v){
            var openNumArr = [];
            var dx = '',
                ds = '',
                zh,
                boxNum = 25;
            openNumArr = v['number'].split(',');
            for(var i=0;i<10;++i){
                var sitek = parseInt(openNumArr[i])-1;
                list[i][0][sitek]++;
                if(list[i][1][list[i][1].length-1]){
                    if(list[i][1][list[i][1].length-1].split(',')[0] == openNumArr[i]){
                        list[i][1][list[i][1].length-1] += ','+openNumArr[i];
                    }else{
                        list[i][1].push(openNumArr[i]);
                    }
                }else{
                    list[i][1].push(openNumArr[i]);
                }
                dx = dxJudgment(6,openNumArr[i]);
                if(list[i][2][list[i][2].length-1]){
                    if(list[i][2][list[i][2].length-1].split(',')[0]==dx) {
                        list[i][2][list[i][2].length - 1] += ',' + dx;
                    }else{
                        list[i][2].push(dx);
                    }
                }else{
                    list[i][2].push(dx);
                }
                ds = dsJudgment(openNumArr[i]);
                if(list[i][3][list[i][3].length-1]){
                    if(list[i][3][list[i][3].length-1].split(',')[0]==ds) {
                        list[i][3][list[i][3].length - 1] += ',' + ds;
                    }else{
                        list[i][3].push(ds);
                    }
                }else{
                    list[i][3].push(ds);
                }
            }
            zh = openNumArr[0]*1+openNumArr[1]*1;
            if(listTs[0].length <= boxNum) {
                zh = zh.toString();
                if (listTs[0][listTs[0].length - 1]) {
                    if (listTs[0][listTs[0].length - 1].split(',')[0] == zh) {
                        listTs[0][listTs[0].length - 1] += ',' + zh;
                    } else {
                        listTs[0].push(zh);
                    }
                } else {
                    listTs[0].push(zh);
                }
            }
            if(listTs[1].length <= boxNum) {
                dx = dxJudgment(11,zh);
                if (listTs[1][listTs[1].length - 1]) {
                    if (listTs[1][listTs[1].length - 1].split(',')[0] == dx) {
                        listTs[1][listTs[1].length - 1] += ',' + dx;
                    } else {
                        listTs[1].push(dx);
                    }
                } else {
                    listTs[1].push(dx);
                }
            }
            if(listTs[2].length <= boxNum) {
                ds = dsJudgment(zh);
                if (listTs[2][listTs[2].length - 1]) {
                    if (listTs[2][listTs[2].length - 1].split(',')[0] == ds) {
                        listTs[2][listTs[2].length - 1] += ',' + ds;
                    } else {
                        listTs[2].push(ds);
                    }
                } else {
                    listTs[2].push(ds);
                }
            }
        });
        dataIntegrationFun.list = list;
        dataIntegrationFun.listTs = listTs;
    },
        getDataIntegration : function(_this){
            var a = $('#stat_qiu th.select').index(_this);
            var b = $('#stat_type th.select').index(_this);
            var boxNum = 25;
            var str;
            $.each(dataIntegrationFun.list[a][0],function(k,v){
                $('#specialListOne td:eq('+k+')').html(v);
            });
            if(b<3){
                boxNum --;
                $.each(dataIntegrationFun.list[a][b*1+1],function(k,v){
                    str = '';
                    var vArr = v.split(',');
                    if(vArr.length>1){
                        $.each(vArr,function(k2,v2){
                            str += v2+'<br>';
                        })
                        $('#specialListTwo td:eq('+(boxNum - k)+')').html(str);
                    }else{
                        $('#specialListTwo td:eq('+(boxNum - k)+')').html(v);
                    }
                });
            }else{
                boxNum --;
                $.each(dataIntegrationFun.listTs[b-3],function(k,v){
                    str = '';
                    var vArr = v.split(',');
                    if(vArr.length>1){
                        $.each(vArr,function(k2,v2){
                            str += v2+'<br>';
                        })
                        $('#specialListTwo td:eq('+(boxNum - k)+')').html(str);
                    }else{
                        $('#specialListTwo td:eq('+(boxNum - k)+')').html(v);
                    }
                });
            }
        },
        getCl : function(){
            var list = dataIntegrationFun.list;
            var listName = ['冠军','亚军','第三名','第四名','第五名','第六名','第七名','第八名','第九名','第十名'];
            var listTs = dataIntegrationFun.listTs;
            var listTsName = ['冠、亚和','冠、亚和大小','冠、亚和单双'];
            var listData = [];
            console.log(list);
            $.each(list,function(k,v){
                for (var i=1;i<4;i++){
                    var arr = v[i][0].split(',');
                    if(arr.length>2){
                        listData.push(listName[k]+'-'+arr[0]+','+arr.length+'期');
                    }
                }
            })
            $.each(listTs,function(k,v){
                var arr = v[0].split(',');
                if(arr.length>2){
                    listData.push(listTsName[k]+'-'+arr[0]+','+arr.length+'期');
                }
            })
            if(listData.length){
                var str = '';
                $.each(listData,function(k,v){
                    var dataContent = v.split(',');
                    str += '<tr class="u-tb5-tr1"><th>'+dataContent[0]+'</th> <td class="statFont">'+dataContent[1]+'</td></tr>';
                })
                $('#stat_play_list').html(str);
            }
        }
    }
</script>