<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title>回水说明</title>
		<script src="__JS__/mui.min.js"></script>
		<link href="__CSS__/mui.min.css" rel="stylesheet"/>
	    <script type="text/javascript" charset="utf-8">
	      	mui.init();
	    </script>
	<style>
		td{
			color: #000;
		}
		p {
			color: #000;
		}
	</style>

	<body style="background: #fff;">

	    <div class="mui-content " style="background: #fff;">
			<div style="padding: 10px;">
				<h4 style="color: #387EFE;padding: 10px 0;">回水说明</h4>
				<p> 禁止刷回水，一经发现回水清零</p>
				<p> 三无玩家一律无回水</p>
				<p> 满足回水条件，系统于次日0点-4点</p>
				<p>	自动结算到您的账户</p>
			</div>
	    	<div class="two">
				<p style="padding: 10px;"><h4 style="color: #387EFE;padding: 10px 0;"  >回水比例说明:</h4></p>
	    		<table border="" cellspacing="" cellpadding="" style="width: 100%; margin: 20px auto;text-align: center">
	    			<tr>
	    				<th>亏损（当日）</th>
	    				<th>回水比例</th>
	    			</tr>
					{foreach $data as $k=>$v}
	    			<tr>
	    				<td>{$v.from}--{$v.to}</td>
	    				<td>{$v.back_water*100}%</td>
	    			</tr>
					{/foreach}
	    		</table>
	    	</div>
	    </div>
	</body>
</html>
