<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>充值</title>
    <script src="__JS__/jquery-1.6.2.min.js" ></script>
    <script src="__JS__/mui.min.js"></script>
    <script src="__JS__/index.js" ></script>
    <script src="__JS__/layer.js"></script>
    <script src="__JS__/common.js" ></script>
    <link href="__CSS__/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body id="recharge">

{include file="common/nav" /}
<div class="mui-content">
    <p class="mui-text-center recharge_pay" >充值支付</p>
    <div class="recharge-main ">
        <div class="recharge-wechat">
            <img src="__IMG__/pay.png"/>
            微信支付
        </div>
        <p>昵称：新天飞</p>
        <p>备注：</p>
        <h5>单笔支付满1~10000元，为方便存款请随时查看二维码，单笔支付满1~10000元，为方便存款请随时查看二维码</h5>
        <h4 class="mui-text-center">以下信息在你存款后填写</h4>
        <form id="from_add" action="{:url('add')}" method="post" class="recharge-form">
            <p>
                <label >
                    <span class="red1">*</span>
                    支付金额：
                </label>
                <input type="text" class="padding_lr10" name="money" value="" placeholder="支付金额"/>
            </p>
            <p>
                <label >
                    <span class="red1">*</span>
                    转账昵称：
                </label>
                <input type="text" class="padding_lr10" name="name" value="" placeholder="转账昵称"/>
            </p>
            <p>
                <label >
                    <span class="red1" style="visibility: hidden">*</span>
                    转账备注：
                </label>
                <input type="text" class="padding_lr10" name="remark" value="" placeholder=""/>
            </p>
            <input type="submit"  value="确定"/>
        </form>
        <dl>
            <dt class="mui-pull-left"><img src="__IMG__/little02.png"/></dt>
            <dd class="mui-pull-left">
                <p>小美女<span><img src="__IMG__/my.png"/></span></p>
                <p> <span>四川</span> <span>成都</span></p>
            </dd>
        </dl>
        <p><img src="__IMG__/ewm.png" alt="" /></p>
        <p class="mui-text-center ">扫描二维码快速转账</p>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#from_add").submit(function(){
                var self = $(this);
                var name = self.find('input[name=money]').val();
                if(name==''){
                    pop('请输入支付金额');
                    return false;
                }
                $.post(self.attr("action"), self.serialize(),success,"json");
                self.find('input[type=submit]').attr('disabled',true);
                return false;
                function success(data){
                    if(data.code){
                        pop(data.msg,data.url)
                    } else {
                        $("#from_add").find('input[type=submit]').attr('disabled',false);
                        pop(data.msg)
                    }
                }
            });
        })
    </script>
</div>
</body>
</html>
