<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="shortcut icon" href="__IMG__/favicon.ico" />
    <link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
    <title>鑫辉</title>
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/chat-index.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
    <script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/layer.js" ></script>
</head>
<style type="text/css">
    .banner_box > div.left{width: 930px;float: left;    position: absolute;}
    .banner_box > div.right{width: 200px;float: right;}
    .announcement{
        width: 600px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba( 0,0,0,.3);
        padding: 10px 20px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    .title_ann{
        padding: 5px;
        border-bottom: 1px solid #D9D9D9;
    }
    .ann_main .font{
        line-height: 25px;
    }
</style>
<body>
<div class="main-body skin_red">
    {include file="common/index_top" /}
    <div class="index_main">
        <div class="clearfix banner_box" style="width: 1200px;margin: 0 auto;">
            <div class="left">
                <div id="banner"></div>
            </div>
            <div class="right">
                <div class="">
                    <h4 style="padding: 5px 30px;width: 166px;font-size: 16px;">公告</h4>
                    <div id="scrollDiv" class="right">

                        <ul class="notice">
                            {volist name="noticeList" id="nll"}
                            <li id="noticeList_{$nll.id}">
                                <a href="javascript:;" onclick='alertNoticeList(this)' class="linktit ">
                                    <span style="display: none">{$nll.info}</span>
                                    <span class="left text_ovf">{$nll.title}</span>
                                    <span class="right">{$nll.time}</span>
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="right download_box">
                    <a href="">
                        <img src="__IMG__/game4.png" alt="" style="width: 100%;"/>
                        <i><img src="__IMG__/img_f04.png" alt="" /></i>
                    </a>
                </div>
            </div>

        </div>
        <ul class="clearfix game_img">
            <li>
                <a href="{:url('car/index')}">
                    <img src="__IMG__/game1.png" alt="" />
                    <i><img src="__IMG__/img_f01.png" alt="" /></i>
                </a>
            </li>
            <li>
                <a href="{:url('Real/index?type=AG')}" target="_blank">
                    <img src="__IMG__/game2.png" alt="" />
                    <i><img src="__IMG__/img_f02.png" alt="" /></i>
                </a>
            </li>
            <li>
                <a href="{:url('Real/index?type=SS')}" target="_blank">
                    <img src="__IMG__/game3.png" alt="" />
                    <i><img src="__IMG__/img_f03.png" alt="" /></i>
                </a>
            </li>
        </ul>

    </div>
    <div class="footer text-center">
        <p>联系方式：0063-09198888880 E-mail： yfc888com@gmail.com        </p>
        <p class="mg_top10"> Copyright © 2017 鑫辉娱乐 版权所有 All Right Reserved</p>
        <p class="mg_top10">鑫辉娱乐郑重提示：彩票有风险，投注需谨慎，未满18周岁的青少年请自觉离开</p>
    </div>
</div>
<div id="announcement" style="display: none;">
<div class="announcement">
    <!--<h4 class="h4 text-center title_ann clearfix">公告</h4>-->
    <div class="ann_main">
        <h4 class="h4 red text-center padding_10 title"></h4>
        <p class="clearfix"><span class="right date"></span></p>
        <div class="font content">
        </div>
    </div>
</div>
</div>
<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.scrollBanner.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/banner.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $("#scrollDiv").Scroll({
            line: 1,
            speed: 200,
            timer: 2000
        });
        $(".lottery_box_one").hover(function(){
            $("#lottery_list").fadeIn(200);
        },function(){
            $("#lottery_list").fadeOut(200);
        })
        $(".agent").hover(function(){
            $("#agent_list").fadeIn(200);
        },function(){
            $("#agent_list").fadeOut(200);
        })

    });
    function alertNoticeList(_this){
        $('#announcement .title').html($(_this).find('span:eq(1)').html());
        $('#announcement .content').html($(_this).find('span:eq(0)').html());
        $('#announcement .date').html($(_this).find('span:eq(2)').html());
        layer.open({
            type: 1,
            title:'公告',
            skin: 'layui-layer-rim', //加上边框
            area: ['auto', 'auto'], //宽高
            content: $('#announcement').html()
        });
    }
</script>
</body>
</html>