<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>江苏快三</title>
    <script src="__JS__/jquery-1.6.2.min.js" ></script>
    <script src="__JS__/mui.min.js"></script>
    <script src="__JS__/index.js" ></script>
    <script src="__JS__/layer.js"></script>
    <script src="__JS__/common.js" ></script>
    <link href="__CSS__/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
        mui('.mui-scroll-wrapper').scroll();
    </script>
</head>
<body id="index">
<nav class="mui-bar mui-bar-tab" id="ico">
    <a class="mui-tab-item "  href="{:url('Index/index')}" >
        <span class="mui-icon" ><img src="__IMG__/ico_f01.png"/></span>
        <span class="mui-tab-label">大厅</span>
    </a>
    <a class="mui-tab-item  hall_car "  href="{:url('Ssc/index')}">
        <span class="mui-icon"><img  src="__IMG__/ico_f08.png"/></span>
        <span class="mui-tab-label">重庆时时彩</span>
    </a>
    <a class="mui-tab-item  hall_car "  href="race.html">
        <span class="mui-icon"><img  src="__IMG__/ico_f07.png"/></span>
        <span class="mui-tab-label">香港赛马</span>
    </a>
    <a class="mui-tab-item  hall_car "  href="{:url('Airship/index')}">
        <span class="mui-icon"><img  src="__IMG__/ico_f04.png"/></span>
        <span class="mui-tab-label">幸运飞艇</span>
    </a>
</nav>
<div class="mui-content" id="hall" style="margin-bottom: 40px;">
    <div class="hall_main0" >
        <div class="font_02">
            <img src="__IMG__/logo07.png" alt="" />
            <span class="clock">
					<strong id="minute_show">00</strong> :
					<strong id="second_show">00</strong>
				</span>
        </div>
        <p class="mui-text-center" id="fd" style="color: #fff;visibility: hidden;">开奖窗口</p>
        <div class="mui-clearfix">
            <p class="ru_tr mui-pull-right">
                <span class="record  "><a href="{:url('Center/tou')}" style="color: #fff;">记录</a></span>
                <span class="trend " >走势</span>
            </p>
            <p class="font_02_01">
                <span class="mui-pull-left">开奖时间：<i class="red1" id="dateline">{$dateline|date='H:i',###}</i>	</span>
                <span class="mui-pull-right">下一期：<i class="red1" id="stage_next">{$stage_next}</i></span>
            </p>
        </div>
        <p  class="padding_lr10 yellow2 result">
            第
            <span class="red1" id="stage">{$stage}</span>
            期开奖结果：
            <!--<i>龙</i>-->
            <!--<i>小</i>-->
            <!--<i>双</i>-->
        </p>
        <div class="winning ks ">
            {volist name='number' id='v'}
            <div>
                <dl class="mui-pull-left">
                    <dt id="wei_{$i-1}" class="BallNum">{$v}</dt>
                    <dd>{$wei[$i-1]}</dd>
                </dl>
                {if ($i eq 3)}
                <span class="mui-pull-left equal"><img src="__IMG__/equal.png"/></span>
                {else/}
                <span class="mui-pull-left"><img src="__IMG__/add.png"/></span>
                {/if}
            </div>
            {/volist}
            <div>
                <dl class="mui-pull-left">
                    <dt class="BallNum" id="wei_sum">{$number_sum}</dt>
                    <dd>和值</dd>
                </dl>
            </div>
        </div>
    </div>
    <table border="" cellspacing="" cellpadding="" class="hall_trend">
        <tr>
            <th colspan="4" style="text-align: left;padding-left: 10px;">
                北京赛车时时彩走势
                <span class="mui-pull-right remove">x</span>
            </th>
        </tr>
        <tbody id="tbody">
        </tbody>
    </table>
    <ul class="hall_main1 ">
        <span class="mui-pull-left"><i class="rule">规则</i> </span>
        <li data-name="one" class="active"><i> 和值</i> </li>
        <li data-name="two"><i> 三同号单选</i> </li>
        <li data-name="three"><i> 二同号复选</i> </li>
        <li data-name="four"><i> 三不同号</i> </li>
        <li data-name="five"><i> 三连号通选</i> </li>
    </ul>
    <div class="mui-clearfix hall_content">
        <div class="mui-pull-left hall_font special active" data-name="one">
            <form id="form_one" method="post" action="{:url('betting')}">
                <input type="hidden" value="1" name="type"/>
                <div class="hall_font_main active">
                    <div class="mui-clearfix">
                        <p class="hall_font1 mui-pull-left">猜和值 </p>
                        <p class="pay_money mui-pull-right">
                            <span class="mui-text-center">余额:</span>
                            <span class="red1 money_num"><i>{$users.money}</i>元</span>
                            <span class="red1 refresh">刷新</span>
                        </p>
                    </div>
                    <div class="package">
                        <ul class="hall_font2">
                            {for start="3" end="19"}
                            <li><i>{$i}<input type="checkbox" hidden  name="num" value="{$i}" data-bet="{:getBet(23)}" data-title=""></i></li>
                            {/for}
                        </ul>
                        <ul class="hall_font2 all font_12">
                            <li class="whole"><i>全</i></li>
                            <li class="clear"><i>清</i></li>
                        </ul>
                    </div>
                </div>
                <div class="hall_font_main " name="rule">
                    <p class="hall_font11 back_re" ><img src="__IMG__/back.png" alt="" /> 返回</p>
                    <p class="yellow1">【1~10球竞猜特码和值】</p>
                    <p>至少选择1个和值（3个号码之和）进行投注，所选和值与开奖的3个号码的和值相同即中奖</p>
                    <h6>
                        3-18  含本{:getOdds(54)}倍<br />
                        4-17  含苯{:getOdds(55)}倍<br />
                        5-16  含本{:getOdds(56)}倍<br />
                        6-15  含本{:getOdds(57)}倍<br />
                        7-14  含本{:getOdds(58)}倍<br />
                        8-13  含本{:getOdds(59)}倍<br />
                        9-12  含本{:getOdds(60)}倍<br />
                        10-11 含本{:getOdds(61)}倍<br />
                        限额：{:getBet(23)}
                    </h6>
                </div>
            </form>
        </div>
        <div class="mui-pull-left hall_font  special5 " data-name="two">
            <form id="form_two" method="post" action="{:url('betting')}">
                <input type="hidden" value="2" name="type"/>
                <div class="hall_font_main active">
                    <div class="mui-clearfix">
                        <p class="hall_font1 mui-pull-left"> 三同号单选 </p>
                        <p class="pay_money mui-pull-right">
                            <span class="mui-text-center">余额:</span>
                            <span class="red1 money_num"><i>{$users.money}</i>元</span>
                            <span class="red1 refresh">刷新</span>
                        </p>
                    </div>
                    <div class="package">
                        <ul class="hall_font2"style="padding-bottom: 100px;">
                            <li><i>111<input type="checkbox" hidden  name="num" value="111" data-bet="{:getBet(24)}" data-title=""></i></li>
                            <li><i>222<input type="checkbox" hidden  name="num" value="222" data-bet="{:getBet(24)}" data-title=""></i></li>
                            <li><i>333<input type="checkbox" hidden  name="num" value="333" data-bet="{:getBet(24)}" data-title=""></i></li>
                            <li><i>444<input type="checkbox" hidden  name="num" value="444" data-bet="{:getBet(24)}" data-title=""></i></li>
                            <li><i>555<input type="checkbox" hidden  name="num" value="555" data-bet="{:getBet(24)}" data-title=""></i></li>
                            <li><i>666<input type="checkbox" hidden  name="num" value="666" data-bet="{:getBet(24)}" data-title=""></i></li>
                        </ul>
                        <ul class="hall_font2 all font_12">
                            <li class="whole"><i>全</i></li>
                            <li class="clear"><i>清</i></li>
                        </ul>
                    </div>
                </div>
                <div class="hall_font_main" name="rule">
                    <p class="hall_font11 back_re" ><img src="__IMG__/back.png" alt="" /> 返回</p>
                    <p class="yellow1">【猜三同号单选】</p>
                    <p> 对相同的三个号码（111、222、333、444、555、666）中的任意一个进行投注，所选号码开出即中奖，单注奖金</p>
                    <h6>
                        例：111 222 333 444 555 666 <br />
                        赔率含本{:getOdds(62)}倍<br />
                        限额：{:getBet(24)}<br />
                    </h6>
                </div>
            </form>
        </div>
        <div class="mui-pull-left hall_font special5  "  data-name="three">
            <form id="form_three" method="post" action="{:url('betting')}">
                <input type="hidden" value="3" name="type"/>
                <div class="hall_font_main active">
                    <div class="mui-clearfix">
                        <p class="hall_font1 mui-pull-left">  猜二同号复选</p>
                        <p class="pay_money mui-pull-right">
                            <span class="mui-text-center">余额:</span>
                            <span class="red1 money_num"><i>{$users.money}</i>元</span>
                            <span class="red1 refresh">刷新</span>
                        </p>
                    </div>
                    <div class="package">
                        <ul class="hall_font2">
                            <li><i>11<input type="checkbox" hidden  name="num" value="11" data-bet="{:getBet(25)}" data-title=""></i></li>
                            <li><i>22<input type="checkbox" hidden  name="num" value="22" data-bet="{:getBet(25)}" data-title=""></i></li>
                            <li><i>33<input type="checkbox" hidden  name="num" value="33" data-bet="{:getBet(25)}" data-title=""></i></li>
                            <li><i>44<input type="checkbox" hidden  name="num" value="44" data-bet="{:getBet(25)}" data-title=""></i></li>
                            <li><i>55<input type="checkbox" hidden  name="num" value="55" data-bet="{:getBet(25)}" data-title=""></i></li>
                            <li><i>66<input type="checkbox" hidden  name="num" value="66" data-bet="{:getBet(25)}" data-title=""></i></li>
                        </ul>
                        <ul class="hall_font2 all font_12">
                            <li class="whole"><i>全</i></li>
                            <li class="clear"><i>清</i></li>
                        </ul>
                    </div>
                </div>
                <div class="hall_font_main" name="rule">
                    <p class="hall_font11 back_re"><img src="__IMG__/back.png" alt="" /> 返回</p>
                    <p class="yellow1">【 猜二同号复选】</p>
                    <p>从11～66中任选1个或多个号码，选号与奖号（包含11～66，不限顺序）相同，即中奖</p>
                    <h6>
                        例：11 22 33 44 55 <br />
                        赔率含本{:getOdds(63)}倍<br />
                        限额{:getBet(25)}
                    </h6>
                </div>
            </form>

        </div>
        <div class="mui-pull-left hall_font  special5" data-name="four">
            <form id="form_four" method="post" action="{:url('betting')}">
                <input type="hidden" value="4" name="type"/>
                <div class="hall_font_main active">
                    <div class="mui-clearfix">
                        <p class="hall_font1 mui-pull-left">猜三不同号  </p>
                        <p class="pay_money mui-pull-right">
                            <span class="mui-text-center">余额:</span>
                            <span class="red1 money_num"><i>{$users.money}</i>元</span>
                            <span class="red1 refresh">刷新</span>
                        </p>
                    </div>
                    <div class="package">
                        <ul class="hall_font2" style="padding-bottom: 100px;">
                            <li><i>1<input type="checkbox" hidden  name="num" value="1" data-bet="{:getBet(26)}" data-title=""></i></li>
                            <li><i>2<input type="checkbox" hidden  name="num" value="2" data-bet="{:getBet(26)}" data-title=""></i></li>
                            <li><i>3<input type="checkbox" hidden  name="num" value="3" data-bet="{:getBet(26)}" data-title=""></i></li>
                            <li><i>4<input type="checkbox" hidden  name="num" value="4" data-bet="{:getBet(26)}" data-title=""></i></li>
                            <li><i>5<input type="checkbox" hidden  name="num" value="5" data-bet="{:getBet(26)}" data-title=""></i></li>
                            <li><i>6<input type="checkbox" hidden  name="num" value="6" data-bet="{:getBet(26)}" data-title=""></i></li>
                        </ul>
                        <ul class="hall_font2 all font_12">
                            <li class="whole"><i>全</i></li>
                            <li class="clear"><i>清</i></li>
                        </ul>
                    </div>
                </div>
                <div class="hall_font_main " name="rule">
                    <p class="hall_font11 back_re" ><img src="__IMG__/back.png" alt="" /> 返回</p>
                    <p class="yellow1">【猜三不同号】</p>
                    <p>从1～6中任选3个或多个号码，所选号码与开奖号码的3个号码相同即中奖</p>
                    赔率含本{:getOdds(64)}倍<br />
                    限额{:getBet(26)}
                </div>
            </form>
        </div>
        <div class="mui-pull-left hall_font  " data-name="five">
            <form id="form_five" method="post" action="{:url('betting')}">
                <input type="hidden" value="5" name="type"/>
            <div class="hall_font_main active">
                <div class="mui-clearfix">
                    <p class="hall_font1 mui-pull-left">猜三连号通选  </p>
                    <p class="pay_money mui-pull-right">
                        <span class="mui-text-center">余额:</span>
                        <span class="red1 money_num"><i>{$users.money}</i>元</span>
                        <span class="red1 refresh">刷新</span>
                    </p>
                </div>
                <div class="package">
                    <ul class="hall_font2" style="padding-bottom: 100px;">
                        <li><i>123<input type="checkbox" hidden  name="num" value="123" data-bet="{:getBet(27)}" data-title=""></i></li>
                        <li><i>234<input type="checkbox" hidden  name="num" value="234" data-bet="{:getBet(27)}" data-title=""></i></li>
                        <li><i>345<input type="checkbox" hidden  name="num" value="345" data-bet="{:getBet(27)}" data-title=""></i></li>
                        <li><i>456<input type="checkbox" hidden  name="num" value="456" data-bet="{:getBet(27)}" data-title=""></i></li>
                    </ul>
                    <ul class="hall_font2 all font_12">
                        <li class="whole"><i>全</i></li>
                        <li class="clear"><i>清</i></li>
                    </ul>
                </div>
            </div>
            <div class="hall_font_main " name="rule">
                <p class="hall_font11 back_re" ><img src="__IMG__/back.png" alt="" /> 返回</p>
                <p class="yellow1">【猜三连号通选】</p>
                <p>   玩法提示：对所有3个相连的号码（123、234、345、456）进行投注，任意号码开出即中奖</p>
                <h6>
                    三连号同选<br />
                    赔率含本{:getOdds(65)}倍<br />
                    限额{:getBet(27)}<br />
                </h6>
            </div>
            </form>
        </div>
    </div>
    <div class="hall_font31 mui-scroll-wrapper">
        <input type="text" name="" id="money" value="" placeholder="下注金额" style="width: 33.33%;font-size: 12px;"/>
        <button>共<span id="zhu" class="red1">0</span>注</button>
        <button id="form_submit">确认</button>
    </div>
</div>
<script type="text/javascript">
    var opening =true;
    var flash =true;
    function getCountDown(){
        var timestamp = "{$dateline}";
        setInterval(function(){
            var nowTime = new Date();
            var endTime = new Date(timestamp * 1000);
            var t = endTime.getTime() - nowTime.getTime();
            if(t>600000){  //2-9.30 封盘
                opening = false;
                $('#fd').html('封盘中 8:40 - 22:10 开盘').css('visibility','inherit');
            }else if(t>=0){
                $('#fd').css('visibility','hidden');
                var min=Math.floor(t/1000/60%60); //计算分
                var sec=Math.floor(t/1000%60);      //计算秒
                if(t <= 30000){    //30s后封盘
                    opening = false;
                    $('#fd').html('已封单').css('visibility','inherit');
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                $('#minute_show').html(min);
                $('#second_show').html(sec);
            }else{
                if(flash){
                    flash= false;
                    $('#fd').html('开奖中...').css('visibility','inherit');
//                    (function longPolling() {
//                        $.ajax({
//                            url: "{:url('Api/checkOpenFast')}",
//                            data: {stage:$('#stage_next').html()},
//                            type:'POST',
//                            dataType: "json",
//                            timeout: 20000,//20秒超时，可自定义设置
//                            error: function (XMLHttpRequest, textStatus, errorThrown) {
//                                if (textStatus == "timeout") { // 请求超时
//                                    longPolling(); // 递归调用
//                                }
//                            },
//                            success: function (data, textStatus) {
//                                if (data.status == 1) { // 请求成功
//                                    $('#stage_next').html(data.stage_next);
//                                    $('#dateline').html(data.time_next);
//                                    $('#stage').html(data.stage);
//                                    $('#sum_dx').html(data.dx);
//                                    $('#sum_ds').html(data.ds);
//                                    var sum = 0;
//                                    var number = data.number.split(',')
//                                    $.each(number,function(i,k){
//                                        sum = sum + parseInt(k);
//                                        $('#wei_'+i).html(k);
//                                    });
//                                    $('#wei_sum').html(sum);
//                                    timestamp  =data.dateline;
//                                    flash = true;
//                                    opening = true;
//                                }
//                            }
//                        });
//
//                    })();

                }
            }
        },1000);
    }

    function ajax_from(self,current) {
        var number =[];
        var count_number=0;
        if(current == 'one' || current == 'two' || current == 'three'  ||  current == 'four'  || current == 'five'){
            self.find('input[name=num]:checked').each(function () {
                number.push($(this).val());
            });
            count_number = count_number + number.length;
        }else if(current == 'six'){
            var ge = self.find('.package').length;
            for (var i=1;i<=ge;i++)
            {
                var one = [];
                self.find('input[name=num_'+i+']:checked').each(function () {
                    one.push($(this).val());
                });
                count_number = count_number + one.length;
                number.push(one);
            }
        }
        if(current == 'four'){
            if(count_number < 3){
                pop('至少选择三个号码');
                return false;
            }
            number = threeOrder(number);
        }else if(count_number == 0){
            pop('至少选择一个号码');
            return false;
        }
        var money = $('#money').val();
        if(money == ''){
            pop('请填写投注金额');
            return false;
        }
        cpOpenMing(self,number,money)
    }
    /*彩票弹出*/
    function cpOpenMing(self,number,money) {
        var stage = $('#stage_next').html();
        var html = '<ul>';
        var open_ming = true;
        $.each(number,function (i,j) {
            if(jQuery.isArray(j)){
                if(open_ming  && j.length > 0){
                    $.each(j,function (k,v) {
                        if(self.selector == "#form_three"){
                            var bet = self.find('.package').find('input[value='+v+']').attr('data-bet');
                            var title = self.find('.package').find('input[value='+v+']').attr('data-title');
                        }else{
                            var bet = self.find('.package').eq(i).find('input[value='+v+']').attr('data-bet');
                            var title = self.find('.package').eq(i).find('input[value='+v+']').attr('data-title');
                        }
                        var bets = bet.split('-');
                        if(Number(money) < Number(bets[0]) || Number(money) > Number(bets[1])){
                            pop(title+'投注金额需在'+bet+'内');
                            open_ming =false;
                            return false;
                        }
                        html += '<li><span>期数:'+stage+'</span><span>号码:<i>['+getWei(i,self.find('input[name=type]').val())+'] '+v+'</i></span>金额:'+money+'</li>';
                    })
                }
            }else{
                if(self.selector == "#form_four"){
                    var bet = self.find('.package').find('input[value=1]').attr('data-bet');
                    var title = self.find('.package').find('input[value=1]').attr('data-title');
                }else{
                    var bet = self.find('.package').find('input[value='+j+']').attr('data-bet');
                    var title = self.find('.package').find('input[value='+j+']').attr('data-title');
                }
                var bets = bet.split('-');
                if(Number(money) < Number(bets[0]) || Number(money) > Number(bets[1])){
                    pop(title+'投注金额需在'+bet+'内');
                    open_ming =false;
                    return false;
                }
                html += '<li><span >期数:'+stage+'</span><span>号码:<i>'+j+'</i></span>金额:'+money+'</li>';
            }
        })
        html += '</ul>';
        if(open_ming){
            layer.open({
                content:html
                ,btn: ['立即投注', '取消']
                ,skin: 'footer'
                ,scrollbar: true
                ,yes: function(index){
                    postCp(self,number,money);
                    layer.close(index);
                }
            });
        }
    }

    /*提交*/
    function postCp(self,number,money) {
        number = JSON.stringify(number);
        var type = self.find('input[name=type]').val();
        var zhu= $('#zhu').html();
        $.post(self.attr("action"),{number:number,type:type,stage:$('#stage_next').html(),money:money,zhu:zhu},success,"json");
        $('#form_submit').attr('disabled',true);
        return false;
        function success(data){
            if(data.code){
                self.find('input[type=submit]').attr('disabled',true);
                pop(data.msg,data.url);
            } else {
                $('#form_submit').attr('disabled',false);
                pop(data.msg);
            }
        }
    }
    //定位
    function getWei(i,type) {
        if(type==1){
            var wei = ['第一位','第二位','第三位'];
        }
        return wei[i];
    }
    //组合3位数不重复
    function threeOrder(num) {
        var chang = num.length;
        var arr =[];
        var frist = 0;
        var two = 0;
        var three = 0;
        var str ='';
        for(var i=0;i<chang;i++){
            frist = num[i];
            for(var j=i+1;j<chang;j++){
                two = num[j];
                for(var k=j+1;k<chang;k++){
                    three = num[k];
                    str = frist.toString() + two.toString() + three.toString();
                    arr.push(str);
                }
            }
        }
        if(str){
            return arr;
        }
    }
    $(function () {
        getCountDown();
        //获取走势
        $('.trend').click(function () {
            $.post('{:url("trend")}', {}, success, "json");
            return false;
            function success(data) {
                if (data) {
                    var html = '';
                    $.each(data, function (k, v) {
                        html += '<tr><td>' + k + '</td><td style="width: 60%">';
                        var num = v.number.split(',');
                        var hezhi = 0;
                        $.each(num, function (i, j) {
                            hezhi = hezhi + parseInt(j);
                            html += '<i style="width: 10%" class="bg_' + j + '">' + j + '</i>';
                        })
                        if (hezhi < 10) {
                            hezhi = '0' + hezhi;
                        }
                        html += '</td><td ><span class="red1">' + hezhi + '</span></td>' +
                            '</tr>';

                    })
                    $('#tbody').html(html);
                }
            }
        })

        //刷新余额
        $('.refresh').click(function () {
            $.post('{:url("refresh")}','',success,"json");
            return false;
            function success(data){
                if(data.code){
                    $('.money_num i').html(data.money);
                }
            }
        })

        //提交投注
        $('#form_submit').click(function () {
            if(opening == false){
                pop('处于封盘中');
                return false;
            }
            var current = $(".hall_main1 li.active").attr("data-name");
            var self = $('#form_'+current);
            ajax_from(self,current);
        })
        //全选
        $('.whole').click(function () {
            if($(this).parents().is('.package')){
                $(this).parents('.package').find('li').addClass('red0');
                $(this).parents('.package').find('input:checkbox').attr('checked', true);
                $(this).removeClass('red0');
                $('.clear').removeClass('red0');
            }else{
                $(this).parents('.hall_font_main').find('.package li').addClass('red0');
                $(this).parents('.hall_font_main').find('.package input:checkbox').attr('checked', true);
                $(this).removeClass('red0');
                $('.clear').removeClass('red0');
            }
            var num = $(this).parents('.hall_font_main').find('input[type=checkbox]:checked').length;
            $('#zhu').html(num);
        })
        //全清
        $('.clear').click(function () {
            if($(this).parents().is('.package')){
                $(this).parents('.package').find('li').removeClass('red0');
                $(this).parents('.package').find('input:checkbox').attr('checked',false);
            }else{
                $(this).parents('.hall_font_main').find('.package li').removeClass('red0');
                $(this).parents('.hall_font_main').find('.package input:checkbox').attr('checked',false);
            }
            $(this).removeClass('red0');
            var num = $(this).parents('.hall_font_main').find('input[type=checkbox]:checked').length;
            $('#zhu').html(num);
        })
        $(".hall_font2 li").click(function(){
            var activename = $(".hall_main1 li.active").attr("data-name");
            if(activename == 'four'){
                var num = $(this).parents('.hall_font_main').find('input[name=num]:checked').length;
                if(num <=3  && num>0){
                    $('#zhu').html(1);
                }else if(num == 4){
                    $('#zhu').html(4);
                }else if(num == 5){
                    $('#zhu').html(10);
                }else if(num == 6){
                    $('#zhu').html(20);
                }
            }
        })
        $(".hall_main1 li").click(function(){
            var index=$(this).index()-1;
            if(index == 3){
                var num = $(".hall_content>.hall_font").eq(index).find('input[name=num]:checked').length;
                if(num <= 3 && num>0){
                    $('#zhu').html(1);
                }else if(num == 4){
                    $('#zhu').html(4);
                }else if(num == 5){
                    $('#zhu').html(10);
                }else if(num == 6){
                    $('#zhu').html(20);
                }
            }
        })
    })
</script>
</body>
</html>
