<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的账户</title>
		<link rel="shortcut icon" href="__IMG__/favicon.ico" />
		<link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<script src="__JS__/jquery-3.2.1.min.js" ></script>
		<script src="__JS__/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/laydate.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/paging.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/index.js"></script>
		<script src="__JS__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="__JS__/area.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/layer.js" ></script>
		<script src="__JS__/common.js" ></script>
	</head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		input[type="number"]{
			-moz-appearance: textfield;
		}
	</style>
	<body id="account">
		<div class="bg_ff">
			{include file="common/top" /}
		</div>
		<section>
		<ul class="account_list clearfix">
			<li><a href="{:url('index')}">充值</a></li>
			<li><a href="{:url('cash')}">提现</a></li>
			<li><a href="{:url('rechargelist')}">充值记录</a></li>
			<li><a href="{:url('cashlist')}">提现记录</a></li>
			<li><a href="{:url('manage')}">密码管理</a></li>
			<li class="active"><a href="{:url('addcard')}">添加银行卡</a></li>
		</ul>
		<div class="account_main active">
			<div class="padding_10 account_title">
				<h4>添加银行卡</h4>
			</div>
			<div class="padding_10 add_box1">
				<span class="padding_lr10">账号：<i>{$users.name}</i></span>
				<span class="padding_lr10">彩票返点：<i>{$users.rebate}</i></span>
			</div>
			<form action="" id="card_form">
			<div class="container account_form">
				<div class="row">
					<div class="col-lg-6">
						<label for="">开户银行：</label>
						<input type="text" name="bank" value="" placeholder="招商银行" maxlength="50"/>
					</div>
					<div class="col-lg-6">
						<label for="">支行名称：</label>
						<input type="text" name="bank_branch" value="" placeholder="正确填写支行名称可加快提款到账"/>
					</div>
					<div class="col-lg-12 clearfix">
						<label class="left" for="">开户银行区域：</label>
						<div class="info left">
							<div>
								<select id="s_province" name="s_province"></select>  
							    <select id="s_city" name="s_city" ></select>  
							    <select id="s_county" name="s_county"></select>
							    <script type="text/javascript">_init_area();</script>
							</div>
						    <div id="show"></div>
						</div>
					</div>	
					<div class="col-lg-12">
						<label for="">提款人姓名：</label>
						<input type="text" name="name" value="" placeholder="请输入开户本人姓名"/>
					</div>
					<div class="col-lg-6">
						<label for="">银行卡账号：</label>
						<input type="number" name="num" value="" placeholder="请输入银行卡号"/>
					</div>
					<div class="col-lg-6">
						<label for="">确认账号：</label>
						<input type="number" name="renum" value="" placeholder="请再次输入银行卡号"/>
					</div>
					<div class="col-lg-6">
						<label for="">资金密码：</label>
						<input type="password" name="money_password" value="" placeholder="请输入资金密码"/>
					</div>
					
				</div>
				<p class="blue1 mg_top10">操作提示：为保障您的账户安全，资料一经绑定，无法再次修改！</p>
				<p>
					<input type="button" id="card_form_sub" value="确认绑定" class="color_ff basic_a"/>
					<input type="button" id="back_input" value="返回" class="color_ff basic_a"/>
				</p>
			</div>
			</form>
			<div id="add_car_box1">
				{volist name="userCard" id="ucl"}
				<div class="clearfix padding_10 ">
					<span class="left padding_lr10 mg_top10">银行卡{$i}</span>
					<div class="addcar_box left">
						<a href="javascript:;">{$ucl.num}</a>
					</div>
				</div>
				{/volist}
				<div class="clearfix padding_10">
					<span class="left padding_lr10 mg_top20">添加银行卡</span>
					<div class="addcar_box left">
						<a href="javascript:;" class="add_img"><img src="__IMG__/add_car.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		</section>
		{include file="common/footer" /}
		<script>
			$(".add_img").click(function () {
			    $("#add_car_box1").hide();
			    $("#card_form").show();
            })
            $("#back_input").click(function () {
                $("#add_car_box1").show();
                $("#card_form").hide();
            })
            var subCheck = true;
            $("#card_form_sub").click(function(){
                $('#card_form').serialize();
                var self = $('#card_form');
                var bank = self.find('input[name=bank]').val();
                var bank_branch = self.find('input[name=bank_branch]').val();
                var s_province = self.find('input[name=s_province]').val();
                var s_city = self.find('input[name=s_city]').val();
                var s_county = self.find('input[name=s_county]').val();
                var name = self.find('input[name=name]').val();
                var num = self.find('input[name=num]').val();
                var password = self.find('input[name=money_password]').val();
                // if(money == ''){
                //     pop('金额不能为空');
                //     return false;
                // }
                // if(money < 100){
                //     pop('充值金额不能低于100');
                //     return false;
                // }
                // if(money > 5000000){
                //     pop('充值金额不能高于5000000');
                //     return false;
                // }
                // if(verifyCode == ''){
                //     pop('验证码不能为空');
                //     return false;
                // }
                if(subCheck) {
                    subCheck = false;
                    $.post("{:url('addcard')}", self.serialize(), success, "json");
                    return false;
                    function success(data) {
                        if (data.code == 1) {
                            // $("#add_car_box1").show();
                            // $("#card_form").hide();
                            pop(data.msg,data.url,3);
                        } else {
                            pop(data.msg);
                            subCheck = true;
                        }
                    }
                }
            })
		</script>
	</body>
</html>