<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>北京赛车</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body style="background: #F1F1F1;">
<div class="main">
    <header class="mui-bar mui-bar-nav mui-clearfix">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title mui-pull-left">
            <span class="left">北京赛车 {if $hall==1} <a href="{:url('index',['cate'=>5,'hall'=>2])}" class="exchang">切换B盘</a> {else /} <a href="{:url('index',['cate'=>5,'hall'=>1])}" class="exchang">切换A盘</a> {/if} </span>
        </h1>
        <div class="mui-pull-right list_a">
            <a href="javascript:void(0);"class="mg_top10 ">
                <!--<span class="mui-h5 color_ff padding_lr5" id="memMoney">{$mem.money}</span>-->
                <img  class="vertical-align_m book" src="__IMG__/wap/icon-list.png" alt=""/>
            </a>
            <!--<ul class="list_ul" style="z-index: 50">-->
                <!--<li><a href="{:url('Report/unsettled')}">即时注单 <p class="red" id="memUnMoney">({$mem.unpaid_money})</p></a></li>-->
                <!--<li><a href="{:url('Report/settled')}">今日已结 </a></li>-->
                <!--<li><a href="{:url('Report/noteRecord')}">下注记录</a></li>-->
                <!--<li><a href="{:url('Report/openResult',array('cate_id'=>1))}"> 开奖结果</a></li>-->
                <!--<li class="rule"><a href="javascript:void(0);"> 游戏规则</a></li>-->
                <!--&lt;!&ndash;<li><a href="javascript:void(0);">今天输赢 <p id="thisWin" class="red">(0.00)</p></a></li>&ndash;&gt;-->
            <!--</ul>-->
        </div>
        {include file="common/top_list" /}

    </header>
    <div class="mui-content">
        <ul class="mui-clearfix game_box1">
            <li class="active"><a href="javascript:void(0);">投注区</a></li>
            <li><a href="javascript:void(0);">聊天室</a></li>
        </ul>
        <div class="game_box2 padding_tb10 bor_bd7">
            <div class="clearfix ">
                <p class="left game_B2L cur_turn_num">000000期</p>
                <div id="result_balls" class="left game_B2R">
                    <p>
                        <i class="round2 bg1">1</i>
                        <i class="round2 bg2">2</i>
                        <i class="round2 bg2">3</i>
                        <i class="round2 bg4">4</i>
                        <i class="round2 bg5">5</i>
                        <i class="round2 bg6">6</i>
                        <i class="round2 bg7">7</i>
                        <i class="round2 bg8">8</i>
                        <i class="round2 bg9">9</i>
                        <i class="round2 bg10">10</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="game_box2 padding_tb10 bor_bd7">
            <div class="clearfix ">
                <p class="left game_B2L" id="next_turn_num">000000期</p>
                <div class="left game_B2R">
                    <div class="clearfix left">
                        <span class="left lin_30">封盘：</span>
                        <div class="colockbox clearfix left" id="bet-date">
                            <span class="minute"></span> :
                            <span class="second"></span>
                        </div>
                        </span>
                    </div>
                    <div class="clearfix left">
                        <span class="left lin_30 mg_left10">开奖：</span>
                        <div class="colockbox clearfix left" id="open-date">
                            <span class="minute"></span> :
                            <span class="second"></span>
                        </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game_box3 mui-clearfix">
            <ul class="left game_B3L">
                <li class="active"><a href="javascript:void(0);"><i class="round_small"></i> 两面</a></li>
                <!--<li><a href="javascript:void(0);"><i class="round_small"></i> 1-10</a></li>-->
                <li><a href="javascript:void(0);"><i class="round_small"></i> 冠亚和</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 冠军</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 亚军</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第三名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第四名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第五名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第六名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第七名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第八名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第九名</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 第十名</a></li>
                <!--<li><a href="javascript:void(0);"><i class="round_small"></i> 1~5名</a></li>-->
                <!--<li><a href="javascript:void(0);"><i class="round_small"></i> 6~10名</a></li>-->
            </ul>
            <div class="game_tab left">
                <div class="tab_box active">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">冠亚和</h4>
                        <ul class="mui-clearfix two" data-target-type="13" data-target-num="冠亚和">
                            {volist name="rule_data.gyh" id="vo"}
                                <li data-num="{$vo.rule}"><a href="javascript:void(0);">{$vo.rule}<i data-id="{$vo.id}" class="odds">{$vo.rate}</i></a></li>
                            {/volist}
                        </ul>
                    </div>
                    {volist name="rule_data.qiu.0" id="vo"}
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">{$vo.type_name}</h4>
                        <ul class="mui-clearfix three" data-target-type="{$vo.type}" data-target-num="{$vo.type_name}">
                            {volist name="vo['info']" id="v1"}
                            <li data-num="{$v1.rule}"><a href="javascript:void(0);">{$v1.rule}<i data-id="{$v1.id}" class="odds">{$v1.rate}</i></a></li>
                            {/volist}
                        </ul>
                    </div>
                    {/volist}
                    {volist name="rule_data.qiu.1" id="vo"}
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">{$vo.type_name}</h4>
                        <ul class="mui-clearfix two" data-target-type="{$vo.type}" data-target-num="{$vo.type_name}">
                            {volist name="vo['info']" id="v1"}
                            <li data-num="{$v1.rule}"><a href="javascript:void(0);">{$v1.rule}<i data-id="{$v1.id}" class="odds">{$v1.rate}</i></a></li>
                            {/volist}
                        </ul>
                    </div>
                    {/volist}
                </div>
                <!--<div class="tab_box"></div>-->
                <div class="tab_box">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">冠亚和</h4>
                        <ul class="mui-clearfix two" data-target-type="13" data-target-num="冠亚和">
                            {volist name="rule_data.gyh" id="vo"}
                            <li data-num="{$vo.rule}"><a href="javascript:void(0);">{$vo.rule}<i data-id="{$vo.id}" class="odds">{$vo.rate}</i></a></li>
                            {/volist}
                        </ul>
                        <ul class="mui-clearfix three" data-target-type="14" data-target-num="冠亚和">
                            {volist name="rule_data.gyhsz" id="vo"}
                            <li data-num="{$vo.rule}"><a href="javascript:void(0);">{$vo.rule}<i data-id="{$vo.id}" class="odds">{$vo.rate}</i></a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {volist name="rule_data.mc" id="vo"}
                <div class="tab_box">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">{$vo.type_name}</h4>
                        <ul class="mui-clearfix two" data-target-type="{$vo.type}" data-target-num="{$vo.type_name}">
                            {volist name="vo.info" id="v1"}
                            <li data-num="{$v1.rule}"><a href="javascript:void(0);">{if intval($v1['rule'])>=1}<span class="round2 bg{$v1.rule}">{$v1.rule}</span>{else /} {$v1.rule}{/if}<i data-id="{$v1.id}" class="odds">{$v1.rate}</i></a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/volist}
                <p class="padding_10 text_right mg_top40"><a href="javascript:void(0);" class="odds-icon"><img src="__IMG__/wap/icon-wh.png" width="16" style="vertical-align: middle;" class="vertical-align_m pl-icon" alt="">赔率说明</a></p>
            </div>
        </div>
    </div>
    <nav class="foot ">
        <div class="clearfix">
            <div class="left FootL">
                已选中<span class="red" id="betTotalNum">0</span>注
                <input type="number" class="bet-money" oninput="changeVale(this)" value="" placeholder="输入金额" />
            </div>
            <div class="right FootR">
                <a href="javascript:void(0);" class="bet_a betTab">下注</a>
                <a href="javascript:void(0);" class="betReset">重置</a>
            </div>
        </div>
    </nav>
    <!--赔率说明弹窗-->
    <div class="odds color_00" style="display: none;">
        <h4 class="padding_10 text-center bor_b">赔率说明</h4>
        <div class="padding_10 lin_25">
            1.猜双面：xxxxxxxxx<br />
            2.猜双面：xxxxxxxxxx <br />
            3.猜双面：xxxxxxxxxxxx  <br />

            <p class="mg_top20 text-center"><a href="javascript:void(0);" class="odds-ok">确定</a></p>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="rule_box">
        <h4 class="mui-h4 mui-text-center mui-clearfix">北京赛车  <a class="mui-pull-right" href="javascript:void(0);"><img class="close" src="__IMG__/wap/close.png"/></a></h4>
        <p>
            北京赛车”是引进欧洲博彩公司开奖设备，由菲律宾博彩执照公司审核监控，联合开发的彩票游戏，保证公平公正；由于该彩种并不属于某单一地区彩种，所以暂时还未对外开放官方网站，但是这类彩种在欧洲当地是非常火爆的，
            您可以放心投注、开奖时间，北京时间（GMT+8）每天白天从早上07:25:00开到凌晨04:00:00，每75秒开一次奖,每天开奖985期。<br />
            具体游戏规则如下:<br />
            1～10 两面：指 单、双；大、小。<br />
            单、双：号码为双数叫双，如4、8；号码为单数叫单，如5、9。<br />
            大、小：开出之号码大于或等于6为大，小于或等于5为小。<br />
            第一名～第十名 车号指定：每一个车号为一投注组合，开奖结果“投注车号”对应所投名次视为中奖，其余情形视为不中奖。<br />
            1～5龙虎<br />
            冠  军 龙/虎：“第一名”车号大于“第十名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。<br />
            亚  军 龙/虎：“第二名”车号大于“第九名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。<br />
            第三名 龙/虎：“第三名”车号大于“第八名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。<br />

        </p>
    </div>
    {include file="common/bet_list" /}
</div>
{include file="common/menu" /}
{include file="car/js" /}
</body>
</html>
