{extend name="common:base" /}

{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">公告管理</a></li>
                <li class="active">个人公告</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12 ">
                    <form class="form-inline" action="{:url('')}">
                        <div class="form-group">
                            <input type="text" name="mobile" class="form-control" placeholder="请输入手机号码">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </header>
                <div class="panel-body">
                    <form class="ids" action="" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>公告ID</th>
                                <th>电话</th>
                                <th>昵称</th>
                                <th>内容</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='data' id='v'}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.member.mobile}</td>
                                <td>{$v.member.nickname}</td>
                                <td>{$v.content}</td>
                                <td>{$v.create_time}</td>
                                <td>
                                    <a href="{:url('notice/personal_del',['id'=>$v['id']])}" class="fa fa-times confirm " onclick="return confirm('确定删除?');" title="删除"></a>

                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </form>

                </div>
            </section>
            {$page}
        </div>
    </div>
</div>
<!--body wrapper end-->
{/block}
