{extend name="common:base" /}

{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">公告管理</a></li>
                <li class="active">编辑系统公告</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

        <div class="panel-body">
            <form method="post" action="{:url('system_edit')}" class="form-horizontal bucket-form">
                <div class="form-group">
                    <label class="col-sm-1 control-label">公告标题</label>
                    <div class="col-sm-11">
                        <textarea name="title" rows="1" class="form-control">{$data.title}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">公告内容</label>
                    <div class="col-sm-11">
                        <textarea name="info" rows="6" class="form-control">{$data.info}</textarea>
                    </div>
                </div>
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-lg-10 right">
                        <button class="btn btn-primary " target-form="bucket-form"  type="submit">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<!--body wrapper end-->
{/block}
