{extend name="common:base" /}

{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('system')}">公告管理</a></li>
                <li class="active">系统公告</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12 ">
                        <div class="form-group">
                            <a href="#"  class="btn btn-success ajax-get" onclick="recharge();"title="添加公告">添加公告</a>
                        </div>

                </header>
                <div class="panel-body">
                    <form class="ids" action="" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>公告ID</th>
                                <th>内容</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='data' id='v'}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.title}</td>
                                <td>{$v.info}</td>
                                <td>{$v.create_time}</td>
                                <td>
                                    <a href="{:url('notice/system_show',['id'=>$v['id']])}" class="fa fa-edit" title="编辑"></a>
                                    <a href="{:url('notice/system_del',['id'=>$v['id']])}" class="fa fa-times confirm " onclick="return confirm('确定删除?');" title="删除"></a>
                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </form>

                </div>
            </section>
            {$page}
        </div>

    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="rechargeModal" class="modal fade">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加公告</h4>
            </div>
            <form class="form-horizontal form-post-addmoney" action="{:url('add_system')}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">公告标题</label>
                        <div class="col-lg-8">
                            <textarea name="title" rows="1" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">公告内容</label>
                        <div class="col-lg-8">
                            <textarea name="info" rows="6" class="form-control"></textarea>
                        </div>
                    </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="rid" value=""/>
                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    <button class="btn btn-primary " type="submit" target-form="form-post-addmoney">提交</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function recharge() {
        $('#rechargeModal').modal('show');
    }
</script>
<!--body wrapper end-->
{/block}
