<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现</title>
    <script src="__JS__/jquery-1.6.2.min.js" ></script>
    <script src="__JS__/mui.min.js"></script>
    <script src="__JS__/index.js" ></script>
    <script src="__JS__/layer.js"></script>
    <script src="__JS__/common.js" ></script>
    <link href="__CSS__/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body id="recharge">

{include file="common/nav" /}
<div class="mui-content">
    <p class="mui-text-center recharge_pay" >提现说明</p>
    <div class="withdraw_deposit_main">
        <p class="p1">请输入提款金额</p>
        <form id="from_add" action="{:url('add')}" method="post" class="recharge-form">
            <p>
                <label>提款金额：</label>
                <input name="money" type="number" /><span class="padding_lr10">元</span>
            </p>
            <p class="hint"><span class="red1 ">可提金额：{$money}元</span></p>

            <input type="submit" value="确定"/>
        </form>
        <p><span class="red1">*</span>申请提现后请联系客服结算</p>
        <table border="" cellspacing="" cellpadding="">
            <tr>
                <td>时间</td>
                <td>金额</td>
                <td>状态</td>
            </tr>
            {volist name='list' id='v'}
            <tr>
                <td>{$v.create_at|date='Y-m-d H:s',###}</td>
                <td>{$v.money/100}</td>
                <td>{if ($v.state eq 1)}已提现{else/}待提现{/if}</td>
            </tr>
            {/volist}
        </table>
        <dl>
            <dt class="mui-pull-left"><img src="__IMG__/little02.png"/></dt>
            <dd class="mui-pull-left">
                <p>小美女<span><img src="__IMG__/my.png"/></span></p>
                <p> <span>四川</span> <span>成都</span></p>
            </dd>
        </dl>
        <p><img src="__IMG__/ewm.png" alt="" /></p>
        <p class="mui-text-center ">扫描二维码快速转账</p>
    </div>

</div>
<script type="text/javascript">
    $(function() {
        $("#from_add").submit(function(){
            var self = $(this);
            var name = self.find('input[name=money]').val();
            if(name==''){
                pop('请输入支付金额');
                return false;
            }
            $.post(self.attr("action"), self.serialize(),success,"json");
            self.find('input[type=submit]').attr('disabled',true);
            return false;
            function success(data){
                if(data.code){
                    pop(data.msg,data.url)
                } else {
                    $("#from_add").find('input[type=submit]').attr('disabled',false);
                    pop(data.msg)
                }
            }
        });
    })
</script>
</body>
</html>
