<!--左侧菜单 start-->
<ul class="nav nav-pills nav-stacked custom-nav">

    {foreach name="menu_list" item="vo" }

        {notempty name="vo.sub_menu"}
    <li class="menu-list {if ($controllerName eq $vo.control)}nav-active{/if}"><a href="#"><i class="fa {$vo.icon}"></i><span>{$vo.name}</span></a>
        <ul class="sub-menu-list">
            {foreach name="vo.sub_menu" item="vv" key="kk"}
            <li {if ($actionName eq $vv.act)} class="active" {/if}><a href="{:url("$vv[control]/$vv[act]")}">{$vv.name}</a></li>
           {/foreach}
        </ul>
    </li>
     {else /}
    <li class="menu-list}">
    <a href="{:url("$vo[control]/$vo[act]")}""><i class="fa {$vo.icon}"></i><span>{$vo.name}</span></a>
    </li>
      {/notempty}

     {/foreach}

</ul>
<!--左侧菜单 end-->