{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">金额管理</a></li>
                <li class="active">提现记录</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12">

                    <form class="form-inline" action="{:url('')}">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="input-group  custom-date-range">
                                    <input type="text" class="form-control form_datetime" value="{$_GET['from'] ?? ''}" name="from">
                                    <span class="input-group-addon">到</span>
                                    <input type="text" class="form-control form_datetime" value="{$_GET['to'] ?? ''}" name="to">
                                </div>
                            </div>
                            <select class="form-control" name="status">
                                <option value="0">提现状态</option>
                                <option value='1' {if (isset($_GET['status']) && $_GET['status'] == 1)}selected{/if}>审核中</option>
                                <option value='2' {if (isset($_GET['status']) && $_GET['status'] == 2)}selected{/if} >提现成功</option>
                                <option value='3' {if (isset($_GET['status']) && $_GET['status'] == 3)}selected{/if} >提现失败</option>
                            </select>
                            <input type="text" name="mobile" class="form-control" value="{$_GET['mobile'] ?? ''}" placeholder="请输入手机号码">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </header>

                <div class="panel-body">
                    <form class="ids" action="{:url('delCash')}" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <!--<th><input class="check-all" type="checkbox"/></th>-->
                                <th>ID</th>
                                <th>电话</th>
                                <th>昵称</th>
                                <th>金额</th>
                                <th>持卡人</th>
                                <th>卡号</th>
                                <th>银行</th>
                                <th>开户行</th>
                                <th>申请时间</th>
                                <th>审核时间</th>
                                <th>提现状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='v'}
                            <tr>
                                <!--<td><input class="ids" type="checkbox" value="{$v.id}" name="ids[]"/></td>-->
                                <td>{$v.id}</td>
                                <td>{$v.member.mobile}</td>
                                <td>{$v.member.nickname}</td>
                                <td>{$v.money}</td>
                                <td>{$v.username}</td>
                                <td>{$v.account_bank}</td>
                                <td>{$v.bank_name}</td>
                                <td>{$v.branch_name}</td>
                                <td>{if (isTimeZero($v.create_at))}{$v.create_at}{/if}</td>
                                <td>{if (isTimeZero($v.update_at))}{$v.update_at}{/if}</td>
                                {if $v.status==1}
                                <td>审核中</td>
                                {elseif $v.status==2 }
                                <td style="color:#65CEA7">提现成功</td>
                                {elseif $v.status==3 }
                                <td style="color:red">提现失败</td>
                                {/if}
                                <td>
                                    {if ($v.status == 1)}
                                    <a href="#"   class="btn btn-success ajax-get" onclick="shenhe(1,'{$v.uid}','{$v.id}')" title="充值审核">通过</a>
                                    <a href="#"  class="btn btn-danger ajax-get" onclick="shenhe(2,'{$v.uid}','{$v.id}')" title="充值审核">不通过</a>
                                    <!--<a onclick="recharge('{$v.id}','{$v.member.nickname}','{$v.money}');" class="fa fa-money" title="充值"></a>-->
                                    {/if}
                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </form>
                    <!--<a href="{:url('delCash')}" class="btn btn-sm btn-primary ajax-post confirm" target-form="ids">批量删除</a>-->
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="dataTables_info" id="dynamic-table_info">
                                已提现人数：{$renshu}&nbsp;&nbsp; 提现总额：{$total_money}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {$page}
        </div>

    </div>
</div>
<script type="text/javascript">
    function shenhe(type,uid,id) {
        $.ajax({
            type: "post",
            url: "{:url('edit_withdrawal_status')}",
            data: {'type':type,'uid':uid,'id':id},
            dataType: "json",
            async: false,
            success: function(data) {
                var info = data.msg;
                alert(info);
                location.reload();
            }
        });

    }
</script>
<!--body wrapper end-->

{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}

