{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">金额管理</a></li>
                <li class="active">金额记录</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12 ">
                    <form class="form-inline" action="{:url('')}">
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="input-group  custom-date-range">
                                    <input type="text" class="form-control form_datetime" value="{$_GET['from'] ?? ''}" name="from" placeholder="开始时间">
                                    <span class="input-group-addon">到</span>
                                    <input type="text" class="form-control form_datetime" value="{$_GET['to'] ?? ''}" name="to" placeholder="结束时间">
                                </div>
                            </div>
                            <select class="form-control" name="exp">
                                <option value="0">选择方式</option>
                                <option value="1" {if (isset($_GET['exp']) && $_GET['exp'] == 1)}selected{/if}>充值</option>
                                <option value='2' {if (isset($_GET['exp']) && $_GET['exp'] == 2)}selected{/if}>中奖</option>
                                <option value='3' {if (isset($_GET['exp']) && $_GET['exp'] == 3)}selected{/if}>投注回水</option>
                                <option value='4' {if (isset($_GET['exp']) && $_GET['exp'] == 4)}selected{/if}>代理回水</option>
                                <option value='5' {if (isset($_GET['exp']) && $_GET['exp'] == 5)}selected{/if}>投注</option>
                                <option value='6' {if (isset($_GET['exp']) && $_GET['exp'] == 6)}selected{/if}>投注流水</option>
                            </select>
                            <input type="text" name="mobile" class="form-control" value="{$_GET['mobile'] ?? ''}" placeholder="请输入手机号码">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </header>

                <div class="panel-body">
                    <form class="ids" action="" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>电话</th>
                                <th>昵称</th>
                                <th>金额</th>
                                <th>余额</th>
                                <th>方式</th>
                                <th>详情</th>
                                <th>被代理人ID</th>
                                <th >时间</th>
                            </tr>
                            </thead>
                            {volist name="list" id="v"}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.member.mobile}</td>
                                <td>{$v.member.nickname}</td>
                                <td>{$v.money}</td>
                                <td>{$v.balance}</td>
                                <td>{if $v.exp==1 }充值{elseif $v.exp==2}中奖{elseif $v.exp==3}投注回水{elseif $v.exp==4}代理回水{elseif $v.exp==5}投注{elseif $v.exp==6}投注流水{/if}</td>
                                <td>{$v.explain}</td>
                                <td>{if $v.proxy_uid !=0 } <a href="{:url('member/index',array('uid'=>$v['proxy_uid']))}"  title="查看">点击查看</a>{else/}无{/if}</td>
                                <td>{if (isTimeZero($v.create_at))}{$v.create_at}{/if}</td>
                            </tr>
                            {/volist}
                        </table>

                    </form>
                    <!--<a href="{:url('del')}" class="btn btn-sm btn-primary ajax-post confirm" target-form="ids">批量删除</a>-->
                </div>
            </section>
            {$page}
        </div>

    </div>
</div>
<!--body wrapper end-->
{/block}
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}
