<div class="Bet_list">
    <h4 class="mui-text-center mui-h4 padding_tb10">下注清单</h4>
    <div class="padding_10 bor_b" id="betModalList">
    </div>
    <div class="bor_b padding_10">
        <p class="color_55">【合计】 总投注数:<span class="red mg_r20" id="bcountVal">0</span>总金额:<span class="red" id="btotalVal">0</span></p>
    </div>
    <div class="text-center padding_tb20 btn_box">
        <a href="javascript:void(0);" class="basic_a cancel">取消</a>
        <a href="javascript:void(0);" class="basic_a" onclick="lotteryBetController.setOrder();">确定</a>
    </div>
</div>