<div class="show">
    <a href="{:url('Car/index')}" {if $controllerName eq 'car'}class="selected"{/if}><span>北京赛车(PK10)</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Cqssc/index')}" {if $controllerName eq 'cqssc'}class="selected"{/if}><span>重庆时时彩</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Xyft/index')}" {if $controllerName eq 'xyft'}class="selected"{/if}><span>幸运飞艇</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Gdsyxw/index')}" {if $controllerName eq 'gdsyxw'}class="selected"{/if}><span>广东11选5</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Jsks/index')}" {if $controllerName eq 'jsks'}class="selected"{/if}><span>江苏快三</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Pcdd/index')}" {if $controllerName eq 'pcdd'}class="selected"{/if}><span>PC蛋蛋</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Msssc/index')}"  {if $controllerName eq 'msssc'}class="selected"{/if}><span>秒速时时彩</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Mssc/index')}" {if $controllerName eq 'mssc'}class="selected"{/if}><span>秒速赛车</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Xglhc/index')}" {if $controllerName eq 'xglhc'}class="selected"{/if}><span>六合彩</span> <i class="editbtn" style="display: none;"></i></a>
    <a href="{:url('Xync/index')}" {if $controllerName eq 'xync'}class="selected"{/if}><span>幸运农场</span> <i class="editbtn" style="display: none;"></i></a>
</div>