<div class="announce">
    <h3 class="announc3-hd">公告</h3>
    <div class="nl-viewarea announce-list">
        <ul>
            <!--<li class="nl-item"><a href="javascript:void(0)">亲~您好！满堂彩导航网址为：www.78939.com满堂彩最新官方网址为：www.mtc11.com  www.mtc-->
                <!--9.com www.52220.com www.81812.com www.85899.com 请您自行选择登入哦。谢谢~</a></li>-->
            <!--<li class="nl-item"><a href="javascript:void(0)">好消息~用户每天登入平台就可以参与每日抽奖与连续签到充值活动，连续一周签到更有大奖派-->
                <!--送，最高奖金8888~还在想什么呢？赶紧邀请好友一起加入吧~更多豪礼等您来领取噢~~</a></li>-->
            <li class="nl-item"><a href="javascript:void(0)">鑫辉娱乐郑重提示：彩票有风险，投注需谨慎，未满18周岁的青少年请自觉离开</a></li>
        </ul>
    </div>
</div> <!---->
<div class="chatbar">
    <div class="guide"><a class="lnk-min"></a></div> <!---->
</div>