<div id="userHead" class="headContainer">
    <ul class="center f-cb" id="user_ul">
        <li><a class="logo changeHomePage" href="{:url('Index/index')}"></a></li>
        <li><a class="tua changeHomePage" href="{:url('Index/index')}">首页</a></li>
        <li><a class="tua" href="javascript:void(0);" id="hallBtn">全部彩种</a></li>
        <li class="tuaUser">
            <a class="tua {if $controllerName == 'account'}cur{/if}" href="{:url('Account/index')}" id="menuAccountCenter">个人中心</a>
            <ul class="userMenu" style="display: none;">
                <li><a href="javascript:menuClick(0);">个人中心</a></li>
                <li><a href="javascript:menuClick(1);">密码管理</a></li>
                <li><a href="javascript:menuClick(2);">奖金说明</a></li>
                <li><a href="javascript:menuClick(16);">资金管理</a></li>
                <li><a href="javascript:menuClick(17);">交易协定</a></li>
            </ul>
        </li>
        <li class="tuaUser">
            <a class="tua {if $controllerName == 'report'}cur{/if}" href="{:url('Report/index')}" id="menuBetRecord">报表中心</a>
            <ul class="userMenu">
                <li><a href="javascript:menuClick(5);">盈亏报表</a></li>
                <li><a href="javascript:menuClick(6);">投注记录</a></li>
                <li><a href="javascript:menuClick(7);">追号记录</a></li>
                <li><a href="javascript:menuClick(8);">账变记录</a></li>
            </ul>
        </li>
        <li class="tuaUser">
            <a class="tua {if $controllerName == 'agent'}cur{/if}" href="{:url('Agent/index')}" id="menuAccountManagement">用户管理</a>
            <ul class="userMenu">
                <li><a href="javascript:menuClick(9);">用户管理</a></li>
                <li><a href="javascript:menuClick(10);">新增用户</a></li>
                <li><a href="javascript:menuClick(11);">推广链接</a></li>
                <li><a href="javascript:menuClick(18);">微信推广链接</a></li>
            </ul>
        </li>
        <li class=""><a class="tua changeHomePage {if $controllerName == 'contract'}cur{/if}" href="{:url('Contract/index')}">契约管理</a></li>
        <li class="f-fl u-info">
            <span class="user-t"><i class="headico"></i><span id="TopNickName">{$mem.nickname}</span></span>
            <span class="user-t">￥<b id="walletamount" class="uin-b">{$mem.money}</b></span><i class="update_btn ico2" id="refreshwallet"></i>
        </li>
        <li class="f-fr specialArea">
            <a class="tua tua2" href="Recharge.html" id="menuThirdPartyPaymentDepositRequest">充值</a>
            <a class="tua tua3" href="Recharge.html" id="menuWithdrawRequest">取款</a>
            <a class="tua" href="Discount.html" id="specialBtn">优惠活动</a>
            <a class="tua" href="login.html">退出</a>
            <form action="" class="navbar-right" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="D0qPI9xaHgdLS6z7k6tbPwKZ_l_1H6-5OCdY8seuncNcyfoT98bUniYZ25j9c-bUHlFxVnisCO4G_Q6VPO0eybfzA_XBPwiQ5N6wzse6wj169EGjr_VKY-5yvoHrIedrnz0u0Ix8R-t5MnRle8zo3Q2"></form>
        </li>
    </ul>
</div>