<div class="menu">
    <h4 class="mui-text-center mui-h4 padding_10 color_ff"> <a href="{:url('Index/index')}">返回大厅</a></h4>
    <div class="menu_list">
        <ul>
            <li><a href="{:url('Pcdd/index')}">PC蛋蛋</a></li>
            <li><a href="{:url('Cqssc/index')}">重庆时时彩</a></li>
            <li><a href="{:url('Car/index')}">北京赛车</a></li>
            <li><a href="{:url('Xglhc/index')}">六合彩</a></li>
            <li><a href="{:url('Xyft/index')}">幸运飞艇</a></li>
            <li><a href="{:url('Gdsyxw/index')}">广东11选5</a></li>
            <li><a href="{:url('Jsks/index')}">江苏快三</a></li>
            <li><a href="{:url('Msssc/index')}">秒速时时彩</a></li>
            <li><a href="{:url('Mssc/index')}">秒速赛车</a></li>
            <li><a href="{:url('Xync/index')}">幸运农场</a></li>
        </ul>
    </div>
</div>