<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>代理中心</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="shortcut icon" href="__IMG__/favicon.ico" />
	<link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/skin.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
	<link rel="stylesheet" href="__CSS__/index.css">
	<link type="text/css" rel="stylesheet" href="__CSS__/chat-index.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/index-index-inde.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
	<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<style type="text/css">
		.subnaviarrow,.recharge_div,.subcontent,.addbankcard_form{display: none;}
		.subnaviarrow.active,.recharge_div.active,.subcontent.active{display: block;}
		.records_ul li{
			float: left;
			width: 25%;
			margin: 0 3%;
			border: 1px solid #D3D1D1;
			border-radius: 5px;
			padding: 10px;
		}
		.records_choose span{
			padding: 10px;
		}
		.records_choose select,.records_choose input{
			width: 300px;
			border-radius:5px ;
			border: 1px solid #D3D1D1;
			padding: 10px 5px;
		}
		.records_choose label{width: 70px;}
		.header .lotterys .show>a{height: 37px;line-height: 37px;}
		.header .menu2{left: 705px;}
		.logo2 {left: 0; }
		.info span{display: inline;}
	</style>
</head>
<body>
<div id="appLoading" class="bet-loading" style="position: fixed; width: 100%; top: 200px; text-align: center; z-index: 3000; display: none;">
	<div class="spinner">
		<div class="three-bounce">
			<div class="one"></div>
			<div class="two">
			</div>
			<div class="three"></div>
		</div>
	</div>
</div>
<div class="main-body skin_red" style="right: 0px;">
	{include file="common/index_top" /}
	<div class="main-wrap"><!---->
		{include file="common/index_siderbar" /}
		<div class="content-wrap" style="width: 1000px;border: 1px solid #D2D2D2;">
			<div class="content">
				<div class="sub-wrap clearfix">
					<div class="center-page">
						<div class="recharge_div active">
							<h4 class="h4 padding_10 bor_b">新增用户</h4>
							<form action="" id="form_reg" method="post">
								<div class="padding_10">
										<span>
											用户类型：
											<i>
												<input type="radio" name="agent_user" id="agent_user3" value="1"/>
											     <label for="agent_user">总代理</label>
											</i>
											<i>
												<input type="radio" name="agent_user" id="agent_user" value="2"/>
											     <label for="agent_user">一级代理</label>
											</i>
											<i>
												<input type="radio" name="agent_user" id="agent_user2" value="3"/>
											     <label for="agent_user">二级代理</label>
											</i>
											<i>
												<input type="radio" name="agent_user" id="agent_user1" value="0" checked/>
											     <label for="agent_user1">普通用户</label>
											</i>
										</span>
								</div>
								<div class="padding_10">
									<span>新增用户</span>
									<input type="text" name="username" value="" placeholder="请输入用户账号" />
								</div>
								<div class="padding_10">
									<span>登录密码</span>
									<input type="password" name="password" value="" placeholder="请输入密码" />
								</div>
								<div class="padding_10">
									<span>确认密码</span>
									<input type="password" name="repassword" value="" placeholder="请再次确认密码" />
								</div>
								<div class="padding_10">
									<span>彩票返点</span>
									<!--<select name="rebate">-->
										<!--{volist name='list' id='ll'}-->
										<!--<option value="{$ll.rebate},{$ll.bonus}">返点：{$ll.rebate}  奖金：{$ll.bonus}</option>-->
										<!--{/volist}-->
									<!--</select>-->
									<input type="text" name="back_rebate" value="" placeholder="请填写代理返点" />
								</div>
								<div class="padding_10">
									<a href="javascript:;" onclick="subAddUser()" class="btn marginleft30">立即开户</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(".agent").hover(function(){
        $("#agent_list").fadeIn(200);
    },function(){
        $("#agent_list").fadeOut(200);
    })
    $(".lottery_box_one").hover(function(){
        $("#lottery_list").fadeIn(200);
    },function(){
        $("#lottery_list").fadeOut(200);
    })
    $(".main-wrap").css("height",$(document).height()-180 );
    var subAddUserCheck = true;
    function subAddUser(){
        $('#form_reg').serialize();
        var self = $('#form_reg');
        var rules = {
                agent_user : {
					required : true
				},
                username : {
                    required : true,
                    stringCheck : true
                },
                password : {
                    required : true,
                    rangelength : [6,12],
                    stringCheck : true
                },
                repassword : {
                    required : true,
                    rangelength : [6,12],
                    equalTo : '#form_reg input[name=password]'
                },
                back_rebate : {
                    required : true
                }
            },
            messages = {
                agent_user : {
                    required : '请选择账号类型'
                },
                username : {
                    required : '请输入用户账号',
                    stringCheck : '用户账号只能包含英文、数字、下划线'
                },
                password : {
                    required : '请输入密码',
                    rangelength : '密码长度6到12之间',
                    stringCheck : '密码只能包含英文、数字、下划线'
                },
                repassword : {
                    required : '两次密码输入不一致',
                    rangelength : '两次密码输入不一致',
                    equalTo : '两次密码输入不一致'
                },
                back_rebate : {
                    required : '请填写返点'
                }
            };
        if(!check_validate(self,rules,messages).form()){
            return false;
        }
        if(subAddUserCheck) {
            subAddUserCheck = false;
            $.post("{:url('addDo')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    pop(data.msg, data.url, 1);
                } else {
                    pop(data.msg);
                    subAddUserCheck = true;
                }
            }
        }
    }
</script>
</body>
</html>
