<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>代理中心</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="shortcut icon" href="__IMG__/favicon.ico" />
	<link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon"　/>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/skin.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
	<link rel="stylesheet" href="__CSS__/index.css">
	<link type="text/css" rel="stylesheet" href="__CSS__/chat-index.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/index-index-inde.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/index_sy.css"/>
	<style type="text/css">
		.subnaviarrow,.recharge_div,.subcontent,.addbankcard_form{display: none;}
		.subnaviarrow.active,.recharge_div.active,.subcontent.active{display: block;}
		.records_ul li{
			float: left;
			width: 25%;
			margin: 0 3%;
			border: 1px solid #D3D1D1;
			border-radius: 5px;
			padding: 10px;
		}
		.records_choose span{
			padding: 10px;
		}
		.records_choose select,.records_choose input{
			width: 300px;
			border-radius:5px ;
			border: 1px solid #D3D1D1;
			padding: 10px 5px;
		}
		.records_choose label{width: 70px;}
		.header .lotterys .show>a{height: 37px;line-height: 37px;}
		.header .menu2{left: 705px;}
		.logo2 {left: 0; }
		.info span{display: inline;}
	</style>
</head>
<body>
<div id="appLoading" class="bet-loading" style="position: fixed; width: 100%; top: 200px; text-align: center; z-index: 3000; display: none;">
	<div class="spinner">
		<div class="three-bounce">
			<div class="one"></div>
			<div class="two">
			</div>
			<div class="three"></div>
		</div>
	</div>
</div>
<div class="main-body skin_red" style="right: 0px;">
	{include file="common/index_top" /}
	<div class="main-wrap"><!---->
		{include file="common/index_siderbar" /}
		<div class="content-wrap" style="width: 1000px;border: 1px solid #D2D2D2;">
			<div class="content">
				<div class="sub-wrap clearfix">
					<div class="center-page">
						<div class="recharge_div active">
							<h4 class="h4 padding_10 bor_b">新增用户</h4>
							<form action="" method="post">
								<div class="padding_10">
									<span>
										用户类型：
										<i>
											<input type="radio" name="aa" id="uesr01" value="" />
											 <label for="uesr01">代理用户</label>
										</i>
										<i>
											<input type="radio" name="aa" id="uesr02" value="" />
											 <label for="uesr02">普通用户</label>
										</i>
									</span>
								</div>
								<div class="padding_10">
									<span>新增用户</span>
									<input type="text" name="" id="" value="" placeholder="请输入用户账号" />
								</div>
								<div class="padding_10">
									<span>登录密码</span>
									<input type="password" name="" id="" value="" placeholder="请输入密码" />
								</div>
								<div class="padding_10">
									<span>确认密码</span>
									<input type="password" name="" id="" value="" placeholder="请再次确认密码" />
								</div>
								<div class="padding_10">
									<span>彩票返点</span>
									<select name="">
										<option value="">返点：9.99   奖金：1.999</option>
										<option value="">返点:9.98   奖金：1.998</option>
										<option value="">返点：9.97   奖金：1.997</option>
										<option value="">返点：9.96   奖金：1.996</option>
										<option value="">返点：9.95 奖金：1.995</option>
										<option value="">返点：9.94   奖金：1.994</option>
										<option value="">返点：9.93   奖金：1.993</option>
										<option value="">返点：9.92  奖金：1.992</option>
									</select>
								</div>
								<div class="padding_10">
									<a href="javascript:;" class="btn marginleft30">立即开户</a>
								</div>
							</form>
						</div>
						<div class="recharge_div ">
							<h4 class="h4 padding_10 bor_b">推广链接</h4>
							<form action="" method="post">
								<div class="padding_10 clearfix">
									<div class="left">
										用户类型：
										<i>
											<input type="radio" name="bb" id="uesr03" value="" />
											<label for="uesr03">代理用户</label>
										</i>
										<i>
											<input type="radio" name="bb" id="uesr04" value="" />
											<label for="uesr04">普通用户</label>
										</i>
									</div>
									<div class="right">
										<span>彩票返点</span>
										<select name="">
											<option value="">返点：9.99   奖金：1.999</option>
											<option value="">返点:9.98   奖金：1.998</option>
											<option value="">返点：9.97   奖金：1.997</option>
											<option value="">返点：9.96   奖金：1.996</option>
											<option value="">返点：9.95 奖金：1.995</option>
											<option value="">返点：9.94   奖金：1.994</option>
											<option value="">返点：9.93   奖金：1.993</option>
											<option value="">返点：9.92  奖金：1.992</option>
										</select>
									</div>
								</div>
								<div class="padding_10">
									备注：<input type="text"  placeholder="备注不可不输入"/>
								</div>
								<div class="padding_10">
									<a href="javascript:;" class="btn marginleft30">生成链接</a>
								</div>
							</form>
							<div class="table_box">
								<table border="" cellspacing="" cellpadding="">
									<tr>
										<th>备注</th>
										<th>注册类型</th>
										<th>返点级别</th>
										<th>自动注册链接</th>
										<th>是否禁用</th>
										<th>操作</th>
									</tr>
									<tr>
										<td></td>
										<td>代理</td>
										<td>1.5%</td>
										<td ><a href="javascript:;" class="text_ovf link_a">https://oe9968.com/AccountRegister/Register?pram=D7AFAC4C9699C146C0A434C41CAE822B</a></td>
										<td>否</td>
										<td>
											<a href="javascript:;" class="btn">复制</a>
											<a href="javascript:;" class="btn dell_a">删除</a>
										</td>

									</tr>
								</table>
							</div>
						</div>
						<div class="recharge_div ">
							<h4 class="h4 padding_10 bor_b">盈亏报表</h4>
							<form action="" method="post">
								<div class="padding_10">
									<span>用户名：<input type="text" /></span>
									<span class="marginleft30">
											时间
											<input type="text" class="demo-input" placeholder="请选择日期" id="test17" lay-key="1">
										</span>
									<a href="javascript:;" class="btn marginleft30">搜索</a>
								</div>
							</form>
							<div class="table_box">
								<table border="" cellspacing="" cellpadding="">
									<tr>
										<th>用户名</th>
										<th>级别</th>
										<th>充值</th>
										<th>提现</th>
										<th>投注</th>
										<th>中奖</th>
										<th>返点</th>
										<th>活动</th>
										<th>其他</th>
										<th>盈亏</th>
										<th>操作</th>
									</tr>
									<tr>
										<td>zxc123123z</td>
										<td>6.6</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>
											<a href="javascript:;" class="btn">删除</a>
										</td>

									</tr>
								</table>
							</div>
						</div>
						<div class="recharge_div ">
							<h4 class="h4 padding_10 bor_b">投注记录</h4>
							<form action="" method="post">
								<div class="padding_10">
									游戏类型
									<select name="">
										<option value="">彩票游戏</option>
										<!--<option value="">真人游戏</option>-->
										<!--<option value="">BBIN</option>-->
									</select>
								</div>
								<div class="padding_10">
									<span><i class="padding_lr10">期数</i><input type="text" /></span>
								</div>
								<div class="padding_10">
										<span>
											彩票名称
											<select name="">
												<option value="">全部彩票</option>
												<option value="">北京赛车</option>
												<option value="">重庆时时彩</option>
												<option value="">幸运飞艇</option>
												<option value="">广东11选5</option>
												<option value="">江苏快三</option>
												<option value="">pc蛋蛋</option>
												<option value="">秒速时时彩</option>
												<option value="">秒速赛车</option>
												<option value="">六合彩</option>
												<option value="">幸运农场</option>
											</select>
										</span>
									<span>用户名：<input type="text" /></span>

									<span class="marginleft30">
											时间
											<input type="text" class="demo-input" placeholder="请选择日期" id="test20" lay-key="1">
										</span>
									<a href="javascript:;" class="btn marginleft30">搜索</a>
								</div>
							</form>
							<div class="table_box">
								<table border="" cellspacing="" cellpadding="">
									<tr>
										<th>编号</th>
										<th>用户名</th>
										<th>彩种</th>
										<th>玩法</th>
										<th>期号</th>
										<th>下单时间</th>
										<th>投注金额</th>
										<th>奖金</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
									<tr>
										<td>zxc123123z</td>
										<td>6.6</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>
											<a href="javascript:;" class="btn">详情</a>
										</td>

									</tr>
								</table>
							</div>
						</div>
						<div class="recharge_div ">
							<h4 class="h4 padding_10 bor_b">账变记录</h4>
							<form action="" method="post">
								<div class="padding_10">
									<span>
										账户
										<select name="">
											<option value="">个人</option>
										</select>
									</span>
									<span class="padding_lr10">
										账单类别
										<select name="">
											<option value="">全部类别</option>
											<option value="">充值</option>
											<option value="">提现</option>
											<option value="">投注</option>
										</select>
									</span>

								</div>
								<div class="padding_10">
									<span>
										用户名
										<input type="text" name="" id="" value="" />
									</span>
									<span class="padding_lr10">
										时间
										<input type="text" class="demo-input" placeholder="请选择日期" id="test12" lay-key="1">
									</span>
									<a href="javascript:;" class="btn marginleft30">搜索</a>
								</div>
							</form>
							<div class="table_box">
								<table border="" cellspacing="" cellpadding="">
									<tr>
										<th>编号</th>
										<th>用户名</th>
										<th>账单类别</th>
										<th>之前金额</th>
										<th>操作金额</th>
										<th>剩余金额</th>
										<th>操作时间</th>
										<th>备注</th>
									</tr>
									<tr>
										<td>zxc123123z</td>
										<td>6.6</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>到处都是</td>

									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/laydate.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $("#agent_list li").click(function(){
        var index =$(this).index();
//				$(this).addClass("active").siblings().removeClass("active");
        $(".recharge_div").eq(index).addClass("active").siblings().removeClass("active");
    })
    $(".tabs .tab").click(function(){
        var index =$(this).index()-1;
        $(this).addClass("tabactive").siblings().removeClass("tabactive");
        $(".subcontent").eq(index).addClass("active").siblings().removeClass("active");
    })
    $(".addbankcard_img").click(function(){
        $(".addbankcard_form").show();
        $(".addbankcard").hide();
    })
    $(".lottery_box_one").hover(function(){
        $("#lottery_list").fadeIn(200);
    },function(){
        $("#lottery_list").fadeOut(200);
    })
    $(".agent").hover(function(){
        $("#agent_list").fadeIn(200);
    },function(){
        $("#agent_list").fadeOut(200);
    })
    laydate.render({
        elem: '#test17'
        ,type: 'datetime'
        ,range: '到'
        ,format: 'M月d日'
    });
    laydate.render({
        elem: '#test20'
        ,type: 'datetime'
        ,range: '到'
        ,format: 'M月d日'
    });
    //删除
    $(".dell_a").click(function(){
        $(this).parent().parent().remove();
    })
    $(".main-wrap").css("height",$(document).height()-180 );
</script>
</body>
</html>
