<!--<div class="cont-sider">-->
    <!--<div class="sider-box1 mt5">-->
        <!--<table class="u-table2">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th id="stat_play_list_desc">长龙排行榜</th>-->
            <!--</tr>-->
            <!--</thead>-->
        <!--</table>-->
        <!--<table class="u-table5">-->
            <!--<tbody id="stat_play_list">-->
            <!--<tr class="u-tb5-tr1">-->
                <!--<th>   特小</th>-->
                <!--<td class="statFont">3期</td>-->
            <!--</tr>-->
            <!--<tr class="u-tb5-tr2"><th>   总和单</th>-->
                <!--<td class="statFont">3期</td></tr> &lt;!&ndash;&ndash;&gt;-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->