<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>加拿大28</title>
		<link rel="icon" href="__IMG__/wap_new/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="__IMG__/wap_new/favicon.ico" type="image/x-icon" />
		<link href="__CSS__/wap_new/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__CSS__/wap_new/common.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/wap_new/index.css"/>
	</head>
	<body class="bg_ff">
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">加拿大28</h1>
		</header>
		<div class="mui-content bg_ff">
			<div class="game-home ">
				<a href="{:url('Jndeb/index',['cate'=>2,'hall'=>2])}">
					<span class="pl-a">赔率说明</span>
					<h3>1.85模式</h3>
					<p class="clearfix game-bottom">
						<span class="left"> 高赔率无回水</span>
						<span class="right"> <img class="icon-small vertical-align_m" src="__IMG__/wap_new/icon-team.png" alt="" /> 123人</span>
					</p>
				</a>
			</div>
			<div class="game-home">
				<a href="{:url('Jndeb/index',['cate'=>2,'hall'=>3])}">
					<span class="pl-a">赔率说明</span>
					<h3>1.6模式</h3>
					<p class="clearfix game-bottom">
						<span class="left"> 传统模式有回水</span>
						<span class="right"> <img class="icon-small vertical-align_m" src="__IMG__/wap_new/icon-team.png" alt="" /> 123人</span>
					</p>
				</a>	
			</div>
			<div class="game-home">
				<a href="{:url('Jndeb/index',['cate'=>2,'hall'=>1])}">
					<span class="pl-a">赔率说明</span>
					<h3>土豪专场</h3>
					<p class="clearfix game-bottom">
						<span class="left"> 网盘无回本玩法</span>
						<span class="right"> <img class="icon-small vertical-align_m" src="__IMG__/wap_new/icon-team.png" alt="" /> 123人</span>
					</p>
				</a>	
			</div>
		</div>
		<div class="msg-spring"></div>
		<script src="__JS__/wap_new/mui.min.js"></script>
		<script src="__JS__/wap_new/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/wap_new/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript"></script>
	</body>
</html>