<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>秒速时时彩</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body style="background: #E5BCC3;">
<div class="mui-inner-wrap mui-transitioning main">
    <header class="">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mg_top10 color_ff"></a>
        <h1 class="mui-title mui-pull-left color_ff">
            <span class="left">秒速时时彩 <a href="javascript:void(0);"><img class="menu_img" src="__IMG__/wap/muen.png" alt="" /></a></span>
        </h1>
        {include file="common/top_list" /}
    </header>
    <div class="mui-content">
        <ul class="mui-clearfix game_box1">
            <li class="active"><a href="javascript:void(0);">投注区</a></li>
            <li><a href="javascript:void(0);">聊天室</a></li>
        </ul>
        <div class="game_box2 padding_tb10 bor_bd7">
            <div class="clearfix ">
                <p class="left game_B2L cur_turn_num"></p>
                <div id="result_balls" class="left game_B2R">
                    <p>
                        <i class="round1">0</i>
                        <i class="round1">0</i>
                        <i class="round1">0</i>
                        <i class="round1">0</i>
                        <i class="round1">0</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="game_box2 padding_tb10 bor_bd7">
            <div class="clearfix ">
                <p class="left game_B2L" id="next_turn_num"></p>
                <div class="left game_B2R">
                    <div class="clearfix left">
                        <span class="left lin_30">封盘：</span>
                        <div class="colockbox clearfix left" id="bet-date">
                            <span class="minute"></span>
                            <span class="second"></span>
                        </div>
                        </span>
                    </div>
                    <div class="clearfix left">
                        <span class="left lin_30 mg_left10">开奖：</span>
                        <div class="colockbox clearfix left" id="open-date">
                            <span class="minute"></span>
                            <span class="second"></span>
                        </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game_box3 mui-clearfix">
            <ul class="left game_B3L">
                <li class="active"><a href="javascript:void(0);"><i class="round_small"></i> 两面</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 1~5球</a></li>
                <li><a href="javascript:void(0);"><i class="round_small"></i> 前中后</a></li>
            </ul>
            <div class="game_tab left">
                <div class="tab_box active">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">总和、龙虎</h4>
                        <ul class="mui-clearfix two" data-target-type="1" data-target-num="总和、龙虎">
                            <li data-num="总和大"><a href="javascript:void(0);">总和大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="总和小"><a href="javascript:void(0);">总和小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="总和单"><a href="javascript:void(0);">总和单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="总和双"><a href="javascript:void(0);">总和双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                        <ul class="mui-clearfix three" data-target-type="1" data-target-num="总和、龙虎">
                            <li data-num="龙"><a href="javascript:void(0);">龙<i data-id="85" class="odds"></i></a></li>
                            <li data-num="虎"><a href="javascript:void(0);">虎<i data-id="85" class="odds"></i></a></li>
                            <li data-num="和"><a href="javascript:void(0);">和<i data-id="86" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第一球</h4>
                        <ul class="mui-clearfix two" data-target-type="2" data-target-num="第一球">
                            <li data-num="大"><a href="javascript:void(0);">大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="小"><a href="javascript:void(0);">小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="单"><a href="javascript:void(0);">单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="双"><a href="javascript:void(0);">双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第二球</h4>
                        <ul class="mui-clearfix two" data-target-type="3" data-target-num="第二球">
                            <li data-num="大"><a href="javascript:void(0);">大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="小"><a href="javascript:void(0);">小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="单"><a href="javascript:void(0);">单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="双"><a href="javascript:void(0);">双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第三球</h4>
                        <ul class="mui-clearfix two" data-target-type="4" data-target-num="第三球">
                            <li data-num="大"><a href="javascript:void(0);">大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="小"><a href="javascript:void(0);">小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="单"><a href="javascript:void(0);">单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="双"><a href="javascript:void(0);">双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第四球</h4>
                        <ul class="mui-clearfix two" data-target-type="5" data-target-num="第四球">
                            <li data-num="大"><a href="javascript:void(0);">大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="小"><a href="javascript:void(0);">小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="单"><a href="javascript:void(0);">单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="双"><a href="javascript:void(0);">双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第五球</h4>
                        <ul class="mui-clearfix two" data-target-type="6" data-target-num="第五球">
                            <li data-num="大"><a href="javascript:void(0);">大<i data-id="84" class="odds"></i></a></li>
                            <li data-num="小"><a href="javascript:void(0);">小<i data-id="84" class="odds"></i></a></li>
                            <li data-num="单"><a href="javascript:void(0);">单<i data-id="84" class="odds"></i></a></li>
                            <li data-num="双"><a href="javascript:void(0);">双<i data-id="84" class="odds"></i></a></li>
                        </ul>
                    </div>


                </div>
                <div class="tab_box">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第一球</h4>
                        <ul class="mui-clearfix two" data-target-type="2" data-target-num="第一球">
                            <li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="83" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7" data-target-type="3">第二球</h4>
                        <ul class="mui-clearfix two" data-target-type="3" data-target-num="第二球">
                            <li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="83" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第三球</h4>
                        <ul class="mui-clearfix two" data-target-type="4" data-target-num="第三球">
                            <li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="83" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">第四球</h4>
                        <ul class="mui-clearfix two" data-target-type="5" data-target-num="第四球">
                            <li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="83" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7" data-target-type="6">第五球</h4>
                        <ul class="mui-clearfix two" data-target-type="6" data-target-num="第五球">
                            <li data-num="0"><a href="javascript:void(0);"><span class="round1">0</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="1"><a href="javascript:void(0);"><span class="round1">1</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="2"><a href="javascript:void(0);"><span class="round1">2</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="3"><a href="javascript:void(0);"><span class="round1">3</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="4"><a href="javascript:void(0);"><span class="round1">4</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="5"><a href="javascript:void(0);"><span class="round1">5</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="6"><a href="javascript:void(0);"><span class="round1">6</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="7"><a href="javascript:void(0);"><span class="round1">7</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="8"><a href="javascript:void(0);"><span class="round1">8</span><i data-id="83" class="odds"></i></a></li>
                            <li data-num="9"><a href="javascript:void(0);"><span class="round1">9</span><i data-id="83" class="odds"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab_box">
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7">前三</h4>
                        <ul class="mui-clearfix two" data-target-type="7" data-target-num="前三">
                            <li data-num="豹子"><a href="javascript:void(0);">豹子<i data-id="87" class="odds"></i></a></li>
                            <li data-num="顺子"><a href="javascript:void(0);">顺子<i data-id="88" class="odds"></i></a></li>
                            <li data-num="对子"><a href="javascript:void(0);">对子<i data-id="89" class="odds"></i></a></li>
                            <li data-num="半顺"><a href="javascript:void(0);">半顺<i data-id="90" class="odds"></i></a></li>
                        </ul>
                        <ul class="one mui-clearfix" data-target-type="7" data-target-num="前三">
                            <li data-num="杂六"><a href="javascript:void(0);">杂六<i data-id="91" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7" data-target-type="8">中三</h4>
                        <ul class="mui-clearfix two" data-target-type="8" data-target-num="中三">
                            <li data-num="豹子"><a href="javascript:void(0);">豹子<i data-id="87" class="odds"></i></a></li>
                            <li data-num="顺子"><a href="javascript:void(0);">顺子<i data-id="88" class="odds"></i></a></li>
                            <li data-num="对子"><a href="javascript:void(0);">对子<i data-id="89" class="odds"></i></a></li>
                            <li data-num="半顺"><a href="javascript:void(0);">半顺<i data-id="90" class="odds"></i></a></li>
                        </ul>
                        <ul class="one mui-clearfix" data-target-type="8" data-target-num="中三">
                            <li data-num="杂六"><a href="javascript:void(0);">杂六<i data-id="91" class="odds"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mui-text-center padding_10 bor_bd7" data-target-type="9">后三</h4>
                        <ul class="mui-clearfix two" data-target-type="9" data-target-num="后三">
                            <li data-num="豹子"><a href="javascript:void(0);">豹子<i data-id="87" class="odds"></i></a></li>
                            <li data-num="顺子"><a href="javascript:void(0);">顺子<i data-id="88" class="odds"></i></a></li>
                            <li data-num="对子"><a href="javascript:void(0);">对子<i data-id="89" class="odds"></i></a></li>
                            <li data-num="半顺"><a href="javascript:void(0);">半顺<i data-id="90" class="odds"></i></a></li>
                        </ul>
                        <ul class="one mui-clearfix" data-target-type="9" data-target-num="后三">
                            <li data-num="杂六"><a href="javascript:void(0);">杂六<i data-id="91" class="odds"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="foot ">
        <div class="clearfix">
            <div class="left FootL">
                已选中<span class="red" id="betTotalNum">0</span>注
                <input type="number" class="bet-money" oninput="changeVale(this)" value="1" placeholder="输入金额" />
            </div>
            <div class="right FootR">
                <a href="javascript:void(0);" class="bet_a betTab">下注</a>
                <a href="javascript:void(0);" class="betReset">重置</a>
            </div>
        </div>
    </nav>
    <div class="rule_box">
        <h4 class="mui-h4 mui-text-center mui-clearfix">秒速时时彩  <a class="mui-pull-right" href="javascript:void(0);"><img class="close" src="__IMG__/wap/close.png"/></a></h4>
        <p>
            秒速时时彩”是引进欧洲博彩公司开奖设备，由菲律宾博彩执照公司审核监控，联合开发的彩票游戏，保证公平公正；由于该彩种并不属于某单一地区彩种，
            所以暂时还未对外开放官方网站，但是这类彩种在欧洲当地是非常火爆的，您可以放心投注、开奖时间，北京时间（GMT+8）每天白天从早上07:25:00开到凌晨04:00:00，
            每75秒开一次奖,每天开奖985期。<br />
            具体游戏规则如下:<br />
            1.第一球~第五球<br />
            第一球特~第五球特：第一球特、第二球特、第三球特、第四球特、第五球特：指下注的每一球特与开出之号码其开奖顺序及开奖号码相同，视为中奖，如第一球开出号码8，下注第一球为8者视为中奖，其余情形视为不中奖。<br />
            单双大小：根据相应单项投注第一球特 ~ 第五球特开出的球号，判断胜负。<br />
            大小：根据相应单项投注的第一球特 ~ 第五球特开出的球号大於或等於5为特码大，小於或等於4为特码小。<br />
            单双：根据相应单项投注的第一球特 ~ 第五球特开出的球号为双数叫特双，如2、6；特码为单数叫特单，如1、3。<br />
            2.总和单双大小：<br />
            大小：根据相应单项投注的第一球特 ~ 第五球特开出的球号大於或等於23为特码大，小於或等於22为特码小。<br />
            单双：根据相应单项投注的第一球特 ~ 第五球特开出的球号数字总和值是双数为总和双，数字总和值是单数为总和单。<br />
            3.前三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。<br />
            豹子：中奖号码的万位千位百位数字都相同。----如中奖号码为000、111、999等，中奖号码的万位千位百位数字相同，则投注豹子者视为中奖，其它视为不中奖。<br />
            顺子：中奖号码的万位千位百位数字都相连，不分顺序。（数字9、0、1相连）----如中奖号码为123、901、321、546等，中奖号码万位千位百位数字相连，则投注顺子者视为中奖，其它视为不中奖。<br />
            对子：中奖号码的万位千位百位任意两位数字相同。（不包括豹子）----如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。如果开奖号码为豹子,则对子视为不中奖。如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。<br />
            半顺：中奖号码的万位千位百位任意两位数字相连，不分顺序。（不包括顺子、对子。）----如中奖号码为125、540、390、706，中奖号码有两位数字相连，则投注半顺者视为中奖，其它视为不中奖。如果开奖号码为顺子、对子,则半顺视为不中奖。--如中奖号码为123、901、556、233，视为不中奖。<br />
            杂六：不包括豹子、对子、顺子、半顺的所有中奖号码。----如中奖号码为157，中奖号码位数之间无关联性，则投注杂六者视为中奖，其它视为不中奖。<br />
            4.中三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。<br />
            豹子：中奖号码的千位百位十位数字都相同。----如中奖号码为000、111、999等，中奖号码的千位百位十位数字相同，则投注豹子者视为中奖，其它视为不中奖。<br />
            顺子：中奖号码的千位百位十位数字都相连，不分顺序。（数字9、0、1相连）----如中奖号码为123、901、321、546等，中奖号码千位百位十位数字相连，则投注顺子者视为中奖，其它视为不中奖。<br />
            对子：中奖号码的千位百位十位任意两位数字相同。（不包括豹子）----如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。如果开奖号码为豹子,则对子视为不中奖。如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。<br />
            半顺：中奖号码的千位百位十位任意两位数字相连，不分顺序。（不包括顺子、对子。）----如中奖号码为125、540、390、706，中奖号码有两位数字相连，则投注半顺者视为中奖，其它视为不中奖。如果开奖号码为顺子、对子,则半顺视为不中奖。--如中奖号码为123、901、556、233，视为不中奖。<br />
            杂六：不包括豹子、对子、顺子、半顺的所有中奖号码。----如中奖号码为157，中奖号码位数之间无关联性，则投注杂六者视为中奖，其它视为不中奖。<br />
            6.后三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。<br />
            豹子：中奖号码的百位十位个位数字都相同。----如中奖号码为000、111、999等，中奖号码的百位十位个位数字相同，则投注豹子者视为中奖，其它视为不中奖。<br />



        </p>
    </div>
    {include file="common/bet_list" /}
    <div class="overlay"></div>
</div>
<span id="stageStatus" data-status="off" style="display: none;"></span>
{include file="common/menu" /}
{include file="msssc/js" /}
</body>
</html>
