{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">彩票管理</a></li>
                <li class="active">六合彩创建期号</li><label></label>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12">
                    <form class="form-inline" id="create">
                        <div class="form-group">
                            <label>初始时间：</label>
                            <input type="text" class="form-control" id="test5" name="start_time" placeholder="开始时间">
                            <label>开奖时间：</label>
                            <input type="text" class="form-control" id="test6" name="end_time" placeholder="开奖时间">
                            <label>期号：</label>
                            <input type="number" name="stage" placeholder="期号">
                            <button type="button" onclick="addstage()" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </header>

                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>期号</th>
                                <th>开奖时间</th>
                                <th>开奖号码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo" empty="暂时没有数据"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.stage}</td>
                                    <td>{:date('Y-m-d H:i:s',$vo.end_time)}</td>
                                    <td>{:$vo.number?$vo.number:'未开奖'}</td>
                                    <td>
                                        <a onclick="opens('{$vo.id}','{$vo.stage}','{$vo.end_time}',this)" class="fa confirm"  title="开奖">开奖</a>
                                        <a href="{:url('lottery/lhc_stage_del',['id'=>$vo['id']])}" class="fa fa-times confirm "  title="删除"></a>
                                    </td>
                                </tr>
                            {/volist}           
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="__JS__/laydate/laydate.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
<script type="text/javascript">
    //日期时间选择器
  laydate.render({
    elem: '#test5'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#test6'
    ,type: 'datetime'
  });
  function addstage(){
    var start_time = $("input[name='start_time']").val();
    var end_time = $("input[name = 'end_time']").val();
    var stage = $("input[name='stage']").val();
    if(start_time && stage && end_time){
        $.post('/admin/lottery/lhc_stage_add',{start_time:start_time,stage:stage,end_time:end_time},function(reg){
            alert(reg.msg);
        });
    }else{
        alert('请填写完整参数');
    }
    return;
  }
  function opens(id,stage,end_time,obj) {
      var number=prompt("请输入开奖号码，如：05,01,06,04,23,41,12  以英文逗号间隔");
      var check=true;
      if(number){
          if(check){
              check=false;
              $.ajax({
                  type: "post",
                  url: "/admin/Lottery/lhc_stage_open",
                  data: {id:id,stage:stage,end_time:end_time,number:number},
                  dataType: "json",
                  success: function(data){
                      if(data.code==0){
                          check=true;
                          setTimeout(function () {
                              location.reload();
                          },1000);
                      }
                      alert(data.msg);
                  }
              });
          }
      }else{
          alert('请填写开奖号码！');
      }
  }
</script>
{/block}