{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
<style>
    .table td{
        height: 100px;
        font-size: 4ch;
    }
</style>
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">金额管理</a></li>
                <li class="active">团队总览</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12 ">
                    <form class="form-inline" action="{:url('')}">
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="input-group  custom-date-range">
                                    <input type="text" class="form-control form_datetime" value="{$_GET['from'] ??  ''}" name="from" placeholder="开始时间">
                                    <span class="input-group-addon">到</span>
                                    <input type="text" class="form-control form_datetime" value="{$_GET['to'] ?? ''}" name="to" placeholder="结束时间">
                                </div>
                            </div>
                            <input type="text" name="gm_name" class="form-control" value="{$_GET['gm_name'] ?? ''}" placeholder="用户账号">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </header>
                <div class="panel-body">
                    <form class="ids" action="{:url('')}" method="post">
                        <table class="table" style="text-align: center">
                            <tbody>
                            <tr style="background:rosybrown;">
                                <td >账号</td>
                                <td >{$mem.gm_name|default="平台"}</td>
                                <td>团队余额</td>
                                <td>{$mem.teamMoney|default='0.00'}</td>
                            </tr>
                            <tr style="background: darkslateblue">
                                <td>团队人数</td>
                                <td>{$mem.teamNum|default='0'}</td>
                                <td>在线人数</td>
                                <td>{$mem.onlineNum|default='0'}</td>
                            </tr>
                            <tr style="background: darkslategray">
                                <td>团队充值</td>
                                <td>{$mem.teamRecharge|default='0.00'}</td>
                                <td>团队提现</td>
                                <td>{$mem.teamCash|default='0.00'}</td>
                            </tr>
                            <tr style="background: plum">
                                <td>团队投注</td>
                                <td>{$mem.teamBet|default='0.00'}</td>
                                <td>团队中奖</td>
                                <td>{$mem.teamWin|default='0.00'}</td>
                            </tr>
                            <tr style="background: goldenrod">
                                <td>团队返利</td>
                                <td>{$mem.teamFan|default='0.00'}</td>
                                <td>团队盈亏（用户角度）</td>
                                <td>{$mem.teamYk|default='0.00'}</td>
                            </tr>
                            <!--<tr style="background: plum">-->
                            <!--<td>总上分</td>-->
                            <!--<td>{$up_total|default='0.00'}</td>-->
                            <!--<td>总下分</td>-->
                            <!--<td>{$down_total|default='0.00'}</td>-->
                            <!--</tr>-->
                            <!--<tr style="background: goldenrod">-->
                            <!--<td>总回水</td>-->
                            <!--<td>{$back_total|default='0.00'}</td>-->
                            <!--<td>总流水</td>-->
                            <!--<td>{$flow_total|default='0.00'}</td>-->
                            <!--<td>总代理回水</td>-->
                            <!--<td>{$d_back_total|default='0.00'}</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </form>
                </div>
            </section>
        </div>

    </div>
</div>
<!--body wrapper end-->
<!-- Modal -->
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}


