{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">金额管理</a></li>
                <li class="active">盈亏报表</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading col-xs-12">

                    <form class="form-inline" action="{:url('')}">
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="input-group  custom-date-range">
                                    <input type="text" class="form-control form_datetime" value="{$_GET['from'] ?? ''}" name="from">
                                    <span class="input-group-addon">到</span>
                                    <input type="text" class="form-control form_datetime" value="{$_GET['to'] ?? ''}" name="to">
                                </div>
                            </div>
                            <input type="text" name="gm_name" class="form-control" value="{$_GET['gm_name'] ?? ''}" placeholder="请输入名称">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </header>

                <div class="panel-body">
                    <form class="ids" action="" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>投注总额</th>
                                <th>中奖总额</th>
                                <th>返水总额</th>
                                <th>总返点</th>
                                <th>充值</th>
                                <th>提现</th>
                                <th>余额</th>
                                <th>盈亏</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo" empty="$empty"}
                                <tr>
                                    <th>{$vo.gm_name??'0'}</th>
                                    <th>{$vo.5??'0'}</th>
                                    <th>{$vo.2??'0'}</th>
                                    <th>{$vo.6??'0'}</th>
                                    <th>--</th>
                                    <th>{$vo.recharge??'0'}</th>
                                    <th>{$vo.withdrawals??'0'}</th>
                                    <th>{$vo.over??'0'}</th>
                                    <th>{$vo.profit??'0'}</th>
                                    <th child-id="{$vo.junior_ids??''}" id="look_child">查看下级</th>
                                </tr>
                                {/volist}
                                <!-- <tr>
                                    <th>{$totle.gm_name??'--'}</th>
                                    <th>{$totle.5??'--'}</th>
                                    <th>{$totle.2??'--'}</th>
                                    <th>{$totle.6??'--'}</th>
                                    <th>--</th>
                                    <th>{$totle.1??'--'}</th>
                                    <th>{$totle.4??'--'}</th>
                                    <th>--</th>
                                    <th>{$totle.profit??'--'}</th>
                                    <th>查看下级</th>
                                </tr> -->
                            </tbody>
                        </table>
                    </form>
                </div>
            </section>
            <div>会员余额总计：{$all_money}</div>
            {$page}
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).on('click','#look_child',function(){
        var uid = $(this).attr('child-id');
        $.get('/admin/money/child_table/uid/'+uid,function(data){
            console.log(data);
            if(data.list==0){
                layer.msg('下级无数据！');return;
            }
            var str='';
            str+='<table class="table"><thead><tr><th>用户名</th><th>投注总额</th><th>中奖总额</th><th>返水总额</th><th>总返点</th><th>充值</th><th>提现</th><th>余额</th><th>盈亏</th></tr></thead><tbody>';
            $.each(data.list, function(commentIndex, comment){
                str+='<tr><th>'+comment['gm_name']+'</th><th>'+comment['5']+'</th><th>'+comment['2']+'</th><th>'+comment['6']+'</th><th>--</th><th>'+comment['recharge']+'</th><th>'+comment['withdrawals']+'</th><th>'+comment['over']+'</th><th>'+comment['profit']+'</th></tr>';
            });
            str+='</tbody></table>';
            layer.open({
                type: 1,
                title: false,
                area:['60%','60%'],
                skin: 'layui-layer-rim', //加上边框
                closeBtn: 0,
                shadeClose: true,
                content: str
            });
        });
    });
</script>
<!--body wrapper end-->
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>

{/block}