<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>资金管理</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
	<style>
		.displayNone{ display: none;}
		.spring_box{
			width: 90%;
			position: fixed;
			background: #fff;
			box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
			left: 5%;
			top: 15%;
			padding: 10px;
			border-radius:5px ;
			max-height:450px;
			overflow: auto;
			z-index: 30;
		}
		.dr_box{
			width: 75%;
			margin: auto;
			padding: 30px 0;
		}
		.dr_box input{
			width:55%;
		}
		.dr_box label{
			width: 85px;
		}
		.bank_box{
			width: 100%;
			margin: auto;
			padding: 20px 0;
		}
		.bank_box input{
			width: 66%;
			margin: 0;
			height: 35px;
		}
		.bank_box label{
			width: 85px;
			color: #555;
			text-align: right;
		}
	</style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">资金管理</h1>
</header>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item1 " href="{:url('Index/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon1.png" alt="" /></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item1" href="{:url('Index/game')}" >
		<span class="mui-icon "><img src="__IMG__/wap/icon2.png" alt="" /></span>
		<span class="mui-tab-label">游戏大厅</span>
	</a>
	<a class="mui-tab-item1 mui-active" href="{:url('Account/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon3_r.png" alt="" /></span>
		<span class="mui-tab-label">资金管理</span>
	</a>
	<a class="mui-tab-item1" href="{:url('Center/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon4.png" alt="" /></span>
		<span class="mui-tab-label">我的</span>
	</a>
</nav>
<div class="mui-content ">
	<div class="fund_top ">
		<dl class="clearfix">
			<dt class="left"><img class="width100"  src="__IMG__/wap/head.png" alt="" /></dt>
			<dd class="left">
				<h4 class="mui-h4 color_ff mg_top20">{$mem.gm_name}
					<a href="{:url('Center/conversion')}" class="basic_a mg_left10">资金转账</a>
				</h4>
				<p class="color_ff mg_top10">账户余额：<span>{$mem.money}</span></p>
			</dd>
		</dl>
	</div>
	<div class="fund_main ">
		<ul class="clearfix">
			<li class="active"><a href="{:url('index')}">存款</a></li>
			<li><a href="{:url('withdrawMoney')}">取款</a></li>
			<li><a href="{:url('rechargem')}">存款记录</a></li>
			<li><a href="{:url('cashm')}">取款记录</a></li>
		</ul>
		<!--存款-->
		<div class="funds_div active">
			<h4 class="padding_10 mui-h4">充值方式</h4>
			<div class="bg_ff">
				<div class="mui-input-row mui-radio mui-right bor_b">
					<label>银联支付</label>
					<input name="way" value="3" type="radio" checked>
				</div>
				<div class="mui-input-row mui-radio mui-right bor_b">
					<label>支付宝</label>
					<input name="way" value="2" type="radio" checked>
				</div>
				<div class="mui-input-row mui-radio mui-right bor_b">
					<label>微信</label>
					<input name="way" value="1" type="radio" checked>
				</div>
			</div>
			<h4 class="padding_10 mui-h4">付款人姓名</h4>
			<p><input type="text" name="name" id="rechargeName"  value="" placeholder="请输入付款人姓名" /></p>
			<h4 class="padding_10 mui-h4">充值金额</h4>
			<p><input type="number" name="rechargeMoney" id="rechargeMoney"  value="" placeholder="请输入充值金额" /></p>
			<p class="mg_tb10 padding_lr10 red1">温馨提示：微信支付宝单笔限额3000，大额充值请用线下充值，微信支付宝、银行卡转账转账最低100起，</p>

			<p class="mui-text-center"><a href="javascript:void(0);" class="btn_big">确认</a></p>
		</div>
		<!--存款记录-->

	</div>
</div>
<!--银联支付弹窗-->
<div class="spring_box bank displayNone">
	<h4 class="text-center mg_top20">银联支付</h4>
	<form id="charge_form1">
	<div class="text-center bank_box">
		<p>
			<label for="">开户行：</label>
			<input type="text" name="" value="{$qrcode[3]['pic']}"  readonly="readonly"/>
		</p>
		<p class="mg_top10">
			<label for="">开户支行：</label>
			<input type="text" name="" value="{$qrcode[3]['picd']}" readonly="readonly"/>
		</p>
		<p class="mg_top10">
			<label for="">银行卡账号：</label>
			<input type="number" name="" value="{$qrcode[3]['path']}" readonly="readonly"/>
		</p>
		<p class="mg_top10">
			<label for="">收款人：</label>
			<input type="text" name="" value="{$qrcode[3]['sha1']}" readonly="readonly"/>
		</p>
		<p class="mg_top10">
			<label for="">充值金额：</label>
			<input type="hidden" name="recharge" value="3" />
			<input type="text" readonly="readonly" class="money" name="money" value="" />
		</p>
		<p class="mg_top10">
			<label for="">付款人姓名：</label>
			<input type="text" readonly="readonly" class="name" name="name" value="" />
		</p>
		<div class="dr_box">
			<p class="clearfix  mg_top20 padding_lr10">
				<a href="javascript:void(0);" onclick="closeAlert()" class="left basic_a bg_e color_55">取消</a>
				<a href="javascript:void(0);" onclick="chargeSub('charge_form1')"  class="right basic_a">确认</a>
			</p>
		</div>
	</div>
	</form>
</div>
<!--微信支付弹窗-->
<div class="spring_box wchat displayNone">
	<h4 class="text-center mg_top20">微信支付</h4>
    <form id="charge_form2">
	<div class="text-center dr_box">
		<img class="width100" src="{$qrcode[1]['qrcode']}"/>
		<p>扫一扫二维码，快速充值</p>
		<p class="mg_top10">
			<label for="">充值金额：</label>
			<input type="hidden" name="recharge" value="1" />
			<input type="text" readonly="readonly" class="money" name="money" value="" />
		</p>
		<p class="mg_top10">
			<label for="">付款人姓名：</label>
			<input type="text" readonly="readonly" class="name" name="name" value="" />
		</p>
		<p class="clearfix mg_top20 padding_lr10">
			<a href="javascript:void(0);" onclick="closeAlert()" class="left basic_a bg_e color_55">取消</a>
			<a href="javascript:void(0);" onclick="chargeSub('charge_form2');" class="right basic_a">确认</a>
		</p>
	</div>
    </form>
</div>
<!--支付宝支付弹窗-->
<div class="spring_box Alipay displayNone">
	<h4 class="text-center mg_top20">支付宝支付</h4>
    <form id="charge_form3">
	<div class="text-center dr_box">
		<img class="width100" src="{$qrcode[2]['qrcode']}"/>
		<p>扫一扫二维码，快速充值</p>
		<p class="mg_top10">
			<label for="">充值金额：</label>
			<input type="hidden" name="recharge" value="2" />
			<input type="text" readonly="readonly" class="money" name="money" value="" />
		</p>
		<p class="mg_top10">
			<label for="">付款人姓名：</label>
			<input type="text" readonly="readonly" class="name" name="name" value="" />
		</p>
		<p class="clearfix mg_top20 padding_lr10">
			<a href="javascript:void(0);" onclick="closeAlert()" class="left basic_a bg_e color_55">取消</a>
			<a href="javascript:void(0);" onclick="chargeSub('charge_form3');" class="right basic_a">确认</a>
		</p>
	</div>
    </form>
</div>

<script>
    var chargeSubCheck = true;
    function chargeSub(form){
        $('#'+form).serialize();
        var self = $('#'+form);
        var money = self.find('input[name=money]').val();
        if(money == ''){
            pop('金额不能为空');
            return false;
        }
        if(money < 100){
            pop('充值金额不能低于100');
            return false;
        }
        if(form == 'charge_form1'){
            if(money > 5000000){
                pop('充值金额不能高于5000000');
                return false;
            }
        }else{
            if(money > 10000){
                pop('充值金额不能高于10000');
                return false;
            }
        }
        layer.confirm('是否确认提交订单', {
            btn: ['确定','取消'] //按钮
        }, function(){
            if(chargeSubCheck) {
                chargeSubCheck = false;
                $.post("{:url('index')}", self.serialize(), success, "json");
                return false;
                function success(data) {
                    if (data.code == 1) {
                        self.find('input[name=money]').val('');
                        pop('提交成功');
                    } else {
                        pop(data.msg);
                    }
                    closeAlert();
                    setTimeout(function () {
                        chargeSubCheck = true;
                    },1000)
                }
            }
        }, function(){

        });
    }
    function closeAlert(){
        $('.spring_box').addClass('displayNone');
	}
	$('.btn_big').click(function(){
	    var way = $('input[name="way"]:checked').val();
	    var money = $('#rechargeMoney').val();
        var name = $('#rechargeName').val();
        if(money == ''){
            pop('金额不能为空');
            return false;
        }
        if(money < 100){
            pop('充值金额不能低于100');
            return false;
        }
        if(way == 3){
            if(money > 5000000){
                pop('充值金额不能高于5000000');
                return false;
            }
        }else{
            if(money > 10000){
                pop('充值金额不能高于10000');
                return false;
            }
        }
        if(name == ''){
            pop('付款人姓名不能为空');
            return false;
        }
        if(name.length > 25){
            pop('收款人姓名最大字符不能超过25');
            return false;
        }
	    if(way == 1){
            $('.wchat .money').val(money);
            $('.wchat .name').val(name);
            $('.wchat').removeClass('displayNone');
		}else if(way == 2){
            $('.Alipay .money').val(money);
            $('.Alipay .name').val(name);
            $('.Alipay').removeClass('displayNone');
		}else{
            $('.bank .money').val(money);
            $('.bank .name').val(name);
            $('.bank').removeClass('displayNone');
		}
	})
</script>
</body>
</html>