<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的账户</title>
		<link rel="shortcut icon" href="__IMG__/favicon.ico" />
		<link rel="bookmark" href="__IMG__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<script src="__JS__/jquery-3.2.1.min.js" ></script>
		<script src="__JS__/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/laydate.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/paging.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/index.js"></script>
		<script src="__JS__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="__JS__/area.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/layer.js" ></script>
		<script src="__JS__/common.js" ></script>
	</head>

	<body id="account">
		<div class="bg_ff">
			{include file="common/top" /}
		</div>
		<section>
		<ul class="account_list clearfix">
			<li class="active"><a href="{:url('index')}">充值</a></li>
			<li><a href="{:url('cash')}">提现</a></li>
			<li><a href="{:url('rechargelist')}">充值记录</a></li>
			<li><a href="{:url('cashlist')}">提现记录</a></li>
			<li><a href="{:url('manage')}">密码管理</a></li>
			<li><a href="{:url('addcard')}">添加银行卡</a></li>
		</ul>
		<div class="account_main active">
			<div class="table_box box1">
				<form action="" id="charge_form">
					<table border="" cellspacing="" cellpadding="" class="recharge_tab">
					<tr>
						<th colspan="2"class="text_left ">在线充值</th></tr>
					<tr>
						<td>自动充值须知：</td>
						<td class="text_left">
							<p>每天的充值处理时间为：全天24小时</p>
							<p>充值后，<span class="red1">请手动刷新</span>  你的余额及查看相关账变信息，若超过5分钟未上分，请于客服联系</p>
							<p>选择充值渠道，填写充值金额，点击[下一步]后，将有详细的文字说明</p>
						</td>
					</tr>
					<tr>
						<td>选择充值渠道：</td>
						<td class="text_left ">
							<span class="padding_10">
								<input type="radio" name="recharge" id="WeChat" value="1" checked="checked" />
								<label for="WeChat"> <img src="__IMG__/wx.png" alt="" class="vertical-align_m" /> </label>
							</span>
							<span class="padding_10">
								<input type="radio" name="recharge" id="Alipay" value="2" />
								<label for="Alipay"> <img src="__IMG__/zfb.png" alt="" class="vertical-align_m" /> </label>
							</span>
						</td>
					</tr>
					<!--<tr>-->
						<!--<td>银行类型：</td>-->
						<!--<td class="text_left ">-->
							<!--<span class="padding_10"><img src="__IMG__/zfb.png" alt="" /></span>-->
							<!--<p class="red1">信用卡用户请单次充值控制在3000元以内，并且不要用整数，储蓄卡用户不限制</p>-->
						<!--</td>-->
					<!--</tr>-->
					<tr>
						<td>充值金额：</td>
						<td class="text_left ">
							<input type="test" name="money" value="" maxlength="7" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
						    <span>( 单笔充值限额 最低：<i class="red1">100</i>  元，最高：<i class="red1">5000000</i>  元 )</span>
						</td>
					</tr>
					<!--<tr>-->
						<!--<td>充值金额(大写)：</td>-->
						<!--<td class="text_left "><span></span></td>-->
					<!--</tr>-->
					<tr>
						<td>验证码：</td>
						<td class="text_left ">
							<p class="code_box">
								<input type="text" name="verifyCode" id="yzm" value="" placeholder="验证码" />
								<span class="code1"><img style="width: 114px; height: 41px; cursor: pointer;" id="verify_img" src="{:captcha_src()}" alt="验证码" onclick="refreshVerify()" /></span>
							</p>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="text_left ">
							<p class="padding_10">
								<input type="button" value="下一步"  class="basic_a next_aa"/>
							   <input type="reset" value="重置" onclick="$('#charge_form')[0].reset()" class="basic_a"/>
							</p>
						</td>
					</tr>
				</table>
				</form>
			</div>
			<div class="recharge_box2">
				<div class="game_list">
					<div class="padding_10">
						<h4 class="padding_tb10"><strong class="red1">充值说明：</strong></h4>
						<h6>1.每次"充值编号"均不相同,务必将"充值编号"正确复制填写到引号汇款页面的"附言"栏目中;</h6>
						<h6>2.帐号不固定，转帐前请仔细核对该帐号;</h6>
						<h6>3.充值金额与网友转账金额不符，充值将无法到账;</h6>
						<h6>4.转账后如10分钟未到账，请联系客服，告知您的充值编号和您的充值金额及你的银行用户姓名。</h6>
					</div>
				</div>
				<div class="table_box ">
					<table border="" cellspacing="" cellpadding="" class="recharge_tab">
						<tr>
							<th colspan="3" class="text_left">充值信息</th>
						</tr>
							<tr>
								<td>扫二维码：</td>
								<td><h3><strong class="red1">推荐充值通道,秒到。</strong></h3></td>
								<td>
									<p><img id="chongzImg" src="__IMG__/f03.png"/></p>
									<!--<h3><strong class="red1">信用卡用户请单笔控制在3000以内,并且不要用整数,储蓄卡用户不限制.</strong></h3>-->
								</td>
							</tr>
							<tr>
								<td>收款户名：</td>
								<td colspan="2">亿鑫</td>
							</tr>
							<tr>
								<td>收款账号：</td>
								<td colspan="2" id="skzh"></td>
							</tr>
							<tr>
								<td>充值说明：</td>
								<td colspan="2">微信和支付宝帐户均为公司财务账户，充值前请添加好友或直接转帐，转账同时请备注订单号.</td>
							</tr>
							<tr>
								<td>订单号：</td>
								<td colspan="2" id="ddh"></td>
							</tr>
							<tr>
								<td>充值金额：</td>
								<td colspan="2"><span class="red1" id="czje"></span></td>
							</tr>
						<tr>
							<td colspan="3"><a href="{:url('rechargelist')}" class="basic_a" style="padding: 5px 60px">完成</a></td>
						</tr>
						</table>
					</div>
			</div>
		</div>
		</section>
		{include file="common/footer" /}
		<script>
            var checkPass = {
                checkMoneyPass: function(){
                    $.ajax({
                        url: "{:url('checkMoneyPass')}",
						data:{type:1},
                        type: 'POST',
                        dataType: "json",
                        success: function (data) {
                            if(data.code == 0){
                                pop(data.msg,data.url,3);
                            }
                        }
                    });
                }
            }
			var subCheck = true;
            function refreshVerify() {
                var ts = Date.parse(new Date())/1000;
                $('#verify_img').attr("src", "/captcha?id="+ts);
            }
			$(".next_aa").click(function(){
                $('#charge_form').serialize();
                var self = $('#charge_form');
                var money = self.find('input[name=money]').val();
                var verifyCode = self.find('input[name=verifyCode]').val();
                if(money == ''){
                    pop('金额不能为空');
                    return false;
                }
                if(money < 100){
                    pop('充值金额不能低于100');
                    return false;
                }
                if(money > 5000000){
                    pop('充值金额不能高于5000000');
                    return false;
                }
                if(verifyCode == ''){
                    pop('验证码不能为空');
                    return false;
                }
                if(subCheck) {
                    subCheck = false;
                    $.post("{:url('index')}", self.serialize(), success, "json");
                    return false;
                    function success(data) {
                        console.log(data);
                        if (data.code == 1) {
                            $(".table_box.box1").hide();
                            $(".recharge_box2").show();
                            $('#skzh').html(data.data.skzh);
                            $('#ddh').html(data.data.ddh);
                            $('#czje').html(data.data.czje);
                            $('#chongzImg').attr('src',data.data.img);
                        } else {
                            pop(data.msg);
                            refreshVerify();
                            subCheck = true;
                        }
                    }
                }
			})
            $(function () {
                checkPass.checkMoneyPass();
            })
		</script>
	</body>
</html>