<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>资金管理</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
	<style>
		.displayNone{ display: none;}
		.spring_box{
			width: 90%;
			position: fixed;
			background: #fff;
			box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
			left: 5%;
			top: 20%;
			padding: 10px;
			border-radius:5px ;
		}
		.dr_box{
			width: 50%;
			margin: auto;
			padding: 30px 0;
		}
		.bank_box{
			width: 100%;
			margin: auto;
			padding: 20px 0;
		}
		.bank_box input{
			width: 66%;
			margin: 0;
			height: 35px;
		}
		.bank_box label{
			width: 85px;
			color: #555;
			text-align: right;
		}
	</style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">资金管理</h1>
</header>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item1 " href="{:url('Index/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon1.png" alt="" /></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item1" href="{:url('Index/game')}" >
		<span class="mui-icon "><img src="__IMG__/wap/icon2.png" alt="" /></span>
		<span class="mui-tab-label">游戏大厅</span>
	</a>
	<a class="mui-tab-item1 mui-active" href="{:url('Account/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon3_r.png" alt="" /></span>
		<span class="mui-tab-label">资金管理</span>
	</a>
	<a class="mui-tab-item1" href="{:url('Center/index')}">
		<span class="mui-icon "><img src="__IMG__/wap/icon4.png" alt="" /></span>
		<span class="mui-tab-label">我的</span>
	</a>
</nav>
<div class="mui-content ">
	<div class="fund_top ">
		<dl class="clearfix">
			<dt class="left"><img class="width100"  src="__IMG__/wap/head.png" alt="" /></dt>
			<dd class="left">
				<h4 class="mui-h4 color_ff mg_top20">{$mem.gm_name}
					<a href="{:url('Center/conversion')}" class="basic_a mg_left10">资金转账</a>
				</h4>
				<p class="color_ff mg_top10">账户余额：<span>{$mem.money}</span></p>
			</dd>
		</dl>
	</div>
	<div class="fund_main ">
		<ul class="clearfix">
			<li><a href="{:url('index')}">存款</a></li>
			<li class="active"><a href="{:url('withdrawMoney')}">取款</a></li>
			<li><a href="{:url('rechargem')}">存款记录</a></li>
			<li><a href="{:url('cashm')}">取款记录</a></li>
		</ul>
		<!--取款-->
		<div class="funds_div active">
			{if empty($userCard)}
			<div>
				<div class="mui-content">
					<h4 class="padding_10 mui-h4">请绑定持卡本人的银行卡</h4>
					<form action="" id="card_form" method="post" class="addcard">
						<div class="bor_b padding_10 bg_ff">
							<label for="BankNum">卡号</label>
							<input type="number" name="num" value="" placeholder="银行卡卡号" />
						</div>
						<div class="bor_b padding_10 bg_ff">
							<label for="Bank">开户行</label>
							<!--<input type="number" name="" id="Bank" value="" placeholder="中国银行" />-->
							<select id="bankCode" name="bank" class="selectbox gray">
								<option value="农业银行">农业银行</option>
								<option value="建设银行">建设银行</option>
								<option value="工商银行">工商银行</option>
								<option value="招商银行">招商银行</option>
								<option value="交通银行">交通银行</option>
								<option value="民生银行">民生银行</option>
								<option value="兴业银行">兴业银行</option>
								<option value="中国银行">中国银行</option>
								<option value="邮政银行">邮政银行</option>
								<option value="光大银行">光大银行</option>
								<option value="中信银行">中信银行</option>
								<option value="广发银行">广发银行</option>
								<option value="浦发银行">浦发银行</option>
								<option value="华夏银行">华夏银行</option>
								<option value="平安银行">平安银行</option>
								<option value="北京银行">北京银行</option>
								<option value="上海银行">上海银行</option>
								<option value="农商银行">农商银行</option>
							</select>
						</div>
						<div class="bor_b padding_10 bg_ff">
							<label for="people">持卡人</label>
							<input type="text" name="fullName" id="people" value="" placeholder="姓名" />
						</div>
						<div class="bor_b padding_10 bg_ff">
							<label for="IDcard">开户网点</label>
							<input type="text" name="bank_branch" id="IDcard" value="" placeholder="开户网点" />
						</div>
						<p class="mg_top20 mui-text-center"><a href="javascript:void(0);" id="card_form_sub" class="btn_big">确认</a></p>
					</form>
				</div>
			</div>
			{else/}
			<div class="funds_yes">
				<form action="" method="post" id="cash_form" class="addcard">
					<div class="bor_b padding_10 bg_ff">
						<label for="">取款金额</label>
						<input id="BankNum" type="number" name="money" value="" maxlength="6" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入取款金额">
					</div>
					<div class="bor_b padding_10 bg_ff">
						<label for="">开户银行</label>
						<input readonly="readonly" name="" value="{$userCard.bank}">
					</div>
					<div class="bor_b padding_10 bg_ff">
						<label for="">持卡人</label>
						<input type="text" readonly="readonly" name="" value="{$userCard.name}">
					</div>
					<div class="bor_b padding_10 bg_ff">
						<label for="">密码</label>
						<input type="password" name="money_password" value="" placeholder="请输入资金密码">
					</div>
					<p class="mg_top20 mui-text-center"><a id="cash_form_sub" href="javascript:void(0);" class="btn_big">确认提交</a></p>
				</form>
			</div>
			{/if}

		</div>
	</div>
</div>
<script>
	var subCheck = true;
    $("#cash_form_sub").click(function(){
        $('#cash_form').serialize();
        var self = $('#cash_form');
        var money = self.find('input[name=money]').val();
        var money_password = self.find('input[name=money_password]').val();
        if(money == ''){
            pop('提款金额不能为空');
            return false;
        }
        if(money < 100){
            pop('提款金额不能低于100');
            return false;
        }
        if(money > 200000){
            pop('提款金额不能高于200000');
            return false;
        }
        if(money_password == ''){
            pop('资金密码不能为空');
            return false;
        }
        if(subCheck) {
            subCheck = false;
            $.post("{:url('cash')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    self.find('input[name=money]').val('');
                    self.find('input[name=money_password]').val('');
                    pop(data.msg);
                } else {
                    pop(data.msg);
                }
                setTimeout(function(){
                    subCheck = true;
				},1000)
            }
        }
    })

    $("#card_form_sub").click(function(){
        $('#card_form').serialize();
        var self = $('#card_form');

        // if(money == ''){
        //     pop('金额不能为空');
        //     return false;
        // }
        // if(money < 100){
        //     pop('充值金额不能低于100');
        //     return false;
        // }
        // if(money > 5000000){
        //     pop('充值金额不能高于5000000');
        //     return false;
        // }
        // if(verifyCode == ''){
        //     pop('验证码不能为空');
        //     return false;
        // }
        if(subCheck) {
            subCheck = false;
            $.post("{:url('addcard')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    // $("#add_car_box1").show();
                    // $("#card_form").hide();
                    pop(data.msg,data.url,3);
                } else {
                    pop(data.msg);
                    subCheck = true;
                }
            }
        }
    })
</script>
</body>
</html>