{extend name="common:base" /}

{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">广告管理</a></li>
                <li class="active">广告设置</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form class="ids" action="" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>广告ID</th>
                                <th>广告名称</th>
                                <th>logo</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='data' id='v'}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.ad_name}</td>
                                <td><img width="100" src="URL_IMG{$v.ad_url}"></td>
                                <td>
                                    <a href="{:url('advertise/edit',['id'=>$v['id']])}" class="fa fa-edit" title="编辑"></a>

                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </form>

                </div>
            </section>
        </div>

    </div>
</div>
<!--body wrapper end-->
{/block}
