{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">会员管理</a></li>
                <li class="active">添加会员</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    添加会员
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-horizontal adminex-form userForm form-post-user-add"  method="post" action="{:url('Member/add')}">
                            <!--<div class="form-group ">-->
                                <!--<label  class="control-label col-lg-2">用户电话</label>-->
                                <!--<div class="col-lg-6">-->
                                    <!--<input class=" form-control" name="mobile" value="" type="text" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">账号类型</label>
                                <i style="padding: 14px;">
                                    <input class="xb-icheck" type="radio" name="agent_user" id="agent_user2" value="1"/>
                                    <label for="agent_user2">总代理</label>
                                </i>
                                <i style="padding: 14px;">
                                    <input class="xb-icheck" type="radio" name="agent_user" id="agent_user3" value="2"/>
                                    <label for="agent_user3">一级代理</label>
                                </i>
                                <i style="padding: 14px;">
                                    <input class="xb-icheck" type="radio" name="agent_user" id="agent_user" value="3"/>
                                    <label for="agent_user">二级代理</label>
                                </i>
                                <i>
                                    <input type="radio" name="agent_user" id="agent_user1" value="0" />
                                    <label for="agent_user1">普通用户</label>
                                </i>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">彩票返点</label>
                                <div class="col-lg-6">
                                    <!--<select name="rebate" class="col-lg-6 form-control" style="width: 200px;">-->
                                        <!--{volist name='list' id='ll'}-->
                                        <!--<option value="{$ll.rebate},{$ll.bonus}">返点：{$ll.rebate}  奖金：{$ll.bonus}</option>-->
                                        <!--{/volist}-->
                                    <!--</select>-->
                                    <input type="text" class=" form-control" name="back_rebate" value="" />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label  class="control-label col-lg-2">账号</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="gm_name" value="" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">用户密码</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="password" value="" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">用户余额</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="money" value="0" type="text" />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label  class="control-label col-lg-2">真实姓名</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="true_name" value="" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">用户备注</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="remark" value="" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="hidden" name="id" value="">
                                    <button class="btn btn-primary ajax-post" target-form="form-post-user-add" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}
