{extend name="common:base" /}

{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="pull-left">

        <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('Users/index')}">用户管理</a></li>
                <li class="active">编辑银行卡</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    编辑银行卡
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-horizontal adminex-form userForm"  method="post" action="{:url('')}">
                            <input type="hidden" name="id" value="{$info.id}">
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">卡号类型</label>
                                <select name="bank" class="col-lg-6 form-control" style="margin-left: 14px;width: 200px;">
                                        <option value="0">请选择银行</option>
                                        <option value="农业银行" {if ($info.bank == '农业银行')}selected{/if}>农业银行</option>
                                        <option value="建设银行" {if ($info.bank == '建设银行')}selected{/if}>建设银行</option>
                                        <option value="工商银行" {if ($info.bank == '工商银行')}selected{/if}>工商银行</option>
                                        <option value="招商银行" {if ($info.bank == '招商银行')}selected{/if}>招商银行</option>
                                        <option value="交通银行" {if ($info.bank == '交通银行')}selected{/if}>交通银行</option>
                                        <option value="民生银行" {if ($info.bank == '民生银行')}selected{/if}>民生银行</option>
                                        <option value="兴业银行" {if ($info.bank == '兴业银行')}selected{/if}>兴业银行</option>
                                        <option value="中国银行" {if ($info.bank == '中国银行')}selected{/if}>中国银行</option>
                                        <option value="邮政银行" {if ($info.bank == '邮政银行')}selected{/if}>邮政银行</option>
                                        <option value="光大银行" {if ($info.bank == '光大银行')}selected{/if}>光大银行</option>
                                        <option value="中信银行" {if ($info.bank == '中信银行')}selected{/if}>中信银行</option>
                                        <option value="广发银行" {if ($info.bank == '广发银行')}selected{/if}>广发银行</option>
                                        <option value="浦发银行" {if ($info.bank == '浦发银行')}selected{/if}>浦发银行</option>
                                        <option value="华夏银行" {if ($info.bank == '华夏银行')}selected{/if}>华夏银行</option>
                                        <option value="平安银行" {if ($info.bank == '平安银行')}selected{/if}>平安银行</option>
                                        <option value="北京银行" {if ($info.bank == '北京银行')}selected{/if}>北京银行</option>
                                        <option value="上海银行" {if ($info.bank == '上海银行')}selected{/if}>上海银行</option>
                                        <option value="农商银行" {if ($info.bank == '农商银行')}selected{/if}>农商银行</option>               
                                </select>                                
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">发卡网点</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="bank_branch" value="{$info.bank_branch}" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">卡号</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="num" value="{$info.num}" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">持卡人</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" name="name" value="{$info.name}" type="text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="hidden" name="id" value="{$info.id}">
                                    <button class="btn btn-primary " type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
{/block}

