<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>团队账变</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">团队账变</h1>
</header>
<div class="mui-content ">
	<div class="bg_ff mg_tb10 padding_10 agent_box3">
		<form action="" id="accountForm" method="post">
		<p>
			<label> 账变类型 </label>
			<span class="select_box">
				<select name="typeTitle">
					<option value="0">全部类别</option>
					{volist name='expList' id='ell'}
					<option value="{$ell.id}">{$ell.name}</option>
					{/volist}
				</select>
			</span>
		</p>
		<p class="mg_top10">
			<label> 用户名 </label>
			<input type="hidden" name="target" value="2" />
			<input type="text" name="username" placeholder="用户名" />
			<a href="javascript:void(0);" id="querybutton" class="basic_a">搜索</a>
		</p>
		</form>
	</div>
	<div class="note_tab">
		<table border="" cellspacing="" cellpadding="">
			<tr>
				<th>用户名</th>
				<th>类型</th>
				<th>操作金额</th>
				<th>剩余金额</th>
				<th>操作时间</th>
				<th>备注</th>
			</tr>
			<tbody id="betCon">
			</tbody>
		</table>
	</div>
</div>
<script>
	$(function(){
	    setTimeout(function(){
            getData();
		},1000)
	})
    $('#querybutton').click(function(){
        getData();
    })
    function getData(page){
        var self = $('#accountForm');
        if(page){
            var url = page;
        }else{
            var url = "{:url('accRecord')}";
        }
        $.ajax({
            url: url,
            type: "POST",
            data: $('#accountForm').serialize(),
            success: function(n) {
                if (n.code == 1) {
                    var str = '';
                    $.each(n.data.data,function(k,v){
                        str += '<td>'+v.gm_name+'</td>';
                        str += '<td>'+v.name+'</td>';
                        str += '<td>'+v.money+'</td>';
                        str += '<td>'+v.balance+'</td>';
                        str += '<td>'+v.create_at+'</td>';
                        str += '<td>'+v.explain+'</td></tr>';
                    })
                    $('#betCon').html(str);
                    //$('#BetTable_paginate').html(n.page);
                    //pageAjax();
                }else{
                    $('#betCon').html('<tr class="even"><td valign="top" colspan="6" class="dataTables_empty">查无资料</td></tr>');
                    //$('#BetTable_paginate').html('');
                }
            },
            error: function() {
                $('#betCon').html('<tr><td colspan="6">查询失败，请稍后再试</td></tr>');
            },
            beforeSend: function() {
                $('#betCon').html('<tr><td colspan="6"><img src="/static/home/img/803.gif"><br>正在查询</td></tr>');
                //$('#BetTable_paginate').html('');
            },
            complete: function() {
                //hideloading()
            }
        })
    }
</script>
</body>

</html>