<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>手动注册</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">手动注册</h1>
</header>
<div class="mui-content">
	<form action="" method="post" id="form_reg">
	<div class="padding_10 bg_ff">
		<span>用户类型：</span>
		<div class="mui-input-row mui-radio ">
			<label>代理用户</label>
			<input name="agent_user" id="agent_user" type="radio" value="1" checked>
		</div>
		<div class="mui-input-row mui-radio ">
			<label>普通用户</label>
			<input name="agent_user" id="agent_user1" type="radio" value="0">
		</div>
	</div>
	<div class="addcard mg_tb10">
		<div class="bor_b padding_10 bg_ff">
			<label for="">新增用户</label>
			<input type="text" name="username" value="" placeholder="请输入新增用户账号" />
		</div>
		<div class="bor_b padding_10 bg_ff">
			<label for="">登录密码</label>
			<input type="password" name="password" value="" placeholder="请输入登录密码" />
		</div>
		<div class="bor_b padding_10 bg_ff">
			<label for="">确认密码</label>
			<input type="password" name="repassword" value="" placeholder="请再次确认密码" />
		</div>
		<div class="bor_b padding_10 bg_ff">
			<label for="">彩票返点</label>
			<select name="rebate">
                {volist name='list' id='ll'}
                <option value="{$ll.rebate},{$ll.bonus}">返点：{$ll.rebate}  奖金：{$ll.bonus}</option>
                {/volist}
			</select>
		</div>
		<p class="mg_top20 mui-text-center"><a href="javascript:void(0);" onclick="subAddUser()" class="btn_big">立即开户</a></p>
	</div>
	</form>
</div>
<script>
    var subAddUserCheck = true;
    function subAddUser(){
        $('#form_reg').serialize();
        var self = $('#form_reg');
        var rules = {
                agent_user : {
                    required : true
                },
                username : {
                    required : true,
                    stringCheck : true
                },
                password : {
                    required : true,
                    rangelength : [6,12],
                    stringCheck : true
                },
                repassword : {
                    required : true,
                    rangelength : [6,12],
                    equalTo : '#form_reg input[name=password]'
                },
                rebate : {
                    required : true
                }
            },
            messages = {
                agent_user : {
                    required : '请选择账号类型'
                },
                username : {
                    required : '请输入用户账号',
                    stringCheck : '用户账号只能包含英文、数字、下划线'
                },
                password : {
                    required : '请输入密码',
                    rangelength : '密码长度6到12之间',
                    stringCheck : '密码只能包含英文、数字、下划线'
                },
                repassword : {
                    required : '两次密码输入不一致',
                    rangelength : '两次密码输入不一致',
                    equalTo : '两次密码输入不一致'
                },
                rebate : {
                    required : '请选择返点等级'
                }
            };
        if(!check_validate(self,rules,messages).form()){
            return false;
        }
        if(subAddUserCheck) {
            subAddUserCheck = false;
            $.post("{:url('addDo')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    pop(data.msg, data.url, 1);
                } else {
                    pop(data.msg);
                }
                setTimeout(function(){
                    subAddUserCheck = true;
				},1000)
            }
        }
    }
</script>
</body>
</html>
