<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>代理中心</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">代理中心</h1>
</header>
<div class="mui-content ">
	<ul class="mui-table-view my_box3 mg_top10 ">
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:url('index?type=manageTeam')}">
				<span>会员管理</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:url('index?type=betRecord')}">
				<span>团队投注</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:url('index?type=report')}">
				<span>团队亏盈</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:url('index?type=accountRecord')}">
				<span>团队账变</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:url('index?type=add')}">
				<span>手动开户</span>
			</a>
		</li>
	</ul>
</div>
</body>

</html>