<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>团队盈亏</title>
	<script src="__JS__/wap/mui.min.js"></script>
	<link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
	<script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/layer.js" ></script>
	<script src="__JS__/common.js" ></script>
	<script type="text/javascript" charset="utf-8">
        mui.init();
	</script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">团队盈亏</h1>
</header>
<div class="mui-content ">
	<div class="bg_ff mg_tb10 padding_10 agent_box3">
		<form action="" id="yingkuiForm" method="post">
		<p class="mg_top10"> <label> 用户名 </label>  <input type="text" name="username" placeholder="用户名" /></p>
		<p class="mg_top10">
			<label> 时间 </label>
			<input type="text" class="demo-input" name="rangeTime" placeholder="请选择日期" id="rangeTime" lay-key="1">
			<a href="javascript:void(0);" id="querybutton" class="basic_a">搜索</a>
		</p>
		</form>
	</div>
	<div class="note_tab">
		<table border="" cellspacing="" cellpadding="">
			<tr>
				<th>用户名</th>
				<th>级别</th>
				<th>投注</th>
				<th>中奖</th>
				<th>返点</th>
				<th>亏盈</th>
			</tr>
			<tbody id="reportList">
				<tr><td valign="top" colspan="6" class="dataTables_empty">暂无数据</td></tr>
			</tbody>
		</table>
	</div>
</div>
<script src="__JS__/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/laydate.js" type="text/javascript" charset="utf-8"></script>
<script>
    laydate.render({
        elem: '#rangeTime',
        //type: 'datetime',
        theme: '#86384e',
        min: "{$time.start}",
        max: "{$time.end}",
        //range: '~',
        format: 'y-M-d'
    });
    $(function(){
        $('#querybutton').click(function(){
            getData("{:url('yingkui')}");
        });
        setTimeout(function(){
            $('#querybutton').click();
        },1000);
    });
    function getData(page){
        $('#yingkuiForm').serialize();
        var self = $('#yingkuiForm');
        if(page){
            var url = page;
        }else{
            var url = "{:url('yingkui')}";
        }
        $.ajax({
            url: url,
            type: "POST",
            data: self.serialize(),
            success: function(n) {
                if(n.code == 1){
                    var str = '';
                    $.each(n.data,function(k,v){
                        str += '<tr>';
                        str += '<td>'+v.name+'</td>';
                        str += '<td>'+v.rebate+'</td>';
                        str += '<td>'+v.bet+'</td>';
                        str += '<td>'+v.win+'</td>';
                        str += '<td>'+v.back+'</td>';
                        str += '<td>'+accAdd(accSub(v.win,v.bet),v.back)+'</td>';
                        str += '</tr>';
					});
                    $('#reportList').html(str);
                }else{
                    $('#reportList').html('<tr><td valign="top" colspan="6" class="dataTables_empty">查无资料</td></tr>');
                }
            },
            error: function() {
                //warningMessage("查询失败")
            },
            beforeSend: function() {
                $('#reportList').html('<tr><td colspan="6"><img src="/static/home/img/803.gif"><br>正在查询</td></tr>');
            },
            complete: function() {
                //hideloading()
            }
        })
    }
</script>
</body>
</html>