<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>代理中心</title>
		<link rel="icon" href="__IMG__/wap_new/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="__IMG__/wap_new/favicon.ico" type="image/x-icon" />
		<link href="__CSS__/wap_new/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__CSS__/wap_new/common.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/wap_new/index.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">代理中心</h1>
		</header>
		<div class="mui-content">
			<div class="money-top">
				<dl class="clearfix">
					<dt class="left"><img class="head" src="__IMG__/wap_new/head.png" alt="" /></dt>
					<dd class="left padding_lr10">
						<p class="color_ff mg_top10">{$mem.gm_name}</p>
						<p class="color_ff mg_top10">账户余额：￥<span>{:bcadd($mem.money,0,2)}</span></p>
					</dd>
				</dl>
			</div>
			<ul class="clearfix agent-box bg_ff">
				<li><a href="{:url('agent/team_page')}"><img src="__IMG__/wap_new/team01.png" alt="" /><p>团队流水查询</p></a></li>
				<li><a href="my-agent2.html"><img src="__IMG__/wap_new/team02.png" alt="" /><p>团队返红记录</p></a></li>
				<li><a href="{:url('agent/share')}"><img src="__IMG__/wap_new/team03.png" alt="" /><p>分享二维码</p></a></li>
			</ul>
		</div>
		<div class="msg-spring"></div>
		<script src="__JS__/wap_new/mui.min.js"></script>
		<script src="__JS__/wap_new/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/wap_new/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		
		
		
	    </script>
	</body>

</html>