<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人中心</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">个人中心</h1>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item1 " href="{:url('Index/index')}">
        <span class="mui-icon "><img src="__IMG__/wap/icon1.png" alt="" /></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item1" href="{:url('Index/game')}" >
        <span class="mui-icon "><img src="__IMG__/wap/icon2.png" alt="" /></span>
        <span class="mui-tab-label">游戏大厅</span>
    </a>
    <a class="mui-tab-item1" href="{:url('Account/index')}">
        <span class="mui-icon "><img src="__IMG__/wap/icon3.png" alt="" /></span>
        <span class="mui-tab-label">资金管理</span>
    </a>
    <a class="mui-tab-item1 mui-active" href="{:url('Center/index')}">
        <span class="mui-icon "><img src="__IMG__/wap/icon4_r.png" alt="" /></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>
<div class="mui-content ">
    <div class="fund_top ">
        <dl class="clearfix">
            <dt class="left"><img class="width100"  src="__IMG__/wap/head.png" alt="" /></dt>
            <dd class="left">
                <h4 class="mui-h4 color_ff mg_top20">{$memInfo.name}
                    <a href="{:url('Center/conversion')}" class="basic_a mg_left10">资金转账</a>
                </h4>
                <p class="color_ff mg_top10">账户余额：<span>{$memMoney.money}</span></p>
            </dd>
        </dl>
    </div>
    <ul class="mui-clearfix my_box2">
        <li><a href="{:url('Account/index')}"><img src="__IMG__/wap/my01.png" alt="" /><p>充值</p> </a></li>
        <li><a href="{:url('Account/withdrawMoney')}"><img src="__IMG__/wap/my02.png" alt="" /><p>提款</p> </a></li>
    </ul>
    <ul class="mui-table-view my_box3 mg_top10 ">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"href="{:url('myListm')}">
                <img src="__IMG__/wap/my03.png" alt="" />
                <span>个人资料</span>
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{:url('loginPasswordm')}">
                <img src="__IMG__/wap/my04.png" alt="" />
                <span>登录密码</span>
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{:url('moneyPasswordm')}">
                <img src="__IMG__/wap/my05.png" alt="" />
                <span>取款密码</span>
            </a>
        </li>
        <!--<li class="mui-table-view-cell">-->
            <!--<a class="mui-navigate-right">-->
                <!--<img src="__IMG__/wap/my06.png" alt="" />-->
                <!--<span>银行卡账号</span>-->
            <!--</a>-->
        <!--</li>-->
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{:url('Agent/index?type=listm')}">
                <img src="__IMG__/wap/my07.png" alt="" />
                <span>团队管理</span>
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"href="{:url('report/settled')}">
                <img src="__IMG__/wap/my08.png" alt="" />
                <span>今日已结</span>
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{:url('report/noterecord')}">
                <img src="__IMG__/wap/my09.png" alt="" />
                <span>下注记录</span>
            </a>
        </li>
    </ul>
    <ul class="mui-table-view my_box3 mg_top10 mg_b20">
        <li class="mui-table-view-cell">
            <!--<a class="mui-navigate-right" href="https://tb.53kf.com/code/client/10172642/1" target="_blank">-->
            <a class="mui-navigate-right" href="{$url}" target="_blank">
                <img src="__IMG__/wap/my10.png" alt="" />
                <span>客服</span>
            </a>
        </li>
    </ul>
    <p class="mg_top20 mui-text-center mg_b20"><a href="{:url('Login/out')}" class="btn_big ">退出</a></p>
</div>
</body>

</html>