<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>修改登录密码</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">修改登录密码</h1>
</header>
<div class="mui-content">
    <form action="" method="post" class="addcard" id="resetLoginPass">
        <div class="bor_b padding_10 bg_ff">
            <label for="">原密码</label>
            <input type="password" name="oldpassword" value="" placeholder="" />
        </div>
        <div class="bor_b padding_10 bg_ff">
            <label for="">新密码</label>
            <input type="password" name="password" value="" placeholder="输入6~16位的密码" />
        </div>
        <div class="bor_b padding_10 bg_ff">
            <label for="">确认新密码</label>
            <input type="password" name="repassword" value="" placeholder="请确认新密码" />
        </div>
        <p class="padding_10">新密码不能与原密码相同</p>
        <p class="mg_top20 mui-text-center"><a href="javascript:void(0);" id="subLogin" class="btn_big">提交</a></p>
    </form>
</div>
<script>
    var subLoginCheck = true;
    $("#subLogin").click(function(){
        $('#resetLoginPass').serialize();
        var self = $('#resetLoginPass'),
            rules = {
                oldpassword : {
                    required : true,
                    rangelength : [6,12],
                    stringCheck : true
                },
                password : {
                    required : true,
                    rangelength : [6,12],
                    stringCheck : true
                },
                repassword : {
                    required : true,
                    rangelength : [6,12],
                    equalTo : '#resetLoginPass input[name=password]'
                }
            },
            messages = {
                oldpassword : {
                    required : '请输入原始密码',
                    rangelength : '密码长度6到12之间',
                    stringCheck : '密码只能包含英文、数字、下划线'
                },
                password : {
                    required : '请输入密码',
                    rangelength : '密码长度6到12之间',
                    stringCheck : '密码只能包含英文、数字、下划线'
                },
                repassword : {
                    required : '两次密码输入不一致',
                    rangelength : '两次密码输入不一致',
                    equalTo : '两次密码输入不一致'
                }
            };
        if(!check_validate(self,rules,messages).form()){
            return false;
        }
        if(subLoginCheck) {
            subLoginCheck = false;
            $.post("{:url('subLoginReset')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    pop(data.msg);
                    self[0].reset();
                } else {
                    pop(data.msg);
                }
                setTimeout(function(){
                    subLoginCheck = true;
                },1000);
            }
        }
    })
</script>
</body>
</html>
