<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>取款密码</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">取款密码</h1>
</header>
<div class="mui-content">
    <form action="" method="post" class="addcard" id="setMoneyPass">
        <div class="bor_b padding_10 bg_ff">
            <label for="">原取款密码</label>
            <input type="password" name="oldpassword" value="" placeholder="" />
        </div>
        <div class="bor_b padding_10 bg_ff">
            <label for="">新取款密码</label>
            <input type="password" name="newpassword" value="" placeholder="" />
        </div>
        <div class="bor_b padding_10 bg_ff">
            <label for="">确认新密码</label>
            <input type="password" name="renewpassword" value="" placeholder="" />
        </div>
        <p class="padding_10">新密码不能与原密码相同</p>
        <p class="mg_top20 mui-text-center"><a href="javascript:void(0);" id="subSetMoney" class="btn_big">提交</a></p>
    </form>
</div>
<script>
    var subSetMoneyCheck = true;
    $('#subSetMoney').click(function () {
        var self = $('#setMoneyPass');
        if($('#id').css('display') == 'none'){
            var rules = {
                newpassword : {
                    required : true,
                    rangelength : [6,6],
                    stringCheck : true
                },
                renewpassword : {
                    required : true,
                    rangelength : [6,6],
                    equalTo : '#setMoneyPass input[name=password]'
                }
            };
        }else{
            var rules = {
                oldpassword : {
                    required : true,
                    rangelength : [6,6],
                    stringCheck : true
                },
                newpassword : {
                    required : true,
                    rangelength : [6,6],
                    stringCheck : true
                },
                renewpassword : {
                    required : true,
                    rangelength : [6,6],
                    equalTo : '#setMoneyPass input[name=newpassword]'
                }
            };
        }
        var messages = {
            oldpassword : {
                required : '请输入原始资金密码',
                rangelength : '密码长度需要6位',
                stringCheck : '密码只能包含英文、数字、下划线'
            },
            newpassword : {
                required : '请输入密码',
                rangelength : '密码长度需要6位',
                stringCheck : '密码只能包含英文、数字、下划线'
            },
            renewpassword : {
                required : '两次密码输入不一致',
                rangelength : '两次密码输入不一致',
                equalTo : '两次密码输入不一致'
            }
        };
        if(!check_validate(self,rules,messages).form()){
            return false;
        }
        if(subSetMoneyCheck) {
            subSetMoneyCheck = false;
            $.post("{:url('subMoneyReset')}", self.serialize(), success, "json");
            return false;
            function success(data) {
                if (data.code == 1) {
                    pop(data.msg);
                    self[0].reset();
                } else {
                    pop(data.msg);
                }
                setTimeout(function(){
                    subSetMoneyCheck = true;
                },1000)
            }
        }
    })
</script>
</body>
</html>
