<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人资料</title>
    <script src="__JS__/wap/mui.min.js"></script>
    <link href="__CSS__/wap/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/wap/index.css"/>
    <script src="__JS__/wap/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/time.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/wap/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/layer.js" ></script>
    <script src="__JS__/common.js" ></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">个人资料 </h1>
</header>
<div class="mui-content">
    <div class="bor_b padding_10 bg_ff mui-clearfix">
        <span class="mui-pull-left">账号</span>
        <span class="mui-pull-right">{$memInfo.name}</span>
    </div>
    <!--<div class="bor_b padding_10 bg_ff mui-clearfix">-->
        <!--<span class="mui-pull-left">真实姓名</span>-->
        <!--<span class="mui-pull-right">{$memInfo.name}</span>-->
    <!--</div>-->
    <!--<div class="bor_b padding_10 bg_ff mui-clearfix">-->
        <!--<span class="mui-pull-left">币名</span>-->
        <!--<span class="mui-pull-right">zxc123123z</span>-->
    <!--</div>-->
</div>
</body>
</html>
